<div class="row">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-body">
                <div class="lightBoxGallery">
                    <p>
                        <strong>Blueimp Gallery</strong>  is a touch-enabled, responsive and customizable image & video gallery, carousel and
                        lightbox, optimized for both mobile and desktop web browsers.
                        It features swipe, mouse and keyboard navigation, transition effects, slideshow
                        functionality, fullscreen support and on-demand content loading and can be extended to
                        display additional content types.
                    </p>
                    <a href="https://s3-us-west-2.amazonaws.com/2docstore1/test%2FMy+Documents%2FScreenshot+from+2016-07-03+11%3A40%3A48.png" title="Image from Unsplash" data-gallery=""><img src="images/gallery/1s.jpg"></a>
                    <a href="images/gallery/2.jpg" title="Image from Unsplash" data-gallery=""><img src="images/gallery/2s.jpg"></a>
                    <a href="images/gallery/3.jpg" title="Image from Unsplash" data-gallery=""><img src="images/gallery/3s.jpg"></a>
                    <a href="images/gallery/4.jpg" title="Image from Unsplash" data-gallery=""><img src="images/gallery/4s.jpg"></a>
                    <a href="images/gallery/5.jpg" title="Image from Unsplash" data-gallery=""><img src="images/gallery/5s.jpg"></a>
                    <a href="images/gallery/6.jpg" title="Image from Unsplash" data-gallery=""><img src="images/gallery/6s.jpg"></a>
                    <a href="images/gallery/7.jpg" title="Image from Unsplash" data-gallery=""><img src="images/gallery/7s.jpg"></a>
                    <a href="images/gallery/8.jpg" title="Image from Unsplash" data-gallery=""><img src="images/gallery/8s.jpg"></a>
                    <a href="images/gallery/9.jpg" title="Image from Unsplash" data-gallery=""><img src="images/gallery/9s.jpg"></a>
                    <a href="images/gallery/10.jpg" title="Image from Unsplash" data-gallery=""><img src="images/gallery/10s.jpg"></a>
                    <a href="images/gallery/1.jpg" title="Image from Unsplash" data-gallery=""><img src="images/gallery/1s.jpg"></a>
                    <a href="images/gallery/2.jpg" title="Image from Unsplash" data-gallery=""><img src="images/gallery/2s.jpg"></a>
                    <a href="images/gallery/3.jpg" title="Image from Unsplash" data-gallery=""><img src="images/gallery/3s.jpg"></a>
                    <a href="images/gallery/4.jpg" title="Image from Unsplash" data-gallery=""><img src="images/gallery/4s.jpg"></a>
                    <a href="images/gallery/5.jpg" title="Image from Unsplash" data-gallery=""><img src="images/gallery/5s.jpg"></a>
                    <a href="images/gallery/6.jpg" title="Image from Unsplash" data-gallery=""><img src="images/gallery/6s.jpg"></a>
                    <a href="images/gallery/7.jpg" title="Image from Unsplash" data-gallery=""><img src="images/gallery/7s.jpg"></a>
                    <a href="images/gallery/8.jpg" title="Image from Unsplash" data-gallery=""><img src="images/gallery/8s.jpg"></a>
                    <a href="images/gallery/9.jpg" title="Image from Unsplash" data-gallery=""><img src="images/gallery/9s.jpg"></a>
                    <a href="images/gallery/10.jpg" title="Image from Unsplash" data-gallery=""><img src="images/gallery/10s.jpg"></a>
                </div>
            </div>
            <div class="panel-footer">
                <i class="fa fa-picture-o"> </i> 20 pimages
            </div>
        </div>
    </div>
</div>

<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<!-- Local style for demo purpose -->
<style>

    .lightBoxGallery {
        text-align: center;
    }

    .lightBoxGallery a {
        margin: 5px;
        display: inline-block;
    }

</style>