<div ng-controller="profilecntrl">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div class="hpanel">
                <div class="panel-body">

                    <form name="simpleForm" novalidate id="simpleForm">

                        <div class="text-center m-b-md">
                            <a ng-click="profile.show(1)||setFlag('propic')||setFlag('pro_info')" class="btn" ng-class="{ 'btn-primary': step == 1, 'btn-default': step != 1}"> Profile Info</a>
                            <a ng-click="profile.show(2) || setFlag('secure') " class="btn" ng-class="{ 'btn-primary': step == 2, 'btn-default': step != 2}"> Security</a>
                            <a ng-click="profile.show(3)||setFlag('notify')" class="btn" ng-class="{ 'btn-primary': step == 3, 'btn-default': step != 3}"> Notifications</a>
                            
                        </div>


                        <div  ng-show="step == 1" class="p-m">
                            <div class="row">
                                <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3 text-center" ng-click="setFlag('propic')" style="padding-left: 0px; padding-right: 0px;">
                                    <div class="show-image">
                                        <img  class="img-circle  m-b m-t-md profilePicture" ng-src="{{profile_info.avatar}}" style=" object-fit: fill;" ng-hide=" progressPercentage<100">
                                    </div>

                                    <div class="row" style=" margin-left: 96px;   margin-top: -35px;" type="file" id="test"  ngf-select=" " ng-model="profile_info.avatar" ng-change="uploadAvatar(profile_info.avatar,profile_info._id)" ngf-accept="'image/*'" name="file" tooltip-placement="top" uib-tooltip="Click To Upload Profile Pic" ng-hide=" progressPercentage<100">
                                    <i class="pe-7s-camera"  style="font-weight: 900;font-size: x-large;"></i>
                                    </div>

                                    <div class="row"  ng-show="progressPercentage<=100">
                                          <div class="col-md-12 col-sm-12 col-12 col-xs-12"  >
                                          <span>Uploading</span>
                                          <span>{{progressPercentage}}%</span>
                                            <uib-progressbar value=" progressPercentage" type="warning" class="progress-small full" style=" height: 6px;"></uib-progressbar>
                                        </div>
                                   </div>

                                </div>


                                <div class="col-lg-9 col-md-9 col-xs-9 col-sm-9" id="fontWght">
                                    <div class="row" ng-click="setFlag('pro_info')">
                                    <form role="form" name="tenantForm" ng-click="setFlag('pro_info')" ng-submit="submitForm()" novalidate>

                                        <div class="form-group col-lg-12 col-md-12 col-xs-12 col-sm-12" >
                                            <label>First Name<span style="color:red">*</span></label>
                                            
                                            <input type="text" name="name" class="form-control" ng-model="profile_info.name" ng-minlength="3" placeholder="Enter first name" required/>
                                        </div>

                                        <div class="form-group col-lg-6 col-md-6 col-xs-6 col-sm-6 ">
                                            <label>Last Name</label>
                                           
                                            <input type="text" name="last_name" class="form-control" placeholder="Enter last name" ng-model="profile_info.last_name">
                                        </div>

                                        <div class="form-group col-lg-6 col-md-6 col-xs-6 col-sm-6" ng-class="{ 'has-error' : tenantForm.username.$invalid && !tenantForm.username.$pristine }">
                                            <label>Email</label>
                                            

                                            <input type="email" name="username" class="form-control" placeholder="Email Address" ng-model="profile_info.username" ng-readonly="profile_info.username" required/>
                                            <p ng-show="tenantForm.username.$error.required || tenantForm.username.$invalid && !tenantForm.username.$pristine" class="text-danger">
                                                        {{errorText.REQ}} {{errorText.VALID_EMAIL}}
                                                    </p>
                                        </div>

                                        <div class="form-group col-lg-6 col-md-6 col-xs-6 col-sm-6" ng-class="{ 'has-error' : tenantForm.contactnumber.$invalid && !tenantForm.contactnumber.$pristine }">
                                            <label>Contact Number {{profile_info.contactnumber}}<span style="color:red">*</span></label>
                                            
                                            <input type="text" name="contactnumber" placeholder="10 digit contact number" class="form-control" ng-model="profile_info.contactnumber" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" >

                                            <p ng-show="tenantForm.contactnumber.$invalid && !tenantForm.contactnumber.$pristine" class="text-danger" id="noteFont">
                                                        {{errorText.VALID_NUM}}
                                                    </p>
                                                    <div ng-messages="tenantForm.phone.$error">
                                                        <div  ng-message="pattern" id="noteFont">
                                                            {{errorText.MOBILE}}
                                                        </div>
                                                    </div>
                                        </div>

                                        <div class="form-group col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                            <label>Organization</label>
                                           
                                        
                                        <input type="text" class="form-control" name="organization" readonly="" ng-model="profile_info.organisation"  placeholder="{{profile_info.organization}}">
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

              <!--security form -->
                        <div ng-show="step == 2" class="p-m">

                            <div class="row" ng-click="setFlag('secure')" >
                                <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 text-center"   style="padding-left: 0px; padding-right: 0px;">
                                   <div class="show-image">
                                        
                                       <img  class="img-circle  m-b m-t-md profilePicture" ng-src="{{profile_info.avatar}}" style=" object-fit: fill;">
                                    </div>
                                </div>

                                <div class="col-lg-9 col-md-9 col-xs-9 col-sm-9" id="fontWght">
                                <form name="signupForm" ng-click="setFlag('secure')"  ng-submit="submitForm()" novalidate>
                                    <div class="row">
                                    
                                        <div class="form-group col-lg-12 col-md-12 col-xs-12 col-sm-12" ng-class="{'has-error':formData.password.$invalid && !formData.password.$pristine}">
                                            <label>Old Password</label>
                                            <input type="password" id="old_password" class="form-control" name="old_password" ng-model="formData.old_password" placeholder=" old password" required />
                                        </div>
                                        
                                        <div class="form-group col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                            <label>Password</label>
                                            <input type="password" id="password" class="form-control" name="password" ng-model="formData.password" placeholder="Password" ng-keypress="testStrength(formData.password);passStrength()" >
                                                    <p ng-show="signupForm.password.$error.minlength" class="text-danger" id="noteFont">
                                                        Password should be more than 5 letters
                                                    </p>
                                                    <p class="text-danger" ng-show="signupForm.password.$error.pattern" id="noteFont">
                                                        {{errorText.PW_ERR_PTRN}}
                                                    </p>
                                                    <p id="noteFont">{{note.NOTE_PW}}</p>
                                        </div>
                                                     <div class="form-group col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                            
                                                    <label>Confirm Password</label>
                                                    <input type="password" id="password_c" class="form-control" name="password_c" ng-model="formData.password_c" placeholder="confirm password"  required />
                                                    <p ng-show="formData.password_c!=formData.password" class="text-danger" >
                                                        {{errorText.PW_NOMATCH}}
                                                    </p>
                                                
                                            </div>
                                     <div>
                                        <label >
                                             <span>Strength:</span>

                                        <progress min="0"  max="4"  optimum:"2"
                                        value="{{strength}}" type="{{strength.type}}"  style="width: 282px;height: 7px;" ></progress>
                           
                                                 </label>
                                             </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>

                        <!--Notification page -->

                          <div ng-show="step == 3">


                            <div class="row text-center m-t-lg m-b-lg" ng-click="setFlag('notify')">
                           
                                <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 text-center"   style="padding-left: 0px; padding-right: 0px;">
                                   <div class="show-image">
                                        
                                       <img  class="img-circle  m-b m-t-md profilePicture" ng-src="{{profile_info.avatar}}" style=" object-fit: fill;">
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-9 col-xs-9 col-sm-9" ng-click="setFlag('notify')" id="fontWght">
                                    <table  style="width:100%">
                    <thead>
                    <tr>
                    <th style="width: 40%;"></th>
                    <th style="width: 38%;"> Email Alerts </th>
                    <th style="width: 36%;"> Mobile Alerts </th>
                    </tr>
                    </thead>
                    <tbody style="text-align: left;">
                    <tr>
                    <td style="padding-bottom: 5px;" > Reminder </td>
                    <td>
                            <div class="checkbox col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <input icheck type="checkbox"  ng-model="notify.notify.reminder.email">
                            </div>
                    </td>
                    <td>
                            <div class="checkbox col-lg-12">
                            <input icheck type="checkbox"  ng-model="notify.mobile">
                            </div>
                    </td>
                    </tr>
                    <tr style=" background-color: ghostwhite;" >
                    <td> File/Folder Level Alerts </td>
                    <td><div class="checkbox col-lg-12"></div></td>
                    <td><div class="checkbox col-lg-12"></div></td>
                    </tr>

                    <tr>
                    <td> Downloads </td>
                    <td>
                            <div class="checkbox col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <input icheck type="checkbox" ng-model="notify.download_email">
                            </div>
                    </td>
                    <td>
                            <div class="checkbox col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <input icheck type="checkbox"  ng-model="notify.download_mobile" >
                            </div>
                    </td>
                    </tr>

                    <tr>
                    <td> Uploads </td>
                    <td>
                            <div class="checkbox col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <input icheck type="checkbox" ng-model="notify.upload_email">
                            </div>
                    </td>
                    <td >
                            <div class="checkbox col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <input icheck type="checkbox"  ng-model="notify.upload_mobile">
                            </div>
                    </td>
                    </tr>

                    <tr>
                    <td> Version Changes</td>
                    <td>
                            <div class="checkbox col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <input icheck type="checkbox" ng-model="notify.ver_email">
                            </div>
                    </td>
                    <td>
                            <div class="checkbox col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <input icheck type="checkbox"  ng-model="notify.ver_mobile">
                            </div>
                                                </td>
                                             </tr>
                                         </tbody>
                                     </table>
                                </div>
                            </div>
                        </div>

                        <div class="text-right m-t-xs">
                            <button type="submit" class="btn w-xs btn-success" ng-disabled="tenantForm.$invalid" ng-click="submitMydata(user_profile)">Submit</button>

                            <button class="btn w-xs btn-danger2" type="button" ng-click="cancelFunc()" > Cancel </button>
                          
                        </div>


                    </form>

                </div>
            </div>
        </div>
    </div>

</div>

<style>
    
#noteFont{
    font-size: 11px;
   color: hsla(200, 18%, 46%, 0.84);
   margin-bottom: 0px;
}
#fontWght{
    font-weight: 600;
}
progress {
    /*background-color: #f3f3f3;*/
    border: 0;
    height: 2.5em;
    width: 100%;
}
progress::-webkit-progress-bar {
    background-color: #e0eaf0;
}
progress::-webkit-progress-value {
    background-color: #4CAF50;
}
progress[value^="1"]::-webkit-progress-value
{
   background-color: #d32F2F;
} 
progress[value^="2"]::-webkit-progress-value,
progress[value^="3"]::-webkit-progress-value{
  background-color: #FFEE58;
}
</style>

