	.profileSmall{
		text-align: center;
	    float: left;
	    width: 32px;
	    height: 32px;   
	    /*border: 1px solid rgb(218, 218, 218);*/
	    border-radius: 100%;
	    background-color: #e4e5e7;
	    font-size: 20px;
	    color: #909090;
	}
	.IfImageSmall{
	    width: 32px;
	    height: 32px;
	    object-fit: fill;
	    padding: 2px;
     }
	.groupSmall{
   		text-align: center;
	    float: left;
	    width: 32px;
	    height: 32px;   
	    border: 1px solid rgb(218, 218, 218);
	    border-radius: 100%;
	    /*margin-right: 7px;*/
	    font-size: 20px;
	    color: #909090;
	 	background-image:url("../images/grp.jpg")
    }
    .avatarMedium{
	    text-align: center;
	    float: left;
	    border: 1px solid rgb(218, 218, 218);
	    border-radius: 100%;
	    margin-right: 7px;
	    background-color: rgb(218, 218, 218);
	    margin-left: 23%;
	    height: 80px;
	    width: 80px;
	    margin-bottom: 15px;
     }
    .IfImage{
	    height: 80px;
	    width: 80px;
	    object-fit: fill;
	    padding: 2px;
     }
    .MediumLetter{
     	font-size: 52px;
	    font-weight: 700;
	    color: rgb(64, 83, 98);
     }
    .centerLetter{
     	font-size:15px;
     	font-weight:700;
     	color: rgb(64, 83, 98);
     }
   	.noteFont{
		font-size: 11px;
	    color: hsla(200, 18%, 46%, 0.84);
	    margin-bottom: 0px;
	}
	.fa-ban:before {
		content: "\f05e";
		color: red;
	}
	.fa-envelope-o:before {
		content: "\f003";
		color: #62cb31;
	}
	/*activity log*/
	.digi-bold {
     font-weight: 600; 
	}
	.font12{
		font-size:12px;
	}
	.digi-center{
		text-align:center;
	}
	.digi-sm-heading{
		border-bottom:4px solid #62CB31; font-size: 16px;
	}
	/*login and logout*/
   .LoggedOut{
        background-color: red;
    }
    .LoggedIn{
        background-color: #62CB31;
    }
    .digi-search{
	    height: 34px;
	    margin-bottom:2%;
    }
    .no-sort { 
    	color: white;
	    pointer-events: none!important; 
	    cursor: default!important; 
  	}
  	.digi-invite-box{
		height:257px;
		min-height:150px;
		overflow:auto;
  	}
 	/*report page*/
 	.scroller{
        height:500px;
        overflow-y: hidden;
        overflow-x: hidden;
        position: relative;
    }
	.digi-word-wrap{
	    max-width: 150px;
	    word-wrap: break-word;
	   /* max-height: 150px;
	    overflow: hidden;*/
	}
	.digi-textArea{
	    max-height:120px;
	    overflow:auto;
	    height: 34px;
	}
	 md-checkbox .md-container {
   top: 7px;
   }
   md-checkbox.md-checked .md-icon {
       background-color: rgb(98, 203, 49);
   }
   md-checkbox{
       margin-bottom: 0px;
       display: initial;
   }
   .digi-word-wrapP{
   	 max-width: 100%;
	    word-wrap: break-word;
   }