<div class="inmodal">
    <div class="color-line"></div>
    <div class="modal-header">
        <div class="panel-tools">
            <i class="fa fa-times" ng-click="check()"></i>
        </div>
        <h4 class="modal-title">{{documentHeading}}</h4>
    </div>
    <!-- chaithra here -->
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" >
                <div class="col-md-9 col-sm-9 col-xs-9 col-lg-9" style="padding-right:0px;min-height:600px" ng-show="!isImage" >
                   <a ng-href="{{viewurl}}" class="embed" style="text-align : center; display : block;"></a>
               </div>
            <div class="col-md-9 col-sm-9 col-xs-9 col-lg-9" ng-show="isImage" style="background-color:rgba(75, 75, 75, 0.85);text-align:center;min-height:600px">
                <div style="max-width:100%;margin-top:7%;max-height:500px; object-fit: contain;">
                    <img ng-src="{{viewurl}}" style="object-fit: contain;    max-height: 500px;max-width: 840px;margin: auto auto;">
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3" style="padding-left:0px;padding-right:0px">
                <div class="row">
                    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12" style="padding-top: 3%; padding-left: 3%;">
                        <div class="col-md-3 col-xs-3 col-lg-3 col-sm-3">
                            <a class="pull-left" style="margin-top:3%" >
                                <img ng-src="{{commentInfo.avatar}}" ng-init="checkIfImageExists(commentInfo,commentInfo.avatar)" ng-show="commentInfo.avatarflag" class="img-circle m-b profileSmall" alt="logo">
                                <div ng-hide="commentInfo.avatarflag" class="profileSmall">
                                    <span class="centerLetter">{{commentInfo.capital}}</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6" style="margin-right: 4%;margin-top: 3%; margin-top: 1; padding-left: 5px;">
                           <div class="row" style="font-size: 10px;">
                            <div class="media-body" style="font-size: 11px;">
                                <span class="font-bold" style="color:#3498DB" >{{commentInfo.name}}</span>
                            </div>
                            </div>
                            <div class="row" >
                                <p style="font-size: 10px;">{{commentInfo.role}}</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="text-align:right">
                            <!-- <span><i class="fa fa-times fa-2x topBarFaIcons" style="font-size: 9px;" ng-click="deleteComment(Commen)"></i></span> -->
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style=" padding-left: 9%;">
                    <p>{{fileDec}}</p>
                </div>
            </div>

            <div class="custom"> 
               <comments></comments>
           </div>
       </div>
       <!-- </div> -->
   </div>
</div>
</div>

</div>

<style>
    .modal-header {
        padding:15px;
        background: #f7f9fa;
    }
    .modal-body{
       padding:0px;
   }
   body.modal-open {
    width: 100%;
}
.profilePicture{
    height: 135px;
    width: 225px;
    object-fit: fill;
    padding: 2px;
}

/*img {
    max-width: 100%;
    height: auto;
}*/
.social-profilee img {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
.scrollerr {
    height:500px;
    overflow-y: hidden;
    /*overflow-x: hidden;*/
    position: relative;
}
.custom{
    background-color: #F1F3F5;
    margin-top: 5%;
}
.modal-dialog.modal-lg {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    height: 100px;
    width:100%;
}
input.break {
    word-wrap: break-word;
    word-break: break-all;
    height: 80px;
}
.imagesInfo{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: fill;
    paddi
    ng: 2px;
}

.gdocsviewer {
    background-color: rgba(75, 75, 75, 0.85);
}
</style>