<div class="inmodal" >
    <div class="color-line"></div>
   <div class="modal-header">

        <h4 class="modal-title"> Share : {{guestdoc.documentName}}</h4>
       
    </div>
<div class="modal-body">  
  <div class="row" style="margin-left:0px;margin-right:0px">
    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12" style="padding-top:10px">
        <div class="hpanel" >
            
            <div class="panel-body" style="background: #fff;border: 0px solid #e4e5e7;border-radius: 2px;padding: 10px;position: relative;">
            <div class="row">
            <form name="myForm" ng-submit="add(name)">                        
                <div class="col-md-2">
                    <label>Email</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control" type="email" name="email" ng-model="name">
                </div>
                <div class="col-md-2">                                    
                    <button class="btn btn-default btn-group-sm" ng-submit="add(name)">Add</button>
                </div>   
            </form>                                          
            </div>
            <br><br>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="key in emailList"> {{key}}
              <i class="fa fa-times pull-right" ng-click="delete($index)" ></i>
              </li>              
            </ul>                         
    </div>
  </div>                                                                                   
</div>
    <div class="modal-footer">

        <button type="button" class="btn btn-success" ng-click="share()">Share</button>
         <button type="button" class="btn btn-danger" ng-click="cancel()" >Cancel</button>
    </div>
</div>

<style>
.modal-header {
    padding:15px;
    background: #f7f9fa;
}
.modal-body{
    padding:0px;
}
body.modal-open {
width: 100%;
}
    .FirstLetterT  {
    /*text-align: center;
    float: left;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(218, 218, 218);
    border-radius: 100%;
    margin-left:15px;
    background-color: rgb(247, 249, 250);*/

    text-align: center;
    float: left;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(218, 218, 218);
    border-radius: 100%;
    margin-left:15px;
    background-color: whitesmoke;
    /*background-image:url("images/grp.jpg");*/
    }
    .FirstLetterT   {
        font-size: 27px;
        /*line-height: 38px;*/
        color: #909090;
    }
    #uibPicker .btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
        display: none;
    }    

</style>