<div class="inmodal" >
	<div class="color-line"></div>
	<div class="modal-header">
		<h4 class="modal-title">Add Users </h4>
	</div>
	<div class="modal-body">
		<div class="row" style="padding-top:10px;padding-bottom:10px">
			<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" >
				<input type="text" class="form-control input" placeholder="Search"  data-ng-model="searchUsers" style="height: 34px;margin-bottom:0px"/>
			</div>
		</div>
		<div class="row" style="padding-top:10px;padding-bottom:10px">
			<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" >
				<div class="hpanel hblue">
					<div class="panel-body no-padding" style="min-height:470px;"  ng-hide="getuserslist.length==0 || filtered_Users.length==0">
						<table id="example1" class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
							<thead>
								<tr>
									<th style="padding-left: 50px;">Name</th>
									<th>Email/Username </th>
									<th>Role</th>
									<th>Organization</th>
									<th id="nd" data-ng-hide="filtered_Users.length==0">
										<md-checkbox ng-model="selected" ng-change="All_user(selected,filtered_Users)" ng-true-value=true ng-false-value=false style="margin-top: 5px;">
										</md-checkbox>
									
									</th>
								</tr>
							</thead>
							<tbody>
								<tr dir-paginate="users in getuserslist |itemsPerPage: 8 | orderBy:sortname:true | filter:searchUsers as filtered_Users">
									<!-- img or first letter -->
									<td ng-init="imageExists(users)">
									<a style="padding-right: 10px;"> 
									<img ng-show="users.avatarflag" ng-src="{{users.avatar}}" alt="logo" class="img-circle m-b profileSmall">
									<div ng-hide="users.avatarflag" class="profileSmall">
										<span class="centerLetter">{{Capital_frst(users.name)}}</span>
									</div> </a>
									<a e-ng-readonly="true"> {{ users.name || 'empty' }} </a> <br>
                   <small style="padding-left: 10px;">{{sendTime(users.created)}}</small>
									</td>
									<!-- email -->
									<td> {{ users.username }} </td>
									<!-- status -->
									<td>{{ users.role }} </td>
									<!-- organisation -->
									<td> {{ users.organization }}</td>
									<!--checkbox -->
									<td>
<md-checkbox ng-model="users.isChecked" ng-change="selectuser(users,$index,user.isChecked)" ng-true-value=true ng-false-value=false style="margin-top: 5px;">
</md-checkbox>
									<!-- <input icheck type="checkbox" ng-model="users.isChecked" ng-true-value=true ng-false-value=false ng-change="selectuser(users,$index,user.isChecked)" > -->
									</td>
								</tr>
								<!-- <tfoot ng-show="filtered_Users.length>=5"> -->
								
							</tbody>
							<tfoot >
									<tr>
										<!-- <td colspan="5"> -->
											<!-- <ul class="pagination pull-right"></ul> -->
											
										<!-- </td> -->
									</tr>
								</tfoot>
						</table>
					</div>
					<div class="row pull-right">
						<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
					<dir-pagination-controls></dir-pagination-controls>
				</div>
				</div>
					
				</div>
				<div ng-show="getuserslist.length==0 || filtered_Users.length==0" style="text-align: center;height:100px; color: rgba(171, 168, 168, 0.69);  background: rgba(206, 202, 202, 0.33);">
						<br>
						<h2>No users to display</h2>
					</div>
			</div>
		</div>

	</div>
	<div class="modal-footer"  >
		<button type="button" class="btn btn-danger" ng-click="cancel()" >
			Close
		</button>
		<button type="button" class="btn btn-success" ng-click="saveuser()" ng-hide="getuserslist.length==0 || filtered_Users.length==0">
			Add
		</button>
	</div>
</div>

<style>
	.modal-header {
		padding: 15px;
		background: #f7f9fa;
	}
	.userImage {
		height: 30px;
		width: 30px;
		border-radius: 50px;
	}
	.userNameInvite {
		font-size: 12px;
		font-weight: 700;
	}
	.emailIDforInvite {
		font-size: 10px;
		font-weight: 500;
	}
	body.modal-open {
		width: 100%;
	}

	uib-modal-transclude .sizemodal {
		width: 800px
	}
	 #nd{
    color: white;
  }

</style>