<div class="inmodal">
    <div class="color-line"></div>
    <div class="modal-header">
        <h4 class="modal-title">Invite Contributors </h4>
    </div>
    <div class="modal-body">
        <!-- List all alphabets -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
              <button class="btn btn-default btn-xs" type="button" style="    margin-right: 2px;margin-left: 2px;" ng-repeat="alpha in alphabet" ng-click="searchReq(alpha)">
                  <i class="fa digi-bold">{{alpha}} </i>
              </button>
          </div>
      </div>

      <div class="row" style="padding-top:10px;padding-bottom:10px">   
        <div class="col-md-7 col-sm-7 col-xs-7 col-lg-7" >
            <input type="search" class="form-control input" placeholder="Search Users" ng-model="searchAll" ng-minlength="0" style="height:33px" />
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
           <span style="font-size:12px;margin-top:6px;padding-right:0px;">Select Role</span>
       </div>
       <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
        <select class="form-control m-b" ng-model="policy" ng-options="role._id as role.policy_name for role in roles">
        </select>
    </div>
</div>
<!-- hrfgy -->
<!-- rfgeyrfgt -->
<div class="row digi-invite-box">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <div class="hpanel">
            <div class="panel-body no-padding">
                 <ul class="list-group">
                   <li class="list-group-item" style="padding-left:10px" ng-init="checkIfContributor(user)" ng-repeat="user in users|filter:searchAll|startsWithLetter:letter | orderBy : 'name'"  ng-hide="loggedIn._id==user._id">
                            <div class="row">
                            <!-- the first letter of group-->

                            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6"  ng-init="checkIfImageExists(user)">
                            <a class="pull-left" >
<img ng-show="user.avatarflag" ng-src="{{user.avatar}}" class="img-circle m-b profileSmall" alt="logo"/>
<div ng-hide="user.avatarflag" class="profileSmall">
    <span class="centerLetter" >{{user.capital}}</span>
</div>
</a>
                                <span class="digi-bold " style="padding-left: 10px;"> {{user.name}}</span>
                               <br>
                                <span style="padding-left: 10px;" class="text-muted" >{{user.assignedRole}}</span>
                                <!-- </div> -->
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                                <span class="digi-bold "> {{user.organization}} </span>   
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
                                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 col-md-offset-6 col-xs-offset6 col-lg-offset-6" style="padding-left:0px">
                                   <md-checkbox class="md-checkbox-medium" ng-model="user.check"   ng-init="checkifSet(user)" ng-false-value="'false'"ng-change="changePolicy(user,policy)" >
                                  </md-checkbox>
                                </div>
                            </div>
                        </div>
</li>

<li class="list-group-item" ng-init="checkIfPolicy(grp)" style="padding-left:10px" ng-repeat="grp in G_list" >
       <div class="row">
                            <!-- the first letter of group-->

                            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                            <a class="pull-left" >
<div class="groupSmall">
    <span class="centerLetter" >{{Capital_frst(grp.Name)}}</span>
</div>
</a>
                                <span class="digi-bold " style="padding-left: 10px;">{{firstToUpperCase(grp.Name)}}</span>
                               <br>
                                <span style="padding-left: 10px;" class="text-muted" >{{grp.assignedPolicy}}</span>
                                <!-- </div> -->
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                                <span class="digi-bold "> {{grp.organization}} </span>   
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
                                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 col-md-offset-6 col-xs-offset6 col-lg-offset-6" style="padding-left:0px">
                                   <md-checkbox class="md-checkbox-medium" ng-model="grp.ischeck" ng-init="checkifSet(grp)" ng-false-value="'false'" ng-change="selectGroup(grp,policy,$index)" >
                                  </md-checkbox>
                                </div>
                            </div>
                        </div>

    <!-- <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
<div class="groupSmall">
    <span class="centerLetter" >{{Capital_frst(grp.Name)}}</span>
</div>
        </div> -->
        
       <!--  <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
            <div class="row" style="margin-top:-5px">
                <span class="userNameInvite">{{firstToUpperCase(grp.Name)}}</span>
            </div>
            <div class="row">
                <span class="emailIDforInvite">{{grp.assignedPolicy}}</span>
            </div>
        </div> -->
       
        <!-- <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
            <span class="userNameInvite"> {{ }} </span>   
        </div> -->
       <!--  <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 col-md-offset-6 col-xs-offset6 col-lg-offset-6" style="padding-left:0px">
            
             <md-checkbox class="md-checkbox-medium" ng-model="grp.ischeck" ng-true-value=true ng-false-value=false ng-change="selectGroup(grp,policy,$index)"  >
                                  </md-checkbox>
            </div>

        </div> -->
 <!--    </div> -->
</li>  
</ul>                    
       </div>
   </div>
</div>
</div> 
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" ng-click="cancel()" >Ok</button>
</div>
</div>

<style>
    .modal-header {
        padding:15px;
        background: #f7f9fa;
    }
  /*  .userImage{
        height: 30px;
        width: 30px;
        border-radius: 50px;
    }*/
  /*  .userNameInvite{
        font-size: 12px;
        font-weight: 700;
    }
    .emailIDforInvite{
        font-size: 10px;
        font-weight: 500;
    }*/
   body.modal-open {
        width: 100%;
    }
</style>