    <div class="inmodal">
        <div class="color-line"></div>
        <div class="modal-header custom_headr">
            <div class="row"> 
                <div class="  panel-tools" style="bottom: 11px;right: 5px;">
                    <i class="fa fa-times" ng-click="check()" ng-hide="isguestuser"></i>
                </div> 
                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                    <h4 class="modal-title">{{documentHeading}}</h4>
                    
                   
                </div>
                <!-- <div class="row"> -->
            </div>
            <!-- <div class ="row" style=" margin-bottom: 0px;width: 77%;"> -->
                <nav class="navbar navbar-default custom_nav" ng-hide="isguestuser" >
                    <div class="container-fluid cont_pad" >

                        <ul class="nav navbar-nav " style="width:100%;" >
                         <!-- <div class="col-md-10 col-sm-12 col-xs-12 col-lg-10  cont_pad"> -->
                         <!-- <div class="col-sm-8 col-xs-8"> -->
                         <!--     <div class="row" ng-hide="documentDetails.trash"> -->
                          <!-- <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1 " > --> 
                         <li ng-show="documentDetails.isFavourite.status"  ng-click="setFavourite(documentHeading)"  style=" background-color: #f7f9fa; padding-top: 2%; height: 0px;" >
                           <i class="fa fa-star fa-2x faFontSize custom_al icon_ed" uib-tooltip="Remove" tooltip-placement="top-left" style="color: #ffb606";> </i>
                            </li>
                           <li ng-show="!documentDetails.isFavourite.status" ng-show="!documentDetails.isFavourite.status" ng-click="setFavourite(documentHeading)"   style=" background-color: #f7f9fa; padding-top: 2%; height: 0px;" >
                           <i  class="fa fa-star-o fa-2x faFontSize custom_al icon_ed" uib-tooltip="Favourite" tooltip-placement="top-left"></i>
                            </li>
                           <!--  </div> -->
                            <!-- <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1 " >  -->
                           <li ng-show="documentDetails.isLocked.status" ng-click="findlock(documentHeading)"  style=" background-color: #f7f9fa; padding-top: 2%; height: 0px;" >
                           <i class="fa fa-lock fa-2x   faFontSize custom_al  icon_ed" uib-tooltip="Unlock"  tooltip-placement="top-left"></i>
                            </li>
                            <li ng-show="!documentDetails.isLocked.status"  ng-click="findlock(documentHeading)"  style=" background-color: #f7f9fa; padding-top: 2%; height: 0px;" >
                           <i class="pe-7s-unlock fa-2x  faFontSize custom_al icon_ed"  tooltip-placement="top-left" uib-tooltip="Lock" ></i>
                            </li>
                            <!-- </div> -->
                            <!-- <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1 "> -->
                          <li ng-click="setTimeline(documentHeading)"  style="
                          background-color: #f7f9fa ; padding-top: 2%; height: 0px;" >
                           <i class="pe-7s-clock fa-2x  faFontSize custom_al icon_ed"  tooltip-placement="top-left" uib-tooltip="Timeline" ></i>
                          </li>
                           <!--  </div> -->
                            <!--  <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2" ng-hide="checkIfSharedDoc()||checkIfFavDoc()||checkIfSearchDoc()||checkIfClientDoc() || (!documentDetails.allowUpload)" >
                            <button class="btn btn-default">
                             <i class="fa fa-upload" ng-show="documentDetails.type=='file' && documentDetails.allowUpload " ngf-select="addNewVersion($files,documentHeading)" 
                             ngf-max-height="1000" ngf-max-size="5000MB" tooltip-placement="top-right" uib-tooltip="Upload Version"> </i>
                            </button>
                         </div> -->
                         <!--  <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1 " > -->
                         <li ng-click="download(documentHeading)" style=" background-color: #f7f9fa ; padding-top: 2%; height: 0px;" >
                            <i class="pe-7s-download fa-2x  faFontSize custom_al icon_ed"  tooltip-placement="top-left" uib-tooltip="Download"></i>
                            </li>
                            <!-- </div> -->
                         <!-- <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1 " > -->
                           <li ng-click="deleteFolder(documentHeading)"  style=" background-color: #f7f9fa; padding-top: 2%; height: 0px;" >
                            <i  class="fa fa-trash-o fa-2x topBarFaIcons custom_al icon_ed" tooltip-placement="top-left" uib-tooltip="Delete"></i>
                            </li>
                            <!-- </div> -->
                           <!--  <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1 ">  -->
                           <li  ng-click="openProperties(documentHeading)" style=" background-color: #f7f9fa ; padding-top: 2%; height: 0px;" >
                         <i class="pe-7s-note2 fa-2x faFontSize custom_al icon_ed" tooltip-placement="top-left" uib-tooltip="Properties"  ></i>
                            </li>

                            <li class="navbar-nav pull-right"
                                 ng-click="navigate(showcomments)" style=" background-color: #f7f9fa; padding-top: 2%; height: 0px;" >

                                    <i class="pe-7s-comment icon_ed  " tooltip-placement="top-right" uib-tooltip="Comments""> </i>
                                    
                                <!-- </button> -->
                            </li>
                           <!--  </div> -->
                        </ul>
                    </div>
                </nav>
            <!-- </div> -->

<!-- <i class="fa fa-star fa-2x faFontSize "></i> -->
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4"></div>
    </div>
    </div>
    <!-- chaithra -->
    <div class="modal-body">
    <div class="row">
      <!-- <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" > class="col-md-9 col-sm-9 col-xs-9 col-lg-9"    ng-class=checkComments(showcomments)-->
        <div  ng-class=checkComments(showcomments) style="padding-right:0px;min-height:600px" ng-show="!isImage" >
         <iframe src="{{viewurl}}" width="700" height="600" style="width:100%"></iframe>
     </div>

     <div ng-class=checkComments(showcomments) ng-show="isImage" style="background-color:rgba(75, 75, 75, 0.85);text-align:center;min-height:600px">
        <div style="max-width:100%;margin-top:7%;max-height:500px; object-fit: contain;">
            <img ng-src="{{imageUrl}}" style="object-fit: contain; max-height: 500px;max-width: 840px;margin: auto auto;">
        </div>
    </div>
<!-- class="col-md-3 col-sm-3 col-xs-3 col-lg-3" -->
    <div  class="col-md-3 col-sm-3 col-xs-3 col-lg-3" id="one" ng-hide="!showcomments"  class='animate-hide'>
        <div class="social-form">
            <div class="media social-profile" style="margin-top:12px;margin-bottom: 12px;">
                <a class="pull-left">
                    <img ng-src="{{commentInfo.avatar}}" ng-init="checkifImageExists(commentInfo,commentInfo.avatar)" ng-show="commentInfo.avatarflag" class="img-circle m-b profileSmall" alt="logo">
                    <div ng-hide="commentInfo.avatarflag" class="profileSmall">
                        <span class="centerLetter">{{commentInfo.capital}}</span>
                    </div>
                </a>

                <div class="media-body">
                    <span class="font-bold">{{commentInfo.name}}</span>
                    <br>
                    <small class="text-muted">{{commentInfo.role}}</small>
                </div>
            </div>  

            <div class="row"'> 
                <comments></comments>
            </div>                  
        </div>
             <!--    <div class="row" style="padding-top: 12px;">
                    <div class="col-md-2 col-xs-2 col-lg-2 col-sm-2">
                        <a class="pull-left">
                        <img ng-src="{{commentInfo.avatar}}" ng-init="checkIfImageExists(commentInfo,commentInfo.avatar)" ng-show="commentInfo.avatarflag" class="img-circle m-b profileSmall" alt="logo">
                        <div ng-hide="commentInfo.avatarflag" class="profileSmall">
                            <span class="centerLetter">{{commentInfo.capital}}</span>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-10 col-xs-10 col-lg-10 col-sm-10">
                        <span class="font-bold">{{commentInfo.name}}</span>
                        <small class="text-muted">{{commentInfo.role}}</small>
                    </div>
                   
                </div>
                <div class="row"> 
                    <comments></comments>
                </div> -->
            </div>
        <!-- </div> -->
    </div>
    </div>
    </div>

<style>
    .modal-header {
        padding:15px;
        background: #f7f9fa;
    }
    .modal-body{
     padding:0px;
 }
 body.modal-open {
    width: 100%;
}
.custom{
    background-color: #F1F3F5;
    margin-top: 5%;
}
.modal-dialog.modal-lg {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    height: 100px;
    width:100%;
}
input.break {
    word-wrap: break-word;
    word-break: break-all;
    height: 80px;
}
.gdocsviewer {
    background-color: rgba(75, 75, 75, 0.85);
}
/*.btn:hover 
{
    background-color:#f7f9fa;
    border-color: #f7f9fa;
    color:#60625;
}*/
/*.normal{
    background-color:#f7f9fa; 
    border:none;
}*/
.custom_headr{
    padding-bottom: 0px;
    padding-left: 15px;
}
.custom_nav{
    margin-bottom: 0px ;
    width: 76%;
    border-left-width: 1px;
    border-color: #f7f9fa;
}
.custom_al{
    padding-right: 20px;
}
.cont_pad{
    padding-left: 0px;padding-right: 0px;
}
.icon_ed{
    align-self: auto;
    /* font-weight: 100; */
    font-size: 25px;
  
}

.animate-hide {
 -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
  /*line-height:20px;*/
  opacity:1;
  /*padding:1px;*/
  /*border:1px solid black;*/
  /*background:white;*/
  position: absolute;
  /*left: 0;*/
}

.animate-hide.ng-hide {
  left: 100%;
  opacity:0;
  padding:0 10px;
}
/*.com_ed{
   padding-top: 8px;
}*/
.navbdr_clr{
    border-color: #f7f9fa;
}
/*.btn_pad{
    padding-bottom: 11px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 24px;

}*/
.btn-default{
    background-color: #f7f9fa;
    border-color: #f7f9fa;
    color: #606265;
}
/*.btn_padd{
    padding-bottom: 11px;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 24px;
}*/
.btn-default.focus {
    color: none;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}
</style>