<div class="inmodal" ng-controller="helpCtrl">
	<div class="color-line"></div>
	<div class="modal-header">
        <h4 class="modal-title">Invite Contributors </h4>
    </div>
    <div class="modal-body">
    	<table id="example1" class="footable table table-stripped toggle-arrow-tiny" data-page-size="100">
    		<thead>
					<tr>
						<th>Role</th>
						<th style="text-align: center;">Site Admin</th>
						<th style="text-align: center;">Publisher</th>
						<th style="text-align: center;">Owner</th>
						<th style="text-align: center;">Co-Owner</th>
						<th style="text-align: center;">Editor</th>
						<th style="text-align: center;">Provider</th>
						<th style="text-align: center;">Viewer</th>
					</tr>
			</thead>
			<tbody>
					<tr>
						<td>Add Clients</td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-remove" aria-hidden="true" style="color: red"></span></td>
						<td style="text-align: center;"><span class="fa fa-remove" aria-hidden="true" style="color: red"></span></td>
						<td style="text-align: center;"><span class="fa fa-remove" aria-hidden="true" style="color: red"></span></td>
						<td style="text-align: center;"><span class="fa fa-remove" aria-hidden="true" style="color: red"></span></td>
						<td style="text-align: center;"><span class="fa fa-remove" aria-hidden="true" style="color: red"></span></td>
						<td style="text-align: center;"><span class="fa fa-remove" aria-hidden="true" style="color: red"></span></td>
					</tr>
					<tr>
						<td>Add Directories</td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-remove" aria-hidden="true" style="color: red"></span></td>
						<td style="text-align: center;"><span class="fa fa-remove" aria-hidden="true" style="color: red"></span></td>
						<td style="text-align: center;"><span class="fa fa-remove" aria-hidden="true" style="color: red"></span></td>
					</tr>
					<tr>
						<td>Manage Users</td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-remove" aria-hidden="true" style="color: red"></span></td>
						<td style="text-align: center;"><span class="fa fa-remove" aria-hidden="true" style="color: red"></span></td>
						<td style="text-align: center;"><span class="fa fa-remove" aria-hidden="true" style="color: red"></span></td>
						<td style="text-align: center;"><span class="fa fa-remove" aria-hidden="true" style="color: red"></span></td>
						<td style="text-align: center;"><span class="fa fa-remove" aria-hidden="true" style="color: red"></span></td>
						<td style="text-align: center;"><span class="fa fa-remove" aria-hidden="true" style="color: red"></span></td>
					</tr>
					<tr>
						<td>Share</td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color
							: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-remove" aria-hidden="true" style="color: red"></span></td>
						<td style="text-align: center;"><span class="fa fa-remove" aria-hidden="true" style="color: red"></span></td>
						<td style="text-align: center;"><span class="fa fa-remove" aria-hidden="true" style="color: red"></span></td>
					</tr>
					<tr>
						<td>View</td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
					</tr>
					<tr>
						<td>Upload</td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-remove" aria-hidden="true" style="color: red"></span></td>
					</tr>
					<tr>
						<td>Download</td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-remove" aria-hidden="true" style="color: red"></span></td>
						<td style="text-align: center;"><span class="fa fa-remove" aria-hidden="true" style="color: red"></span></td>
					</tr>
					<tr>
						<td>Edit/Comment</td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-remove" aria-hidden="true" style="color: red"></span></td>
						<td style="text-align: center;"><span class="fa fa-remove" aria-hidden="true" style="color: red"></span></td>
					</tr>
					<tr>
						<td>Delete</td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-check" aria-hidden="true" style="color: green"></span></td>
						<td style="text-align: center;"><span class="fa fa-remove" aria-hidden="true" style="color: red"></span></td>
						<td style="text-align: center;"><span class="fa fa-remove" aria-hidden="true" style="color: red"></span></td>
						<td style="text-align: center;"><span class="fa fa-remove" aria-hidden="true" style="color: red"></span></td>
					</tr>
				</tbody>
    	</table>
    </div>
</div>