<div class="inmodal">
    <div class="color-line"></div>
   <div class="modal-header">

        <h4 class="modal-title">Timeline : {{timelineDoc.documentName}}</h4>
       
    </div>
<div class="modal-body">  
  <div class="row" style="margin-left:0px;margin-right:0px">
    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12" style="padding-top:10px">
        <div class="hpanel" >
            
            <div class="panel-body" style="background: #fff;border: 0px solid #e4e5e7;border-radius: 2px;padding: 10px;position: relative;">
                    <div class="row">
                            <div class="col-md-12 ">
                                         <label>
                                            Timeline message :
                                        </label>
                                        <div  uib-tooltip="Click To Edit" tooltip-placement="top" >
                                        <a   editable-textarea="reminder_msg" e-rows="2" e-cols="20" tooltip="Click here to edit Timeline" tooltip-trigger="mousehover" > <pre style="margin-bottom: 0px;">{{ reminder_msg }}</pre></a> 
                                        </div>
                            </div>
                    </div>
            <div class="row">
                            <!--       -->        
                <div class="col-md-6" style="margin-bottom: 0px;padding-top: 2%;">
                <label > When  <span style="color:red"> *</span></label>
                <input type="date" class="form-control" id="comment" name="StartDate" ng-model="timeline.when" ng-required="true"  min="{{currentDate | date:'yyyy-MM-dd'}}" />
                <span style="color: rgb(118, 117, 117);font-size: 9px;">Choose the start date for the Timeline.</span>
                </div>

            <div class="col-md-3" style="margin-top: 3%;margin-bottom: 0px;">
                <uib-timepicker ng-model="timeline.when" id="uibPicker" hour-step="hstep" minute-step="mstep" show-meridian="false" ></uib-timepicker>
            </div>
                <div class="col-md-3" ng-model="timeline.status" ng-init="timeline.status=true" ng-click="checkSwitch(timeline)" style="padding-left: 0px; padding-top: 6%;">
                <div ng-show="timeline.recurring"  tooltip-placement="top" uib-tooltip="Click add recurring event" ><i class="fa fa-toggle-on fa-2x" style="color: #62cb31;"></i>
                    <span>Recurring</span>
                </div>
                <div ng-show="!timeline.recurring" tooltip-placement="top" uib-tooltip="Click remove recurring event" ><i class="fa fa-toggle-off fa-2x" style="color:#e74c3c;"></i>
                    <span>Non Recurring</span>
                </div>
                </div>
            </div>
            <div class="row">
                 <div class="col-md-12 form-group" ng-show="timeline.recurring==true" id="custom" style="padding-left:0px">
                <!-- Start here -->                                                    
                    
                                                    <div class="col-md-4 " >
                                                       <label> Repeats :</label>
                                                        <select ng-model="timeline.repeat"  ng-options="obj.id as obj.repeat for obj in repeated"
                                                        class="form-control"  >
                                                        </select>
                                                        <p style="color: rgb(118, 117, 117);font-size: 9px;">
                                                            Please select how often you want to be reminded.
                                                        </p>
                                                    </div>
                                                    <div class="col-md-2 form-group" id="custom" style="padding-top:4%">
                                                       
                                                            <div class="radio radio-inline" ng-model="timeline.checkboxModel">
                                                            <div class="row radio-success">
                                                                <input type="radio" id="inlineRadio1" ng-model="timeline.checkboxModel" ng-value=false name="radioInline" checked="checked"/>
                                                                <label for="inlineRadio1" style="font-size: 12px;font-weight: 700;"> Never </label>
                                                                </div>
                                                                <div class="row  radio-success">
                                                                <input type="radio" id="inlineRadio2" ng-model="timeline.checkboxModel" ng-value=true name="radioInline" >
                                                                <label for="inlineRadio2" style="font-size: 12px;font-weight: 700;"> Until </label>
                                                                </div>
                                                            </div>
                                                                                                       
                                                    </div>
                                                    <div class="form-group" >
                                                        <div class="col-md-6" ng-show="timeline.checkboxModel==true" id="custom">
                                                            <label > Until :</label>
                                                            <input type="date" class="form-control" id="comment" name="EndDate" ng-model="timeline.untilDate" />
                                                            <uib-timepicker ng-show="false" ng-model="timeline.when" id="uibPicker" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
                                                            <span style="color: rgb(118, 117, 117);font-size: 9px;">Choose the end date for the Timeline.</span>
                                                            <!-- <p class="errorMessage">{{err_msg}}</p> -->
                                                            <span class="errorMessage" ng-show="reminderForm.EndDate.$error.date || enddateFlag">'Enter a valid date.'</span>
                                                        </div>
                                                    </div>
                <!-- Ends Here -->
                 </div> 

            </div>
            <div class="row">
                   <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" ng-show="timeline.recurring==true && timeline.repeat==2" >
                                                <div   class="FirstLetterT "  style="margin-top: 0px;" ng-repeat="week in weeks" ng-click="selectWeek(week)">
                                                     <span style="font-size:15px;font-weight:700;color: rgb(64, 83, 98);" ><span ng-show="week.check"><b style="    color: #62CB31;  font-weight: 800;font-size: 15px;">✓</b></span>{{week.day}}</span>
                                                </div>                                        
                                            </div>   
            </div>
            </div>
           
        </div>
    </div>
  </div>                                                                                   
</div>
    <div class="modal-footer">

        <button type="button" class="btn btn-success" ng-click="saveTimeline(timeline)" ng-hide="updateflag">Save</button>
        <button type="button" class="btn btn-info" ng-click="updateTimeline(timeline)" ng-show="updateflag">Update</button>
         <button type="button" class="btn btn-danger" ng-click="cancel()" >Cancel</button>
    </div>
</div>

<style>
.modal-header {
    padding:15px;
    background: #f7f9fa;
}
.modal-body{
    padding:0px;
}
body.modal-open {
width: 100%;
}
    .FirstLetterT  {
    /*text-align: center;
    float: left;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(218, 218, 218);
    border-radius: 100%;
    margin-left:15px;
    background-color: rgb(247, 249, 250);*/

    text-align: center;
    float: left;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(218, 218, 218);
    border-radius: 100%;
    margin-left:15px;
    background-color: whitesmoke;
    /*background-image:url("images/grp.jpg");*/
    }
    .FirstLetterT   {
        font-size: 27px;
        /*line-height: 38px;*/
        color: #909090;
    }
    #uibPicker .btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
        display: none;
    }    
#textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 28px;
    overflow: auto;
    padding: 2px;
    resize: both;
    width: 400px;
}
    .editable-wrap .editable-controls > input, .editable-wrap .editable-controls > select, .editable-wrap .editable-controls > textarea {
        width: 158%;
    }
</style>