<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>
<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>
<div id="wrapper" ng-controller="usergroupctrl">
	<!-- heading for the manage users -->
	<div small-header class="normalheader transition" ng-init="ManageGroup()">
		<div class="hpanel" tour-step order="1" title="Page header" content="Place your page title and breadcrumb. Select small or large header or give the user choice to change the size." placement="bottom">
			<div class="panel-body">
				<a ng-click="small()" href="">
					<div class="clip-header">
						<i class="fa fa-arrow-up"></i>
					</div>
				</a>
				<div id="hbreadcrumb" class="pull-right m-t-lg">
					<ol class="hbreadcrumb breadcrumb">
						<li ng-repeat="bread in BreadCrumbs" style="cursor:pointer">{{bread}}</li>
					</ol>
				</div>
				<h2 class="font-light m-b-xs">Manage Groups</h2>
			</div>
		</div> 
	</div>
	<!--End of Heading -->
 	<!-- Group List will be here -->
 	
     <div class="content" animate-panel effect="fadeInRight">
     	 <div class="row">
     	 	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     	 		<!-- <div class="panel-body"> -->
                <div class="hpanel hblue">
                	 <div class="panel-heading hbuilt">
                	  	<div class="row">
                	  		<div class="col-lg-9">
            	  				<input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table" data-ng-model="searchText" style="height: 34px;margin-bottom:0px">
                	  		</div>
                	 	</div>
                	 </div>
                </div>
     	 	</div>
     	 </div>
	</div>
	<!--End of Group List -->
</div>