<div class="back-link">
    <!-- <a ui-sref="dashboard" class="btn btn-primary">Back to Dashboard</a> -->
</div>
<div class="error-container">
    <i class="pe-7s-way text-success big-icon"></i>
    <h1>500</h1>
   <h2> <strong>You might have lost your way!</strong></h2>
    <!-- <strong>Internal Server Error</strong> -->
    <!-- <p>
        The server encountered something unexpected that didn't allow it to complete the request. We apologize.
    </p> -->
    <!-- <a ui-sref="dashboard" class="btn btn-xs btn-success">Go back to dashboard</a> -->
    <p>Please contact support@2docstore.com for directions </p>
</div>

<style>
footer.footer.ng-scope {
display: none;
}
</style>