<div class="color-line"></div>



<div id="wrapper" style="margin-left:0px">
<div  ng-controller="forgotpasswordCntrl">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <div class="text-center m-b-md">
                <h3 class="firstcaps"> Forgot Password For {{tenantInfo.clientId}}</h3>
            </div>
<div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
       </div>

<!--description-->
    <div class="col-md-12 col-lg-4 col-xs-12 col-sm-12">

            <div class="hpanel ">
                <div class="panel-body" style="padding: 19.5px;">
                        <div class="row">
                  <div style="text-align: center">
                  <img   src="images/forgotPassword.d6a7d655.png">
                  <br>
                    <label>Forgot Your Password?</label>
                  </div>
                </div> 
                    <div class="help-block small" id="small">
                      <p class="help-block small" id="small">
                      Hello {{getCurrentUser().name}}! Looks like you have forgotten your password! <span id="firstcaps" style="font-weight:600">{{tenant.clientId}}<span>. 
                      <ul class="help-block small" id="small" style=" padding-bottom: 1%;">
                        <li>Type in username for the application</li>
                    <li>We will verify that the username exists.</li>
                    <li>You will recieve an email as soon as the user ID is verified. 
                    </li>
                    <li>You can click on the link provided in your email ID to set new password.</li>
                      </ul>
                      </p>
                      </div>
               </div>
             </div>
         </div>


<div class="col-md-12 col-sm-12 col-xs-12 col-lg-4">
            <div class="hpanel">
                <div class="panel-body">
                <div class="panel-heading">
                 <img style="max-height: 60px;margin-left: 22%;" ng-src="images/motomoney.d763cef6.png"/>
                </div>
                        <form id="loginForm">
                            <div class="form-group">
                              <label class="control-label" for="username">Username</label>
                                <input type="text" placeholder="example@gmail.com" title="Please enter your username" required="" value="" name="username" id="username" ng-model="username" class="form-control">
                                <span class="help-block small">Enter Your unique username to app</span>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="username">Confirm Username</label>
                                <input type="text" placeholder="example@gmail.com" title="Please confirm your username" required="" value="" name="username2" id="username2" ng-model="username2" class="form-control">
                                <span class="help-block small">Confirm your username</span>
                            </div>
                            <button class="btn btn-success btn-block" value="Submit" ng-click="forgotpass(user)">Submit</button>
                            </form>
                         </div>
                       </div>
</div>





                  </div>
                </div>
            </div>
        </div>

    

 <style>
        .firstcaps{
    text-transform: capitalize;
}

#firstcaps{
    text-transform: capitalize;
}
#small{
    font-size: 98%;
}
  footer.footer.ng-scope {
    display: none;
}
 </style>