<div class="color-line"></div>

<div id="wrapper" style="margin-left:0px">
<div class="login-container" ng-controller="loginCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3 class="firstcaps" >PLEASE LOGIN TO  {{tenantInfo.clientId}}</h3>
                
            </div>
            <div class="hpanel">
                <div class="panel-body">
                <div class="panel-heading">
                 <img style="max-height: 60px;margin-left: 22%;" ng-src="https://2docstore1.s3-us-west-2.amazonaws.com/dev/My%20Documents/foodworld2.jpg"/>
                </div>
                        <form id="loginForm">
                            <div class="form-group">
                                <label class="control-label" for="username">Username</label>
                                <input type="text" placeholder="example@gmail.com" title="Please enter your username" required="" value="" name="username" id="username" ng-model="username" class="form-control" style=" font-weight: 500;">                     
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">Password</label>
                                <input type="password" title="Please enter your password" placeholder="******" required="" value="" name="password" id="password" class="form-control" ng-model="password" style=" font-weight: 500;">
                            </div>
                            
                             <button class="btn btn-success btn-block" value="Submit" ng-click="login()">Login</button>
                            
                           
                            <div ng-click="fPassword()" style="outline:none;cursor:pointer" >
                 <span class="help-block small" id="decoration"> Unable to access your account?</span>
                    </div>
                    <div>  
                <a class="linkclr"><span class="help-block small" >To request an account please contact your system adminstrator or email here to request for an access.</span></a> 
                    </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <strong>Powered by 2Docstore</strong>  <br/> 
            
        </div>
    </div>
</div>
 
</div>

<div style="min-height:10px;">
</div>
<span class="pull-right">
            <img src="images/comodo.png">  
        </span>

<style>
#decoration:hover{
     text-decoration: underline;
    color: #3498db;
}
.firstcaps{
    text-transform: capitalize;
}
   footer.footer.ng-scope {
    display: none;
}
</style>