<div class="color-line"></div>

<div  ng-controller="registerCntrl"  style="background: #f1f3f6;">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div class="text-center m-b-md">
                <h3 class="firstcaps">Accessing {{tenantInfo.clientId}}</h3>
                <h5>Reset Password</h5>
            </div>
            <div class="col-md-4 col-lg-2 col-sm-12 col-xs-12">
       </div>
        

  <!--description-->
    <div class="col-md-12 col-lg-4 col-xs-12 col-sm-12">

            <div class="hpanel " >
                <div class="panel-body" >
                        <div class="row">
                  <div style="text-align: center">
                  <img   src="images/verify.6ba31438.png">
                  <br>
                    <label>Verify Your Account</label>
                  </div>
                </div> 
                    <div class="help-block small" id="small">
                      <p class="help-block small" id="small">
                      Hello {{getCurrentUser().name}}! You are here to verify your account created by <span id="firstcaps" style="font-weight:600">{{tenant.clientId}}<span>. 
                      <ul class="help-block small" id="small" style=" padding-bottom: 2.5%;">
                        <li >Please set your new password to login to the application.</li>
                        <li >Your registered email-id will be your username</li>
                        <li >Your account was created by <span id="firstcaps"  style="font-weight:600">{{tenant.clientId}}<span>. 
                        </li>
                        <li >For any assistance please contact support</li>
                      </ul>
                      </p>
                  </div>
              </div>
            </div>
        </div>




        
<!--description end-->
<div class="col-md-12 col-lg-4 col-xs-12 col-sm-12">
            <div class="hpanel " style="margin-bottom: 57px;">
            <div class="panel-body" >
                <div class="panel-heading" >
                 <img style="max-height: 50px;margin-left: 22%;" ng-src="images/motomoney.d763cef6.png"/>
                </div>
                        <form  id="loginForm  " ng-submit="register()"role="form" name="loginForm" novalidate = "novalidate">
                            <div class="row">
                            
                            <div class=" col-lg-12 col-md-12 col-xs-12 col-sm-12 form-group">
                                <label>New Password</label>
                                <!-- <div ng-class="{ 'has-error' : loginForm.password.$invalid.required && loginForm.submitted }"> -->
                                <input type="password"  id="password1" class="form-control" name="password1" ng-model="password1" ng-keypress="testStrength(password1);passStrength()" required>
                                <!-- <span class="help-block"  ng-show="loginForm.password1.$error.required  && loginForm.submitted  "><i class="fa fa-exclamation-triangle"></i> This field is required. </span> -->
                              <!-- </div> -->

                            </div>
                            <div class=" col-lg-12 col-md-12 col-xs-12 col-sm-12 form-group">
                                <label>Confirm Password</label>
                                <!-- <div  ng-class="{ 'has-error' : loginForm.password.$invalid.required && loginForm.submitted }"> -->
                                <input type="password"  id="password2" class="form-control" name="password2" ng-model="password2" required>
                                <!-- <span class="help-block"  ng-show="loginForm.password2.$error.required  && loginForm.submitted "><i class="fa fa-exclamation-triangle"></i> This field is required. </span> -->
                              <!-- </div> -->
                            </div>
                         </div>
                     <div>
                           <label>
                              <span>Strength:</span>
                              <progress min="0" max="4" optimum="2"
                                        value="{{strength}}" type="{{strength.type}}"  style="width: 200px;height: 7px;" ></progress>
                          </label>
                    </div>
                            <div class="text-center" style="padding-top: 5%;">
                                <button class="btn btn-success" type="submit">Change Password</button>
                                <button class="btn w-xs btn-danger2" ng-click="cancel()" style="    min-width: 83px;">Cancel</button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
<!--page ends-->
       </div>
    </div>
</div>


<style>
    progress {
    /*background-color: #f3f3f3;*/
    border: 0;
    height: 4.5em;
    width: 100%;
}
progress::-webkit-progress-bar {
    background-color: #e0eaf0;
}
progress::-webkit-progress-value {
    background-color: #4CAF50;
}
progress[value^="1"]::-webkit-progress-value
{
   background-color: #d32F2F;
} 
progress[value^="2"]::-webkit-progress-value,
progress[value^="3"]::-webkit-progress-value{
  background-color: #FFEE58;
}
.firstcaps{
    text-transform: capitalize;
}
#firstcaps{
    text-transform: capitalize;
}
#small{
    font-size: 99%;
}
footer.footer.ng-scope  {
    left: 0% !important;
}
</style>