<div class="color-line"></div>
<div id="wrapper" style="margin-left:0px">
	<div  ng-controller="subscriptionCtrl">
		<div class="row">
			<div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
				<div class=" row text-center m-b-xl chaithra" >
					<div class="col-lg-8 col-sm-8 col-xs-8 col-sm-8">
						<h2 style="font-weight: 500;">Best pricing for your application</h2>
					</div>
					<div class="col-lg-4 col-sm-4 col-xs-4 col-sm-4">
						<button type="button" class="btn w-xs btn-success" style="margin-top: 7px;" ng-click="freePlan()">Sign Up</button>
						<p>Sign up for a 30 day Free Trial</p>
					</div>
				</div>
				<div class="col-md-12 col-lg-12">
	            	<basicplan></basicplan>
	            	<standardplan></standardplan>
		           	<premiumplan></premiumplan>
		            <!-- <prestigeplan></prestigeplan> -->
        		</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<strong>Powered by 2Docstore</strong>  <br/> 
			</div>
		</div>
	</div>
</div>
<style>
	 footer.footer.ng-scope {
    display: none;
}
.chaithra{
	background: linear-gradient(to right,#3498db,rgb(192, 57, 43));
	color:white;
}
</style>

