<div class="color-line"></div>
<div id="wrapper" style="margin-left:0px">
	<div  ng-controller="freeplanCtrl">
		<div class="row">
        	<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
        		<div class=" row text-center m-b-xl headerpanel" >
                        <h1 style="font-weight: 500;">{{selPlan}}</h1>
                </div>
                <div class="row" ng-show="success">
                    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 welcomesection">
                        <h2 class="font-bold">Welcome to 2DocStore</h2>
                        <p>
                            Document management that will drive your business process and fuel best practices, compliance and scale.
                        </p>

                        <p>
                            Secured Cloud Document Store with easy to integrate with any of your Applications. Develop a document management that will dirve your business process and fuel best practices compliance and scale.
                        </p>
                        <p class="custom-para"><i class="fa fa-check instruction-tick" aria-hidden="true"></i> &nbsp; File Sharing </p> 
                        <p class="custom-para"><i class="fa fa-check instruction-tick" aria-hidden="true"></i>&nbsp; Collaboration</p>
                        <p class="custom-para"><i class="fa fa-check instruction-tick" aria-hidden="true"></i>&nbsp; Mobility</p>           
                        <p class="custom-para"><i class="fa fa-check instruction-tick" aria-hidden="true"></i>&nbsp; Security</p>
                        <p class="custom-para"><i class="fa fa-check instruction-tick" aria-hidden="true"></i>&nbsp; Blockchain</p>
                        <p class="custom-para"><i class="fa fa-check instruction-tick" aria-hidden="true"></i>&nbsp; Other Features</p>
                        
                        <p>

                        </p>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                        <div class="formsection">
                             <form id="loginForm" name="dataform">
                                <div class="form-group">
                                    <label class="control-label" for="username">Username</label>
                                    <input class="form-control {{uclass}}" type="text" placeholder="Enter Your  Name" title="Please enter your username"  value="" name="username" id="username" ng-model="data.username" style=" font-weight: 500;font-size: 13px;">
                                    <span ng-show="ulabel" style="color:red">Please enter User Name</span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="password">Password</label>
                                    <input class="form-control {{pclass}}" type="password" placeholder="Enter Your Password" title="Enter Your Password"  ng-model="data.pwd" style=" font-weight: 500;font-size: 13px;">
                                    <span ng-show="plabel" style="color:red">Please enter Password</span>
                                </div> 
                                <div class="form-group">
                                    <label class="control-label" for="password">Confirm Password</label>
                                    <input class="form-control {{cpclass}}" type="password" placeholder="Confirm your Password" title="Confirm your Password" ng-model="data.cpwd" style=" font-weight: 500;font-size: 13px;">
                                    <span ng-show="cplabel" style="color:red">Password doesn't match (white spaces are not allowed)</span>
                                </div>                           
                                <div class="form-group">
                                    <label class="control-label" for="username">Email</label>
                                    <input class="form-control {{emclass}}" type="email" placeholder="example@gmail.com" title="Please enter your email"  ng-model="data.useremail" style=" font-weight: 500;font-size: 13px;">
                                    <span ng-show="elabel" style="color:red">Please enter email</span>
                                    <span ng-show="vallabel" style="color:red">Please enter valid email</span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="username">Organization</label>
                                    <input class="form-control {{oclass}}" type="text" placeholder="Organization Name" title="Organization Name"  ng-model="data.organization" style="font-weight: 500;font-size: 13px;" ng-change = "populateurl(data.organization)">
                                    <span ng-show="olabel" style="color:red">Please enter Organization</span>
                                </div>                            
                                <div class="form-group">
                                    <label class="control-label" for="username">Domain Preference</label>
                                    <div class="col-md-12 col-sm-12 col-xs-12 element-input" style="padding:0px;margin-bottom: 15px">
                                        <div class="col-md-8 col-sm-7 col-xs-7" style="padding-left: 0px;">
                                         <input class="form-control {{urlclass}}" type="text" placeholder="Organization Name" title="Please enter your Organization Name"  value="" name="organization" id="organization" ng-model="data.url" ng-change = "populateshowcase(data.url)" style=" font-weight: 500;font-size: 13px;">                                               
                                        </div>
                                        <div class="col-md-4 col-sm-5 col-xs-5" style="padding-left:0px;margin-top: 10px;margin-left:-10px">
                                            <div><label class="ng-binding">.2docstore.com</label></div>                                                    
                                        </div>
                                        <div class="col-md-12 element-input" ng-show="urllabel" style="padding:0px;">
                                            <div><span style="color:red">Please enter URL</span></div>
                                        </div>
                                        <div class="col-md-12 element-input" ng-show="sameurl" style="padding:0px;">
                                            <div><span style="color:red">URL is already exists</span></div>
                                        </div>
                                        <div class="col-md-12 element-input" style="padding:0px;margin-top: 5px">
                                            <div><span style="font-weight:600;color:#8c8c8c;">{{showcase}}.2docstore.com</span></div>
                                        </div>
                                    </div>
                                                         
                                </div> 
                                <button ladda="submitLoading" data-style="expand-right" class="btn btn-success btn-block" value="Submit" ng-click="submit(data)">Submit</button>                    
                            </form>        
                        </div>
                        <div class="row" style="padding-top: 10px">
                            <div class="col-md-12 text-center">
                                <strong>Powered by 2Docstore</strong>  <br/> 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" ng-hide="success">
                    <div class="col-md-12" style="text-align: center;"><br><br><br><br><br>
                        <div class="col-md-3">
                            
                        </div>
                        <div class="col-md-6 success-section">
                            <i class="fa fa-envelope" style="font-size: 35px"></i>       
                            <h1>Please check your email</h1>
                            <h4>Once you get confirmation email, you can get started in 2Docstore</h4> 
                        </div>
                        <div class="col-md-3">
                            
                        </div>
                    </div>
                </div>
        	</div>
        </div>
    	
	</div>
</div>
<style>
	footer.footer.ng-scope {
    display: none;
}
.headerpanel{
    padding:10px;
    background: linear-gradient(to right,#3498db,rgb(192, 57, 43));
    color:white;
}
.formsection{
    box-shadow: 5px 5px 5px #888888;
    background-color: white;
    padding: 20px;
    border-radius:4px;
}
.uerror,.perror,.cperror,.emerror,.oerror,.urlerror{
    border-color: #f50000 !important;
}
.welcomesection{
    background-color: white;
    box-shadow: 5px 5px 5px #888888;
}
.form-group {
    margin-bottom: 10px;
}
.success-section{
    background: white;
    padding: 30px 10px;
    box-shadow: 5px 5px 5px #888888;
}

</style> 