<!DOCTYPE html>
<html ng-app="homer">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <base href="/"> -->
    <!-- Page title set in pageTitle directive -->
    <title page-title></title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="shortcut icon" type="image/ico" href="favicon.ico" />-->

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-notify/dist/angular-notify.min.css" />
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/metisMenu/dist/metisMenu.css" />
    <link rel="stylesheet" href="bower_components/animate.css/animate.css" />
    <link rel="stylesheet" href="bower_components/sweetalert/lib/sweet-alert.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.min.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/summernote/dist/summernote.css" />
    <link rel="stylesheet" href="bower_components/ng-grid/ng-grid.min.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css" />
    <link rel="stylesheet" href="bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css" />
    <link rel="stylesheet" href="bower_components/ui-select/dist/select.min.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" />
    <link rel="stylesheet" href="bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" />
    <link rel="stylesheet" href="bower_components/blueimp-gallery/css/blueimp-gallery.min.css" />

    <!-- <link rel="stylesheet" href="bower_components/chartist/custom/chartist.css" /> -->
    <link rel="stylesheet" href="bower_components/CodeMirror/lib/codemirror.css" />
    <link rel="stylesheet" href="bower_components/c3/c3.min.css" />
    <link rel="stylesheet" href="bower_components/angularjs-slider/dist/rzslider.min.css" />
    <link rel="stylesheet" href="bower_components/clockpicker/dist/bootstrap-clockpicker.min.css" />
    <link rel="stylesheet" href="bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="bower_components/ladda/dist/ladda-themeless.min.css" />
    <link rel="stylesheet" href="bower_components/perfect-scrollbar/min/perfect-scrollbar.min.css" />
    <link rel="stylesheet" href="bower_components/angular-block-ui/angular-block-ui.min.css">
    <link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.css">
   

    <!-- <link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.css"> -->

    <!-- endbower -->
        <link rel="stylesheet" href="bower_components/footable/css/footable.core.css" />
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) styles/style.css -->
    <link rel="stylesheet" href="fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="fonts/pe-icon-7-stroke/css/helper.css" />
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/GlobalStyle.css">
    <!-- <link rel="stylesheet" href="dist/ng-scrollbar.min.css" > -->
    <!-- endbuild -->

</head>

<!-- Body -->
<!-- appCtrl controller with serveral data used in theme on diferent view -->
<!-- landing-scrollspy is directive for scrollspy used in landing page -->
<body ng-controller="appCtrl" class="{{$state.current.data.specialClass}}" landing-scrollspy tour backdrop="true">

<!-- Simple splash screen-->
<div class="splash"> <div class="color-line"></div><div class="splash-title"><h1><b>2Docstore </b></h1>
<p>
 
</p>
<div class="spinner"> <div class="rect1"></div> <div class="rect2"></div> <div class="rect3"></div> <div class="rect4"></div> <div class="rect5"></div> </div> </div> </div>
<!--[if lt IE 7]>
<p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

    <!-- Page view wrapper -->
    <div ui-view autoscroll="true"></div>
    <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>


<!-- build:js(.) scripts/vendor.js -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="bower_components/slimScroll/jquery.slimscroll.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/jquery-flot/jquery.flot.js"></script>
<script src="bower_components/jquery-flot/jquery.flot.resize.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/jquery-flot/jquery.flot.pie.js"></script>
<script src="bower_components/flot.curvedlines/curvedLines.js"></script>
<script src="bower_components/jquery.flot.spline/index.js"></script>
<script src="bower_components/angular-flot/angular-flot.js"></script>
<script src="bower_components/metisMenu/dist/metisMenu.min.js"></script>
<script src="bower_components/socket.io-client/socket.io.js"></script>
<script src="bower_components/angular-socket-io/socket.js"></script>
<script src="bower_components/sweetalert/lib/sweet-alert.js"></script>
<script src="bower_components/iCheck/icheck.min.js"></script>
<script src="bower_components/sparkline/index.js"></script>
<script src="bower_components/chartjs/Chart.min.js"></script>
<script src="bower_components/angles/angles.js"></script>
<script src="bower_components/peity/jquery.peity.min.js"></script>
<script src="bower_components/angular-peity/angular-peity.js"></script>
<script src="bower_components/sweetalert/lib/sweet-alert.min.js"></script>
<script src="bower_components/angular-notify/dist/angular-notify.min.js"></script>
<script src="bower_components/chartjs/Chart.min.js"></script>
<script src="bower_components/angles/angles.js"></script>
<script src="bower_components/angular-ui-utils/ui-utils.js"></script>
<script src="bower_components/angular-ui-map/ui-map.js"></script>
<script src="bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="bower_components/angular-ui-calendar/src/calendar.js"></script>
<script src="bower_components/summernote/dist/summernote.min.js"></script>
<script src="bower_components/angular-summernote/dist/angular-summernote.min.js"></script>
<script src="bower_components/ng-grid/ng-grid-2.0.14.min.js"></script>
<script src="bower_components/angular-ui-tree/dist/angular-ui-tree.min.js"></script>
<script src="bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
<script src="bower_components/angular-bootstrap-tour/dist/angular-bootstrap-tour.min.js"></script>
<script src="bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="bower_components/pdfmake/build/pdfmake.min.js"></script>
<script src="bower_components/pdfmake/build/vfs_fonts.js"></script>
<script src="bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="bower_components/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/buttons/angular-datatables.buttons.min.js"></script>
<script src="bower_components/angular-datatables/dist/angular-datatables.min.js"></script>
<script src="bower_components/angular-xeditable/dist/js/xeditable.min.js"></script>
<script src="bower_components/ui-select/dist/select.min.js"></script>
<script src="bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
<script src="bower_components/blueimp-gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="bower_components/angular-ui-sortable/sortable.min.js"></script>
<script src="bower_components/footable/dist/footable.all.min.js"></script>
<script src="bower_components/angular-footable/dist/angular-footable.min.js"></script>
<script src="bower_components/chartist/dist/chartist.js"></script>
<script src="bower_components/angular-chartist.js/dist/angular-chartist.min.js"></script>
<script src="bower_components/CodeMirror/lib/codemirror.js"></script>
<script src="bower_components/CodeMirror/mode/javascript/javascript.js"></script>
<script src="bower_components/angular-ui-codemirror/ui-codemirror.min.js"></script>
<script src="bower_components/d3/d3.min.js"></script>
<script src="bower_components/c3/c3.min.js"></script>
<script src="bower_components/c3-angular/c3-angular.min.js"></script>
<script src="bower_components/clockpicker/dist/bootstrap-clockpicker.min.js"></script>
<script src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
<script src="bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular-momentjs/angular-momentjs.js"></script>
<script src="bower_components/ladda/dist/spin.min.js"></script>
<script src="bower_components/ladda/dist/ladda.min.js"></script>
<script src="bower_components/ladda/dist/ladda.jquery.min.js"></script>
<script src="bower_components/angular-ladda/dist/angular-ladda.min.js"></script>
<script src="bower_components/angular-md5/angular-md5.js"></script>
<script src="bower_components/jquery.gdocsviewer.js"></script>
<script src="bower_components/angularjs-slider/dist/rzslider.min.js"></script> 
<script src="bower_components/angular-perfect-scrollbar/src/angular-perfect-scrollbar.js"></script>
<script src="bower_components/perfect-scrollbar/src/perfect-scrollbar.js"></script>
<script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
<script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
<script src="bower_components/angular-block-ui/angular-block-ui.min.js"></script>
<script src="bower_components/angularUtils-pagination/dirPagination.js"></script>
<script src="bower_components/ngclipboard/dist/ngclipboard.min.js"></script>
<!-- <script src="bower_components/d3/d3.js"></script> -->
<script src="bower_components/d3/d3.js"></script>
<script src="bower_components/nvd3/build/nv.d3.js"></script> <!-- or use another assembly -->
<script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
<script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
<!-- <script src="bower_components/dist/ng-scrollbar.min.js"></script> -->

<!-- <script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script> -->
<!-- <script src="bower_components/nvd3/build/nv.d3.js"></script>  -->
<!-- or use another assembly -->
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<!-- endbuild -->
<!-- <script src="https://tricons.2docstore.com:3000/socket.io/socket.io.js"></script>
 --><!-- <script type="text/javascript" src="/socket/socket.io.js"></script> -->

<!--
 You need to include this script on any page that has a Google Map.
 When using Google Maps on your own site you MUST signup for your own API key at:
 https://developers.google.com/maps/documentation/javascript/tutorial#api_key
 After your sign up replace the key in the URL below..
-->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQTpXj82d8UpCi97wzo_nKXL7nYrd4G70"></script>


<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/homer.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/config.js"></script>
<script src="scripts/filters/props.js"></script>
<script src="scripts/directives/directives.js"></script>
<script src="scripts/directives/plansForm.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/factories/sweet-alert.js"></script>
<script src="scripts/controllers/alerts.js"></script>
<script src="scripts/controllers/modal.js"></script>
<script src="scripts/controllers/charts_flot.js"></script>
<script src="scripts/controllers/chartjs.js"></script>
<script src="scripts/controllers/inline.js"></script>
<script src="scripts/controllers/clock.js"></script>
<script src="scripts/controllers/timeline.js"></script>
<script src="scripts/controllers/googleMap.js"></script>
<script src="scripts/controllers/calendar.js"></script>
<script src="scripts/controllers/editor.js"></script>
<script src="scripts/controllers/grid.js"></script>
<script src="scripts/controllers/list.js"></script>
<script src="scripts/controllers/tour.js"></script>
<script src="scripts/controllers/datatables.js"></script>
<script src="scripts/controllers/wizard.js"></script>
<script src="scripts/controllers/forms.js"></script>
<script src="scripts/controllers/draggable.js"></script>
<script src="scripts/controllers/validation.js"></script>
<script src="scripts/controllers/chartist.js"></script>
<script src="scripts/controllers/codeEditor.js"></script>
<script src="scripts/controllers/loading.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/forgotpassword.js"></script>
<script src="scripts/controllers/dashboard.js"></script>
<script src="scripts/controllers/userManagement.js"></script>
<script src="scripts/controllers/clientManagement.js"></script>
<script src="scripts/controllers/rightNav.js"></script>
<script src="scripts/controllers/navigation.js"></script>
<script src="scripts/controllers/profile.js"></script>
<script src="scripts/controllers/report.js"></script>
<script src="scripts/controllers/comments.js"></script>
<script src="scripts/controllers/SubscriptionCtrl.js"></script> 
<script src="scripts/controllers/FreeCtrl.js"></script>
<script src="scripts/controllers/headerCtrl.js"></script>
<script src="scripts/controllers/redirectpageCtrl.js"></script>
<script src="scripts/controllers/timelineCtrl.js"></script>
<script src="scripts/controllers/propertyCtrl.js"></script>
<script src="scripts/controllers/projectClientCtrl.js"></script>
<script src="scripts/controllers/userGroups.js"></script> 
<script src="scripts/controllers/GroupModalCtrl.js"></script> 
<script src="scripts/controllers/register.js"></script>
<script src="scripts/controllers/basicplanCtrl.js"></script>
<script src="scripts/controllers/guestuser.js"></script>
<script src="scripts/controllers/guestuserInviteCtrl.js"></script>
<script src="scripts/controllers/helpCtrl.js"></script>
<script src="scripts/directives/touchSpin.js"></script>
<script src="scripts/directives/versionForm.js"></script>
<script src="scripts/directives/autoSaveForm.js"></script>
<script src="scripts/directives/commentsDirective.js"></script>
<script src="scripts/factories/loginServices.js"></script>
<script src="scripts/factories/noteFcrty.js"></script>
<script src="scripts/factories/UserFctry.js"></script>
<script src="scripts/factories/ErrorFctry.js"></script>
<script src="scripts/factories/activityFctry.js"></script>
<script src="scripts/factories/authInterceptor.js"></script>
<script src="scripts/factories/DefaultDocsFctry.js"></script>
<script src="scripts/factories/DocstoreFctry.js"></script>
<script src="scripts/factories/userManagementFctry.js"></script>
<script src="scripts/factories/ClientFctry.js"></script>
<script src="scripts/factories/sharefctry.js"></script>
<script src="scripts/factories/policyFctry.js"></script>
<script src="scripts/factories/TenantFcrty.js"></script>
<script src="scripts/factories/SubscriptionFctry.js"></script>
<!-- <script src="scripts/factories/registrationFctry.js"></script> -->
<script src="scripts/factories/PlansFctry.js"></script>
<script src="scripts/factories/globalSearchFcrt.js"></script>
<script src="scripts/services/globalService.js"></script>
<script src="scripts/services/docsCtrlVariableService.js"></script>
<script src="scripts/services/uploadService.js"></script>
<script src="scripts/services/errorService.js"></script>
<script src="scripts/services/noteService.js"></script>
<script src="scripts/services/versionService.js"></script>
<script src="scripts/services/timelineService.js"></script>
<script src="scripts/services/userService.js"></script>
<script src="scripts/services/socketService.js"></script>
<script src="scripts/services/activityLogService.js"></script>
<script src="scripts/services/clientService.js"></script>
<script src="scripts/services/docstoreService.js"></script>
<script src="scripts/services/GroupService.js"></script>
<script src="scripts/services/plansService.js"></script>
<script src="scripts/factories/GroupFctry.js"></script>
<script src="scripts/factories/timelineFctry.js"></script>
<script src="scripts/factories/reportFctry.js"></script>
<script src="scripts/controllers/apiDocumentationCtrl.js"></script>
<!-- endbuild -->

<footer class="footer" ng-include="'views/common/footer.html'" style="position:fixed;  
    left: 14%;
    width: 100%;
    text-align: center;
    border-left: 1px solid #F1F3F6;"></footer>
</body>

</html>