<div class="row" ng-controller="datatablesCtrl">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Basic example with Ajax (json file)
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table datatable="" dt-options="dtOptions"  class="table table-striped table-bordered table-hover"></table>
                </div>
            </div>
        </div>
    </div>
</div>

