<div class="row">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Basic validation
            </div>
            <div class="panel-body" ng-controller="validationCtrl">
                <p class="ng-scope">Angular provides basic implementation for most common HTML5 input types: (text, number, url, email, date, radio, checkbox),
                    as well as some directives for validation (<code>required</code>, <code>pattern</code>, <code>minlength</code>, <code>maxlength</code>,
                    <code>min</code>, <code>max</code>).</p>

                <form role="form" name="signup_form" novalidate ng-submit="signupForm()">
                    <div class="form-group"><label>Email</label>
                        <input type="email" placeholder="Enter email" class="form-control" required name="email" ng-model="email"  >
                        <div class="m-t-xs" ng-show="signup_form.email.$invalid && signup_form.submitted">
                            <span class="text-danger" ng-show="signup_form.email.$error"><i class="fa fa-exclamation-triangle"></i> Please input a valid email address</span>
                        </div>
                    </div>
                    <div class="form-group"><label>Password</label>
                        <input type="password" placeholder="Password" class="form-control" name="password" required ng-model="password">
                        <div class="m-t-xs" ng-show="signup_form.password.$invalid && signup_form.submitted">
                            <span class="text-danger" ng-show="signup_form.password.$error"><i class="fa fa-exclamation-triangle"></i> Please enter your password</span>
                        </div>
                    </div>
                    <div class="form-group"><label>Url</label>
                        <input type="url" placeholder="Website" class="form-control" name="website" ng-model="website" required>
                        <div class="m-t-xs" ng-show="signup_form.website.$invalid && signup_form.submitted">
                            <span class="text-danger" ng-show="signup_form.website.$error"><i class="fa fa-exclamation-triangle"></i> Please input a valid url address (http://website.com)</span>
                        </div>
                    </div>
                    <div class="form-group"><label>Number</label>
                        <input type="number" placeholder="Number" class="form-control" name="number" ng-model="number" required>
                        <div class="m-t-xs" ng-show="signup_form.number.$invalid && signup_form.submitted">
                            <span class="text-danger" ng-show="signup_form.number.$error"><i class="fa fa-exclamation-triangle"></i> Please enter valid number</span>
                        </div>
                    </div>
                    <div class="form-group"><label>MaxLength</label>
                        <input type="text" placeholder="Max length" class="form-control" name="maxlen" ng-model="maxlen" ng-maxlength="3" required>
                        <div class="m-t-xs" ng-show="signup_form.maxlen.$invalid && signup_form.submitted">
                            <span class="text-danger" ng-show="signup_form.maxlen.$error"><i class="fa fa-exclamation-triangle"></i> Please enter maximum 3 character</span>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-sm btn-primary" type="submit"><strong>Submit form</strong></button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading">
                <div panel-tools></div>
                Angular validation
            </div>
            <div class="panel-body no-padding">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Method</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>required</td>
                        <td>To validate that a form input has been filled out</td>
                    </tr>
                    <tr>
                        <td>ng-minlength</td>
                        <td>Makes the element require a given minimum length.</td>
                    </tr>
                    <tr>
                        <td>ng-maxlength</td>
                        <td>Makes the element require a given maxmimum length.</td>
                    </tr>
                    <tr>
                        <td>ng-pattern</td>
                        <td>To ensure that an input matches a regex pattern</td>
                    </tr>
                    <tr>
                        <td>type="email"</td>
                        <td>Makes the element require a valid email</td>
                    </tr>
                    <tr>
                        <td>type="url"</td>
                        <td>Makes the element require a valid url</td>
                    </tr>
                    <tr>
                        <td>type="number"</td>
                        <td> Makes the element require a decimal number.</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>