<!--Header -->

<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- Main Wrapper  -->
<div id="wrapper"  >
	<div small-header class="normalheader transition" ng-init="addClientcrumbs()">
		<div class="hpanel" tour-step order="1" title="Page header" content="Place your page title and breadcrumb. Select small or large header or give the client choice to change the size." placement="bottom">
			<div class="panel-body">
				<a ng-click="small()" href="">
					<div class="clip-header">
						<i class="fa fa-arrow-up"></i>
					</div> </a>
					<div id="hbreadcrumb" class="pull-right m-t-lg">
						<ol class="hbreadcrumb breadcrumb">
							<li ng-click="clickOnPage(bread)" ng-repeat="bread in BreadCrumbs" style="cursor:pointer;"> {{bread}}</li>
						</ol>
					</div>
					<h2 class="font-light m-b-xs">Add Client</h2>
				</div>
			</div>
		</div>	
		<!-- Client will be created here -->	
	<div class="content" animate-panel effect="fadeInRight">
		<div class="row"><!-- row -->
				<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12"><!-- col12 -->
					<div class="hpanel"><!-- hpanel -->
						<div class="panel-body no-padding"><!-- hpanel body-->
							<form role="form" name="ClientForm" novalidate=" novalidate">
								<div class="row"><!--row in form-->
									<div class="col-lg-2 col-xs-2 col-sm-2 col-md-2 text-center spac"><!--first-->
										<img class="img-circle m-b m-t-md IfImage" ngf-default-src="images/users.png" ngf-src="files || 'images/users.png'" alt="logo"/>
											<div ngf-drop ngf-select="files" ng-model="files" ngf-default-src="images/users.png" ngf-multiple="false" ngf-accept="'image/*'" type="file" ngf-max-size="200MB" style="margin-left:70px;">
											<i class="pe-7s-camera" tooltip-placement="top-right" uib-tooltip="Click to upload logo" style="font-weight: 900;font-size: x-large;"></i>
											</div>
									</div><!--first-->

									<div class="col-lg-10 col-xs-10 col-sm-10 col-md-10  spac"><!--second-->
										<!-- first row -->
										<div class="row">
											<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
												<div class="col-md-2 col-lg-2 col-xs-2 col-sm-2 col-md-offset-10" style="color:white">
													<div>
														<span>Active</span>
													</div>
												</div>
											</div>
										</div>

										<!-- second row -->
										<div class="row">
											<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
												<!-- name -->
												<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
													<div class="form-group">
														<label>Client Name<span class="text-danger">*</span></label>
														<div ng-class="{'has-error' : ClientForm.name.$error.required   && ClientForm.submitted || ClientForm.name.$error.pattern }">
															<input type="text" placeholder="Enter Client Name" class="form-control"  name="name" ng-model="client.name" ng-pattern="NamePtrn" required/>
															<p class="noteFont">{{getnoteClient()}}</p>
															<span class="help-block" ng-show="ClientForm.name.$error.required && ClientForm.submitted"><i class="fa fa-exclamation-triangle"></i> {{getClient_name()}}</span>
															<span class="help-block" ng-show="ClientForm.name.$error.pattern"><i class="fa fa-exclamation-triangle"></i>{{getClient_validname()}}</span>
														</div>
													</div>
												</div>
													<!-- Contact number -->
												<div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
													<div class="form-group">
													<label>Contact Number<span class="text-danger">*</span></label>
														<div ng-class="{ 'has-error' : ClientForm.contactnumber.$error.required && ClientForm.submitted || ClientForm.contactnumber.$error.pattern }">
														<input type="text" class="form-control" placeholder="Enter contact number"  ng-pattern="phoneNumbr" name="contactnumber" ng-model="client.contactnumber" required/>
														<p class="noteFont">{{getnotePhone()}}</p>
														<span class="help-block" ng-show="ClientForm.contactnumber.$error.required && ClientForm.submitted"><i class="fa fa-exclamation-triangle"></i> {{getClient_name()}}</span>
														<span class="help-block" ng-show="ClientForm.contactnumber.$error.pattern"><i class="fa fa-exclamation-triangle"></i>{{getMobile()}}</span>
													</div>
													</div>
												</div>
											</div>
										</div>


										<!-- third row -->
										<div class="row">
											<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
											<!-- Email -->
												<div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
													<div class="form-group">
													<label>Email Address<span class="text-danger">*</span></label>
													<div ng-class="{ 'has-error' : ClientForm.email.$error.required && ClientForm.submitted || ClientForm.email.$error.pattern}">
													<input type="email" placeholder="Enter Client Email Address" class="form-control" name="email" ng-model="client.email" ng-pattern="EmailPtrn" ng-click="makeEmptyEmail()" >
													<p class="noteFont">{{getnoteEmail()}}</p>
													<span class="help-block" ng-show="ClientForm.email.$error.required && ClientForm.submitted "><i class="fa fa-exclamation-triangle"></i> {{getClient_name()}} </span>
													<span class="help-block" ng-show="ClientForm.email.$error.pattern"><i class="fa fa-exclamation-triangle"></i>{{getEmail()}}</span>
													<span class="text-danger">{{getduplicateEmail()}}</span>
													</div>
													</div>
												</div>
												<!-- Folder -->
												<div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
													<div class="form-group">
													<label>Folder Name<span class="text-danger">*</span></label>
													<div ng-class="{ 'has-error' : ClientForm.foldername.$error.required && ClientForm.submitted || ClientForm.foldername.$error.minlength || ClientForm.foldername.$error.pattern }">
													<input type="text" placeholder="Enter Folder Name" class="form-control" ng-pattern="fldrName"  ng-click="makeEmptyfolder()" name="foldername" ng-minlength="3" ng-maxlength="25" ng-model="client.foldername" required/>
													<p class="noteFont">{{getnoteFolder()}}</p>
													<span class="help-block"  ng-show="ClientForm.foldername.$error.required && ClientForm.submitted "><i class="fa fa-exclamation-triangle"></i>{{getClient_name()}} </span>
													<span class="help-block" ng-show="ClientForm.foldername.$error.minlength || ClientForm.foldername.$error.pattern"><i class="fa fa-exclamation-triangle"></i>{{getValid_Foldname()}}</span>
													<span class="text-danger">{{getduplicateFolder()}}</span>
													</div>
													</div>
												</div>
											</div>
										</div>
		<!-- fourth row -->
										<div class="row">
											<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
												<!-- Subscription Starts On -->
												<div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
												<div class="form-group">
												<label>Subscription Starts On<span class="text-danger">*</span></label>
												<div ng-class="{ 'has-error' : ClientForm.subscriptionStarts.$error.required && ClientForm.submitted }">
												<input type="date"  class="form-control" name="subscriptionStarts" ng-model="client.subscriptionStarts" ng-change="checkErr(client.subscriptionStarts,client.subscriptionEnds)" required/>

												<p class="noteFont">{{getnotesubscriptionStarts()}}</p>
												<span class="help-block" ng-show="ClientForm.subscriptionStarts.$error.required && ClientForm.submitted "><i class="fa fa-exclamation-triangle"></i>{{getClient_name()}}</span>
												<span class="text-danger" ng-show="ClientForm.subscriptionEnds.$error">{{getStartDate()}}</span>
								                </div>
								                </div>
								                </div>

								                <!-- Subscription Ends On -->
								            <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
								                <div class="form-group">
								                <label>Subscription Ends On<span class="text-danger">*</span></label>
								                <div ng-class="{ 'has-error' : ClientForm.subscriptionEnds.$error.required && ClientForm.submitted }">

								                <input type="date" class="form-control" name="subscriptionEnds"  ng-model="client.subscriptionEnds" ng-change="checkErr(client.subscriptionStarts,client.subscriptionEnds)"  required />

								                <p class="noteFont">{{getnotesubscriptionEnds()}}</p>

								                <span class="help-block"  ng-show="ClientForm.subscriptionEnds.$error.required && ClientForm.submitted "><i class="fa fa-exclamation-triangle"></i> {{getClient_name()}} </span>

								                <!-- <span class="text-danger" ng-show="ClientForm.subscriptionEnds.$error" >{{getEndDate()}}</span> -->
												</div>
												</div>
											</div>
										</div>
									</div>

	<!-- fifth row -->
										<div class="row">
											<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
											<!-- Space allot-->
												<div class=" col-lg-3" >
												<div class="form-group">
												<label>Space Allotment<span class="text-danger"> * </span></label>	
											<div ng-class="{ 'has-error' : ClientForm.allotedspace.$error.required && ClientForm.submitted || ClientForm.allotedspace.$error.pattern || ClientForm.submitted && slider.value=='0' ||ClientForm.submitted }">	
												<input type="number" class="form-group"  name="allotedspace"  placeholder="Space to Allot(GB)" id="space"  ng-model="slider.value" ng-change="sizeChange(slider.value)"ng-class="{'red-background': ClientForm.submitted && slider.value=='0'}" required/>

												<p class="noteFont">{{getnoteSpace()}}</p>
												 <span class="text-danger" ng-show="slider.value > remainSizee"></i>{{getmaxSpace()}}</span>

												 <span class="help-block" ng-show="ClientForm.allotedspace.$error.required && ClientForm.submitted || (ClientForm.submitted && slider.value<=0)"><i class="fa fa-exclamation-triangle"></i>{{getSpace()}}</span>

												<!-- <span class="help-block" ng-show="ClientForm.allotedspace.$error.pattern || (ClientForm.submitted&& slider.value<=0) ">{{getSpace()}}</span> -->
											</div>
												</div>
												</div>

												<div class="form-group col-lg-9">
												<rzslider rz-slider-model="slider.value" rz-slider-options="slider.options" rz-slider-on-change="sizeChange()" >
												</rzslider>
												</div>
											</div>
										</div>

										<!--  button here -->
										<div class="row">
											<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 ">
												<div class="text-right" style="margin-right: 15px;">
													<button class="btn btn-danger" type="button" ng-click="clearClient(client)"><span class="bold">Cancel</span></button>
													<button ng-click="ClientAdd(client)" class="btn btn-success" ng-dblclick="return ;" ng-disabled="Bflag"><span class="bold">Submit</span></button>
													<button ng-click="oneMore(client)" class="btn btn-primary " ng-dblclick="return ;" ng-disabled="Bflag">Add More</button>
												</div>
											</div>
										</div>

									</div><!--second-->
								</div><!--row in form-->
							</form>
						</div><!-- hpanel body-->
					</div><!-- hpanel -->
				</div><!-- col12 -->
		</div><!-- row -->
		<div class="row"></div>
	</div><!-- Client will be created here -->
<div style="min-height:200px"></div>
<!-- Right sidebar -->
<div id="right-sidebar" ng-include="'views/common/right_sidebar.html'" class="sidebar-open" ng-show="rightSidebar"></div>
</div><!-- Main Wrapper -->

<style>
#space{
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	color: rgb(85, 85, 85);
	/*border: 1px solid ;*/
	border-radius: 4px;
	background-image: none;
	background-color: rgb(255, 255, 255);
}

.spac{
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 25px;
	padding-left: 15px;
}
.red-background{
	 border: 1px solid rgb(214, 44, 26);
}
</style>