<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>
<!-- Main Wrapper -->
<div id="wrapper" ng-controller="userManagementCtrl">
<!-- heading for the add users -->
<div small-header class="normalheader transition" ng-init="addGroup1()">
	<div class="hpanel" tour-step order="1" title="Page header" content="Place your page title and breadcrumb. Select small or large header or give the user choice to change the size." placement="bottom">
		<div class="panel-body">
			<a ng-click="small()" href="">
				<div class="clip-header">
					<i class="fa fa-arrow-up"></i>
				</div> 
			</a>
			<div id="hbreadcrumb" class="pull-right m-t-lg">
				<ol class="hbreadcrumb breadcrumb">
					<li ng-click="clickOnPage(bread)" ng-repeat="bread in userBreadCrumbs" style="cursor:pointer;">{{bread}}</li>
				</ol>
			</div>
			<h2 class="font-light m-b-xs"> Add User </h2>
			<!-- <small>{{ $state.current.data.pageDesc }}</small> -->
		</div>
	</div>
</div>
<!-- user will be created here -->
<div class="content" animate-panel effect="fadeInRight">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
			<div class="hpanel ">
				<div class="panel-body no-padding">
				<!-- <div class="row">
				<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12"> -->
					<form role="form" name="UserForm"  novalidate = "novalidate" >
						<div class="row">
							<div class="col-lg-2 col-xs-2 col-sm-2 text-center">
								<div class="row">
									<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
										<div class="verticle_user m-b m-t-md profilePicture">
											<i class="pe-7s-user fa-5x text-muted"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-10 col-md-10 col-xs-10 col-sm-10 spac">
								<div class="row">
									<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
										<div class="col-md-2 col-lg-2 col-xs-2 col-sm-2 col-md-offset-10">
											<div ng-model="user.status" ng-init="user.status=true" ng-click="checkSwitch(user)" style="outline:none">
												<div ng-show="user.status"  tooltip-placement="top" uib-tooltip="Click to disable user" ><i class="fa fa-toggle-on fa-2x" style="color: #62cb31;"></i>
													<span>Active</span>
												</div>
												<div ng-show="!user.status" tooltip-placement="top" uib-tooltip="Click to active user" ><i class="fa fa-toggle-off fa-2x" style="color:#e74c3c;"></i>
													<span>Disable</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- first name -->
								<div class="row">
									<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
										<div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
											<div class="form-group">
												<label>First Name<span class="text-danger"> * </span></label>
												<div  ng-class="{ 'has-error' : UserForm.name.$error.required   && UserForm.submitted || UserForm.name.$error.minlength && UserForm.name.$dirty || UserForm.name.$error.pattern }">
													<input class="form-control" type="text" placeholder="Enter your first name"  ng-click="makeEmptyName()"  name="name" ng-model="user.name" ng-minlength="3" ng-maxlength="25" ng-pattern="/^[a-zA-Z1-9 _]{3,25}$/" required >

													<span class="help-block"  ng-show="UserForm.name.$error.required && UserForm.submitted "><i class="fa fa-exclamation-triangle"></i> This field is required </span>
													<div  class="help-block"  ng-show=" UserForm.name.$error && UserForm.name.$dirty  " >
														<div class="text-danger"  ng-show="UserForm.name.$error.minlength || UserForm.name.$error.pattern"><i class="fa fa-exclamation-triangle"></i> Please input a valid user name </div>
													</div>
													<p class="text-danger" ng-show="UserForm.name.$error">{{getemptyName()}}</p>
												</div>
												<p class="noteFont">{{getnoteuser()}}</p>
											</div>
										</div>
										<!-- last name -->
										<div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
											<div class="form-group">
												<label>Last Name</label>
												<div >
													<input type="text"  placeholder="Enter your last name" class="form-control" name="last_name" ng-model="user.last_name"  >

													<!-- 
													ng-class="{ 'has-error' : UserForm.last_name.$error.pattern }"
													pattern="/^[a-zA-Z1-9 _]{3,25}$/"
													<div  class="help-block"  ng-show=" UserForm.last_name.$error && UserForm.last_name.$dirty  " >
														<div class="text-danger"  ng-show=" UserForm.last_name.$error.pattern"><i class="fa fa-exclamation-triangle"></i> Please input a valid last name </div>
													</div> -->
												</div>
												<p class="noteFont">{{getnoteuser()}}</p>
											</div>
										</div>
									</div>
								</div>
								<!-- Email -->
								<div class="row">
									<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
										<div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
											<div class="form-group">
												<label>Email<span class="text-danger"> * </span></label>
												<div ng-class="{ 'has-error' : UserForm.username.$error.required && UserForm.submitted || UserForm.username.$error.email && UserForm.username.$dirty   }">
													<input type="email" ng-click="makeEmptyEmail();duplicate_email()" placeholder="Enter email" class="form-control" name="username" ng-model="user.username" ng-pattern="EmailPtrn" required/>
													<span class="help-block"  ng-show="UserForm.username.$error.required && UserForm.submitted "><i class="fa fa-exclamation-triangle"></i> This field is required </span>

													<div  class="help-block"  ng-show=" UserForm.username.$error && UserForm.username.$dirty  " >
														<div class="text-danger"  ng-show="UserForm.username.$error.email"><i class="fa fa-exclamation-triangle"></i> {{getEmail()}} </div> 
													</div>
													<div class="help-block" ng-show="UserForm.username.$error "><div class="text-danger" ng-show="UserForm.username.$error">{{getduplicateEmail()}}</div></div>
													
													<!-- <p class="text-danger" ng-show="UserForm.username.$error.pattern && UserForm.submitted"><i class="fa fa-exclamation-triangle"ng-show="UserForm.username.$error.pattern && UserForm.submitted"></i>{{getEmail()}}</p> -->
												</div>
												
												<p class="noteFont">{{getnoteEmail()}}</p>
												
											</div>
										</div>
										<!-- Contact Number -->
										<div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
											<label>Contact Number<span class="text-danger"> * </span></label>
											<div ng-class="{ 'has-error' : UserForm.cell_number.$error.required && UserForm.submitted || UserForm.cell_number.$error.phoneNumbr && UserForm.cell_number.$dirty }">
												<input type="text" class="form-control" placeholder="Enter contact number" ng-click="makeEmptyPhone()" ng-pattern="phoneNumbr" name="cell_number" ng-model="user.cell_number" required/>
												<span class="help-block"  ng-show="UserForm.cell_number.$error.required && UserForm.submitted "><i class="fa fa-exclamation-triangle"></i> This field is required </span>
												<div  class="help-block"  ng-show=" UserForm.cell_number.$error && UserForm.cell_number.$dirty  " >
													<div class="text-danger"  ng-show="UserForm.cell_number.$error.pattern"><i class="fa fa-exclamation-triangle"></i> {{getMobile()}} </div>
												</div>
											</div>
											<p class="noteFont">{{getnotePhone()}}</p>
											<!-- <p class="text-danger" ng-show="UserForm.cell_number.$error.pattern">{{getMobile()}}</p> -->
											<!-- <p class="text-danger" ng-show="UserForm.cell_number.$error">{{getemptyPhoneNumber()}}</p> -->
										</div>
									</div>
								</div>										
								<!-- Organisation -->
								<div class="row">
									<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
										<div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" >
											<label>Organization </label>
											<!-- if he is user we are not showing him tenant id -->
<!-- <select ng-init="checkRole(user) && user.role ='user'" class="form-control" name="org" ng-model="user.organization" ng-options="client.documentName as client.documentName for client in clientDocs | filterOrg:user.role">
	<option>{{client.documentName}}</option>
	ng-options="client as client.name for client in clientOrg"
	ng-options="client.documentName as client.documentName for client in clientDocs"
</select>  -->									
<input ng-show="!checkRole(user)" type="text" readonly  ng-model="user.organization" placeholder={{tenantName}} class="form-control" ng-disabled="true">


<div  ng-class="{ 'has-error' : UserForm.org.$error.required && UserForm.submitted  }" >
	
	<select ng-show="checkRole(user)" class="form-control" name="org" ng-model="user.organization" ng-options="client as client.name for client in clientOrg"  required>
		
		<!-- <option>{{client.documentName}}</option> -->
	</select>
	<span class="help-block"  ng-show="UserForm.org.$error.required && UserForm.submitted "><i class="fa fa-exclamation-triangle"></i> This field is required </span>
	<p class="text-danger" ng-show="UserForm.org.$error">{{errorOrg()}}</p>	
</div>
<p class="noteFont">{{getnoteOrg()}}</p>

</div>		
<!-- Roles ng-init="user.role=='user'" -->
<div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
<label>Role</label>
<div ng-init="user.role ='user'">
	<div class="radio radio-inline ">
		<input type="radio" id="inlineRadio1" ng-model="user.role" value="user" name="radioInline" ng-click="checkOrg(user.role)" checked="checked"/>
		<label for="inlineRadio1"> User </label>
	</div>
	<div class="radio radio-inline" ng-hide="getCurrentUser().role=='Client Admin'">
		<input type="radio" id="inlineRadio2" ng-model="user.role" value="admin" name="radioInline" >
		<label for="inlineRadio2"> Administrator </label>
	</div>
	<div class="radio radio-inline">
		<input type="radio" id="inlineRadio3" ng-model="user.role" value="Client Admin" name="radioInline" ng-disabled="clientOrg.length==0" ng-click="checkOrg(user.role)">
		<label for="inlineRadio3"> Client Admin </label>
	</div>
</div>
<p class="noteFont">{{getnoteAdmin()}}</p>
<p class="noteFont">{{getnoteClientAdmin()}} {{tenantName}}</p> 
</div>
</div>
</div>
</div>
</div> 

<div class="form-group col-lg-12 col-md-12 col-xs-12 col-sm-12 ">
<!-- 	<div> -->
<label>About Me</label>
<input summernote class="summernote" ng-model="user.discription">
<!-- 	</div> -->
</div>
<div class="text-right" style="margin-right: 15px;margin-bottom: 15px;">
<button class="btn btn-danger" type="button" ng-click="cancel(user)"><span class="bold">Cancel</span></button>
<button class="btn btn-success" ng-click="userAdd(user)" ng-dblclick="return ;" ng-disabled="Bflag"><span class="bold">Submit</span></button>
<!-- <button ng-click="userAdd(user)" class="btn btn-success" ng-disabled="UserForm.$invalid"><span class="bold">Submit</span></button> -->
<button ng-click="oneMore(user)" class="btn btn-primary" ng-dblclick="return ;" ng-disabled="Bflag">Add More</button>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
<div style="min-height:200px"></div>
<!-- Right sidebar -->
<div id="right-sidebar" ng-include="'views/common/right_sidebar.html'" class="sidebar-open" ng-show="rightSidebar"></div>
</div><!-- controller ends here -->
<style>
.fa-2x {
	font-size: 1.3em;
}
.spac{
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 25px;
	padding-left: 15px;
}
.verticle_user{
	padding-top: 20%;
	font-size: 20px;
	padding-right: 15px;
	padding-left: 15%;
} 

.note-editable{
	min-height: 80px;
}


</style>