<div class="col-sm-4" ng-click="obj.value1='set2'" style="outline: none;">
	                	<div class="hpanel plan-box hyellow"  ng-class="{active:obj.value1== 'set2' || selPlan=='Basic Plan Registration'}">
		                    <div class="panel-heading hbuilt text-center">
		                        <h4 class="font-bold">{{freeplanObj.name}}</h4>
		                    </div>
		                    <!-- {{freeplanObj}} -->
		                    <div class="panel-body text-center">
		                        <i class="pe pe-7s-cup big-icon text-warning"></i>
		                        <h4 class="font-bold">
		                            {{freeplanObj.price}}
		                        </h4>

		                        <p class="text-muted">
		                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
		                        </p>
		                        <a ng-click="BasicPlan()" class="btn btn-warning btn-sm">Select basic plan</a>
		                    </div>
	                	</div>
	            	</div>