<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>
<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>
<!-- Main Wrapper -->
<div id="wrapper">
  <!-- Header -->
  <div small-header class="normalheader transition" ng-init="clientManage()">
    <div class="hpanel" tour-step order="1" title="Page header" content="Place your page title and breadcrumb. Select small or large header or give the user choice to change the size." placement="bottom">
      <div class="panel-body">
        <a ng-click="small()" href="">
          <div class="clip-header">
            <i class="fa fa-arrow-up"></i>
          </div>
        </a>
        <div id="hbreadcrumb" class="pull-right m-t-lg">
          <ol class="hbreadcrumb breadcrumb">
            <li ng-repeat="bread in BreadCrumbs" style="cursor:pointer"> {{bread}}</li>
          </ol>
        </div>
        <h2 class="font-light m-b-xs"> Client Management </h2>
      </div>
    </div>
  </div>
  <!-- Client listing will happen here -->
  <div class="content" animate-panel effect="fadeInRight">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="hpanel hblue">
          <!-- Header Search client -->
          <div class="panel-heading hbuilt">
            <div class="row">
              <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <input type="text" class="form-control input-sm m-b-md digi-search" placeholder="Search" data-ng-model="searchText" >
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <button class="btn btn-primary" type="button" ng-click="AddClient()">
                  <i class="fa fa-group"></i> Add Client 
                </button>
              </div>
            </div>
          </div>
          <!-- Panel body client listing -->
          <div class="panel-body no-padding">
            <table id="example1" class="footable table table-stripped toggle-arrow-tiny" data-page-size="100">
              <thead>
                <tr>
                 <th style="padding-left: 50px;">Name</th>
                 <!-- <th id="nd"></th> -->
                 <th>Email</th>
                 <th>Alloted</th>
                 <th>Used </th>
                 <th>Folder</th>
                 <th>Subs.Start On</th>
                 <th>Subs.End On</th>
                 <!-- <th></th> -->
               </tr>
             </thead>
             
              <!-- img or first letter -->
              <tbody>
                <tr ng-repeat="clients in getclientlist | orderBy:'name' | filter:searchText as filtered">

                  <td id="table" ng-init="checkIfImageExists(clients,clients.logo)">  
                    <a style="padding-right: 10px;">
                      <div ng-hide="clients.avatarflag" class="profileSmall">
                        <span class="centerLetter">{{clients.capital}}</span>
                      </div>
                      <img ng-show="clients.avatarflag" ng-src="{{clients.logo}}" alt="logo" class="img-circle m-b profileSmall">
                    </a>
                    <a href="" edit-disabled="checkdiableUser(clients)" editable-text="clients.name" e-pattern="[a-zA-Z0-9 ]*$" e-required e-style="width:100px;" onaftersave="updateClients(clients)">{{clients.name}}</a> <br>
                    <small style="padding-left: 10px;">{{sendTime(clients.documentobj.updated)}}</small>
                  </td>
                  <td id="table">{{clients.email}}</td>

                  <td id="table" ng-init="findSize(clients)">
                    
                    <a ahref="" edit-disabled="checkdiableUser(clients)" editable-text="clients.allotedspaceGB" e-pattern="[0-9 ]*$" e-required e-style="width:100px;" onaftersave="updateClients(clients)" ng-model="clientspace" ng-click="valueToSave(clients.allotedspaceGB)"ng-change="changeSize(clients.space)">{{clients.allotedspaceGB || 'empty'}}GB</a>
                  </td>
                  <td ng-init=" findSize(clients)" id="table">
                    <!-- {{clients.documentobj.size|bytes}} -->
                    {{clients.usedSpace | bytes}}
                  </td>
                  <td id="table"> {{clients.foldername}}</td>
                  <td id="table"> {{clients.subscriptionStarts | date:'MMM d, y'}}</td>
                  <td id="table"> {{clients.subscriptionEnds | date:'MMM d, y'}} </td> 
                  <td id="table" ng-click="deleteClient(clients)" style="outline: none;"><i class="fa fa-trash-o fa-2x topBarFaIcons" ></i></td>
                </tr>
              </tbody>

              <tfoot ng-show="getclientlist.length>=50">
                <tr>
                  <td colspan="8">
                    <button ng-click="loadclientMore()" class="btn btn-primary pull-right">Load More<i class="fa fa-angle-double-down"></i>
                    </button> 
                  </td>
                </tr>                   
              </tfoot>
            </table>
          </div>
                <div ng-show="getclientlist.length==0"  style="text-align: center;height:100px; color: rgba(171, 168, 168, 0.69);  background: rgba(206, 202, 202, 0.33);">
                      <br>
                      <h2>No Clients to display, please click on Add Clients to add</h2>
                </div>
                <div class="panel-footer">
                          Number of Clients :
                    <span class="badge badge-success"> {{getclientlist.length}} </span> out of
                    <span class="badge"> {{clientLength}} </span>
                </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="min-height:200px"></div>
<!-- Right sidebar -->
<div id="right-sidebar" ng-include="'views/common/right_sidebar.html'" class="sidebar-open" ng-show="rightSidebar"></div>
<!-- </div> -->
<!-- Main Wrapper -->


<style>
#table{
  vertical-align: middle;
}
#nd span {
        color: white;
    }
        .sweet-alert button.confirm {
    background-color: #62CB31;
    }
     .sweet-alert button.cancel {
    background-color: #F44336;
    }
</style>