<div id="header" ng-include="'views/common/header.html'"></div>
<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>
<!-- <div id="wrapper" ng-controller="projectClientCtrl" style="height: 4000px;"> -->
<div id="wrapper" ng-controller="projectClientCtrl" >
    <div small-header class="normalheader transition" ng-init="ManageGroup()">
        <div class="hpanel" tour-step order="1" title="Page header" content="Place your page title and breadcrumb. Select small or large header or give the user choice to change the size." placement="bottom">
            <div class="panel-body">
                <a ng-click="small()" href="">
                    <div class="clip-header">
                        <i class="fa fa-arrow-up"></i>
                    </div>
                </a>
                
                <h2 class="font-light m-b-xs">Projects</h2>
                <div class="pull-right m-t-lg">Number of Clients : <span class="badge badge-success">{{clientList.length}} </span> out of <span class="badge">{{clientLength}}</span></div>
            </div>
        </div> 
    </div>
    <div class="content" animate-panel effect="fadeInRight">
        <div class="col-lg-4 col-md-6 col-xs-8 col-sm-8 media social-profile " ng-repeat="client in clientList" style="margin-top:0px">
            <div class="hpanel hgreen">
                <div class="panel-body">
                    <span ng-click="deleteComment(Commen)" class=" btn-group pull-right">
                        <button class="btn btn-xs btn-default" ng-click="deleteClient(client)"> Delete</button>
                        <button class="btn btn-xs btn-default" ng-click="editClients()"> Edit</button>
                        <button class="btn btn-xs btn-default" ng-click="clickedOnView(client.documentobj)"> View</button>
                    </span>

                    <div class="media-body">
                        <span class="font-bold" style="font-size: 16px;">{{client.name}}</span>
                    </div>
                    <!-- client logo -->
                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" style="text-align: center">
                        <img ng-show="client.avatarflag" ng-init="checkIfImageExists(client,client.logo)" ng-src="{{client.logo}}" class="img-circle m-b m-t-md IfImage" alt="logo">
                        <div ng-hide="client.avatarflag" class="avatarMedium">
                            <span class="MediumLetter" >{{client.capital}}</span>
                        </div> 
                    </div>

                    <div class="row" ng-init="getSize(client)">
                        <div class="col-sm-4 col-lg-4 col-xs-4 col-md-4">
                            <div class="project-label">Alloted</div>
                            <small>{{client.allotedspace | bytes}}</small>
                        </div>
                        <div class="col-sm-4 col-lg-4 col-xs-4 col-md-4">
                            <div class="project-label">Used</div>
                            <small>{{client.usedSpace | bytes}}</small>
                        </div>
                        <div class="col-sm-4 col-lg-4 col-xs-4 col-md-4">
                           <div class="project-label">Remaining</div>
                           <small>{{client.remaining | bytes}}</small>
                       </div>
                   </div>    
                   <!--stats here -->
                   <div class="row">
                    <div class="col-sm-12 col-lg-12 col-xs-12 col-md-12" style="padding-top:15px;">
                        <div class="project-label">Stats:{{usedPer}}</div>

                        <uib-progressbar max="100" value="client.percentage" type="success" class="m-t-xs  full progress-small" ></uib-progressbar>

                        
                    </div> 
                </div> 

            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" style="text-align: center;padding-bottom: 10px;">
                 <span class="font-bold" style="text-align: center">Users</span>
             </div>
             <!-- users belongs to perticular org will be listed here client.documentobj.documentName-->
             <div class="row" style="height: 100px;">
                 <div class="col-md-2 digi-logo-sm" ng-repeat="user in userslist" ng-show="user.organization == client.name">
                    <a>
                        <div ng-hide="user.avatarflag" class="profileSmall">
                            <span class="centerLetter" >{{user.capital}}</span>
                        </div>

                        <img ng-show="user.avatarflag" ng-init="checkIfImageExists(user,user.avatar)" ng-src="{{user.avatar}}" alt="logo" class="img-circle m-b profileSmall">
                    </a>
                </div>
            </div> 
            <!-- ng-show="user.organization == client.documentobj.documentName && user.avatarflag" -->
            <!--if no  -->
        </div>
    </div>
</div>
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-xs-8 col-md-6 col-md-offset-3 col-xs-offset-3 col-lg-offset-3" ng-show="clientList.length==0">
                    <div class="hpanel hgreen">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-8 col-lg-8 col-xs-8 col-sm-8 col-md-offset-2 col-lg-offset-2 col-xs-offset-2" style="border: dashed 2px rgba(79, 84, 90, 0.49);padding: 5px;display: inline-block;text-align: center;">
                                    <i class="fa fa-user-plus fa-2x faFontSize lockWeight" style="cursor:pointer" ng-click="addClient()"></i>
                                    <br>  No Clients! Please click to Add Clients
                                </div>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="clientList.length>=50">
                <button ng-click="loadclientMore()" class="btn btn-primary pull-right">
                    Load More<i class="fa fa-angle-double-down"></i>
                </button>
            </div>
</div>

<!-- Right sidebar -->
<div id="right-sidebar" ng-include="'views/common/right_sidebar.html'" class="sidebar-open" ng-show="rightSidebar"></div>
</div>


