<div class="hpanel hblue">
   <div class="panel-footer" >
    <!-- show user who commented and details if exists -->
    <div class="social-talk" ng-hide="Comment.length==0">
        <!--   search if comment exists -->
        <input type="text" ng-hide="Comment.length==0" class="form-control input-sm m-b-md digi-search" placeholder="Search" data-ng-model="searchAll" > 
        <div ng-hide="Comment.length==0" style="text-align: center;">
          <p ng-show="(Comment | filter:searchAll).length == 0" style="text-align: center;height: 0px;  font-size: 20px;margin-top: 10px;">No results found</p>
      </div>
        <div class="commentss" >
        <div class="media social-profile clearfix " ng-repeat="Commen in Comment|filter:commentVersion.versionId | filter:searchAll">
            <span ng-click="deleteComment(Commen)" class="pull-right"><i class="fa fa-times"></i></span>
            <a class="pull-left">
                <img src="{{Commen.user.avatar}}" ng-init="imageExists(Commen.user.avatar,Commen.user)" ng-show="Commen.user.avatarflag" alt="logo" class="img-circle m-b profileSmall">
                <div ng-hide="Commen.user.avatarflag" class="profileSmall">
                    <span class="centerLetter">{{Capital_frst(Commen.user.name)}}</span>
                </div>
            </a>
            <div class="media-body">
                <span class="font-bold">{{Commen.user.name}}</span>
                <small class="text-muted">{{modifiedDate(Commen.posted)}}</small>
                <div class="social-content">{{Commen.text}}</div>
            </div>                    
        </div>
      </div>
    </div>
    <div class="social-form" >
        <div class="media social-profile clearfix" style="margin-top:10%;">
            <a class="pull-left">
                <img src="{{loggedIn.avatar}}" ng-init="checkIfImageExists(loggedIn,loggedIn.avatar)" ng-show="loggedIn.avatarflag" alt="logo" class="img-circle m-b profileSmall">
                <div ng-hide="loggedIn.avatarflag" class="profileSmall">
                    <span class="centerLetter">{{loggedIn.capital}}</span>
                </div>
            </a>

            <div class="media-body" >
               <textarea class="form-control digi-textArea" placeholder="Enter Comment Here" ng-model="description" name="description" id="commentBox"></textarea>
               <div class="pull-right">
                   <br>
                   <button class="btn btn-success" ng-click="submitData(description)">Post</button>
               </div>
           </div>
       </div>                    
   </div>
</div>
</div>

<style>
.commentss{
   max-height: 80px;
    overflow: auto;
}

#commentBox{
    max-height:120px;
    overflow:auto;
    height: 34px;
}


.gdocsviewer{
  background-color: rgba(75, 75, 75, 0.85);
 }

</style>
