  <!-- Header -->
      <div id="header" ng-include="'views/common/header.html'"></div>

      <!-- Navigation -->
      <aside id="menu" ng-include="'views/common/navigation.html'"></aside>

      <!-- Main Wrapper -->
      <div id="wrapper" ng-controller="dashBoardCtrl">
      <div small-header class="normalheader transition">
              <div class="hpanel" tour-step order="1" title="Page header" content="Place your page title and breadcrumb. Select small or large header or give the user choice to change the size." placement="bottom">
                  <div class="panel-body">
                      <a ng-click="small()" href="">
                          <div class="clip-header">
                              <i class="fa fa-arrow-up"></i>
                          </div>
                      </a>
                      <div id="hbreadcrumb" class="pull-right m-t-lg">
                          <ol class="hbreadcrumb breadcrumb">
                           <span ng-show="checkIfSearch()" ng-click="clickOnsearch()"> Search Results <span class="showNoPaint">s</span></span> <span ng-show="checkIfFirstS()"> / &nbsp; </span>
                          <span ng-show="checkIfShared()" ng-click="clickOnshared()"> Shared Documents <span class="showNoPaint">s</span></span> <span ng-show="checkIfFirst()"> / &nbsp; </span>
                          <span ng-show="checkIfFav()" ng-click="clickOnFav()" style="cursor:pointer"> Favorites <span class="showNoPaint">s</span></span> <span ng-show="checkIfFirstF()"> / &nbsp; </span>
                             <li ng-repeat="bread in getBreads()" ng-click="breadClick(bread)" style="cursor:pointer"> {{bread.documentName}}</li>
                          </ol>
                      </div>     
                    
                      <h2 class="font-light m-b-xs" ng-hide="(checkIfShared() && !checkIfFirst() || checkIfFav() && !checkIfFirstF()||checkIfSearch() && !checkIfFirstS()) || showversion">
                        {{checkCurrentDocument('name')}}
                      </h2>
                      <h2 class="font-light m-b-xs" ng-show="checkIfSearch() && !checkIfFirstS()">
                        Search Results
                      </h2>
                      <h2 class="font-light m-b-xs" ng-show="checkIfShared() && !checkIfFirst()">
                        Shared Documents
                      </h2>
                      <h2 class="font-light m-b-xs" ng-show="checkIfFav() && !checkIfFirstF()">
                        Favorites
                      </h2>
                       <h2 class="font-light m-b-xs" ng-show="showversion">
                        Version History of {{versionfilename}}
                        </h2>
                      <small><!-- page descritption --></small>
                  </div>
              </div>
          </div>
      <!-- Document Listing will happen here -->
      <div class="content">
      <div class="row">
          <div class="col-lg-9 col-md-9 col-xs-12 col-sm-12">
              <div class="hpanel hblue" ng-hide="showversion">
               <div class="panel-heading hbuilt"  ng-show="checkIfSharedDoc()||checkIfFavDoc()||checkIfSearchDoc()||checkIfClientDoc()">
                      <div class="row">
                          <div class="col-md-9 col-lg-9 col-sm-9 col-xs-9 panelHeaderButtonR">
                          <input type="search" class="form-control input-xs" placeholder="Search Documents" ng-model="searchAll" ng-minlength="0" style="height:25px;margin-top: -0px;border-radius:5px"/>
                          </div>
                          <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1 col-md-offset-2 col-sm-offset-2 col-lg-offset-2 col-xs-offset-2 panelHeaderButtonR">
  <!-- head -->
                          <!-- <i class="fa fa-th fa-2x topBarFaIcons " style=" margin-top: 3px;"></i> -->
  <!-- tail -->
                          <i class="fa fa-th fa-2x topBarFaIcons" style="margin-top:3px;"></i>
                          </div>
                       </div>                            
                  </div>
             
                      <div class="panel-heading hbuilt" ng-hide="checkIfSharedDoc()||checkIfFavDoc()||checkIfSearchDoc()||checkIfClientDoc()">
                      <div class="row">
                        <!-- CheckBox -->
                          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 checkbox panelHeaderButtonF" >
                             <!--  <input  icheck type="checkbox" ng-model="checkAllItems" ng-change="checkAll(checkAllItems)" ng-true-value="'true'" ng-false-value="'false'" ng-disabled="checkLengthoFdocs() && showNoFiles " > -->
                              <md-checkbox ng-model="checkAllItems" ng-change="checkAll(checkAllItems)" ng-true-value="'true'" ng-false-value="'false'" ng-disabled="checkLengthoFdocs() && showNoFiles " aria-label="Checkbox 1" style="margin-top: 5px;">
                              </md-checkbox>
                           </div>
                           <!-- to delete -->
                           <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 panelHeaderButtonR" >
                              <i ng-click="multiDel(document,id)" class="fa fa-trash-o fa-2x topBarFaIcons"tooltip-placement="top-right" uib-tooltip="Delete file"  ng-show="trashcontent && allowDelete" ></i>
                               <i    style="margin-left:-2px;font-size:9px" ng-show="trashcontent && allowDelete"></i>
                          </div>
                            <!-- Add Folder -->
                            
                          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 panelHeaderButtonR "  >
                          <i ng-show="allowCreateFolder" ng-click="createFolderRow()" class="fa fa-folder-o fa-2x topBarFaIcons" tooltip-placement="top-right" uib-tooltip="New Folder"></i>
                          <i ng-show="allowCreateFolder" class="fa fa-plus" style="margin-left:-2px;font-size:9px"></i>
                          </div>
                           <!-- Show Sort -->
                          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 panelHeaderButtonR " >
                          <i  class="fa fa-sort-alpha-asc fa-2x topBarFaIcons "  ng-click="callSort()" ng-show="isSort" tooltip-placement="top-right" uib-tooltip="Click to sort"></i>
                          <i  class="fa fa-sort-alpha-desc fa-2x topBarFaIcons "  ng-click="callSort()" ng-hide="isSort" tooltip-placement="top-right" uib-tooltip="Sort"></i>
                          </div>
                          <!-- Upload  -->
                          <!-- ngf-max-height="1000" -->
                          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 panelHeaderButtonR" >
                          <i ng-show="allowUpload"class="fa fa-cloud-upload fa-2x topBarFaIcons" placement="top-right" uib-tooltip="Upload file" ngf-select="uploadFiles($files)" multiple></i>
                          </div>
                           <!-- Show deleted folders -->
                          <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 panelHeaderButtonR "  >

                            <span ng-click="trashFunc(document)"  ng-show="showTrash && allowDelete" style="font-size:11px;font-weight:600;color:#62cb31">Show Trash</span>
                            <span  ng-click="hidetrashFunc()" ng-show="!showTrash && allowDelete" style="font-size:12px;font-weight:600;color:#c0392b">Hide Trash</span>    

                            </div>
                             <!-- Restore-->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 panelHeaderButtonR" ng-click="restoreFunc()" >
                            <span   ng-show="!showTrash && trashcontent && allowDelete"  style="font-size: 12px;font-weight: 600;color:#62cb31" >Restore</span>
                          </div>
                          </div>
                          <!-- Show Search -->
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 input-group " style="float:left;margin-top:-3px">
                          <input type="search" class="form-control input-xs" placeholder="Search Documents" ng-model="searchAll" ng-minlength="0" style="height: 25px;margin-top: -0px;border-radius:5px;width:92%"/>                            
                          </div>
                         <!-- grid -->
                          
                      </div>    
                  </div>
                  <div class="panel-body no-padding" 
                  ngf-drop ="uploadFiles($files)" ngf-drag-over-class="'dragover'"
                        ngf-multiple="true" ngf-allow-dir="true"
                        accept="" ngf-pattern=""  ngf-max-size="5GB"
                 ng-disabled="checkIfSharedDoc()||checkIfFavDoc()||checkIfSearchDoc()||checkIfClientDoc()||!allowUpload" infinite-scroll="myPagingFunction()" infinite-scroll-distance="3" >
                      <ul class="list-group">

                          <!--add folder  temporary show-->
                           <li class="list-group-item" style="padding-left:10px;padding-right:10px" ng-show="showAddRow" >
                            <div class="row">
                               <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 panelHeaderButtonR ">
                                   <i class=" pe-7s-folder fa-2x" ></i>
                              </div>
                             
                              <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" style="padding-left:0px" >
                                   <form  ng-submit="addFolder(folderName)" >
                                       <input type="text" placeholder="Folder Name" ng-readonly="disableAddFolder" class="form-control inputHeight" ng-model="folderName">
                                  </form>
                              </div>  
                              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 " >
                                    <i class="pe-7s-check faFontSize lockWeight"  ng-click="addFolder(folderName)" ng-disabled="disableAddFolder"></i>
                                   
                              </div>
                              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="padding-left:0px" >
                              <i class="pe-7s-close-circle fa-2x faFontSize lockWeight"  ng-click="closeAddFolder()" ng-disabled="disableAddFolder"></i>
                               
                              </div>

                              
                           </div>  
                          </li>
                          <!--add file  temporary show-->
                    
                           <li class="list-group-item" style="padding-left:10px;padding-right:10px"   ng-repeat="file in showUploadRow" ng-hide="file.progress==100">
                                 <div class="row">
                                   <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 panelHeaderButtonR ">
                                       <i class=" fa fa-file-image-o fa-2x" ></i>
                                   </div>
                                   <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding-left:0px" >
                                      <div class="row" >
                                        <div class="col-md-12 col-sm-12 col-12 col-xs-12" style="font-size: 11px; font-weight: 700;">
                                        <span>{{file.name}} </span><span class="pull-right">{{file.progress}} %</span>
                                        </div>
                                      </div>
                                      <div class="row">
                                            <div class="col-md-12 col-sm-12 col-12 col-xs-12"  >
                                              <uib-progressbar value="file.progress" type="warning" class="progress-small full" style="padding-bo"></uib-progressbar>
                                            </div>
                                     </div>
                                   </div> 
                                   
                                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="padding-left:0px" ng-click="showUploadRow.splice($index, 1)" >
                                       <i class="pe-7s-close-circle faFontSize lockWeight"  ></i>
                                  </div>

                                 </div>
                           </li>
                          <!-- Repeat this LI -->
                          <!--  ng-init= "allotPermission(document)" -->
                          <li class="list-group-item" style="padding-left:10px;padding-right:10px" ng-repeat=" document in getDocumentList()|filter:searchAll|orderBy:sortByWhat:true track by document._id" ng-style="document.trash && {'background-color':'rgba(234, 234, 234, 0.32)'} "  ng-hide="showTrash && document.trash" >
                           
                             <div class="row" ng-show="document.versionuploadflag" ng-repeat="file in hiderow">
                                   <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 panelHeaderButtonR ">
                                       <i class=" fa fa-file-image-o fa-2x" ></i>
                                   </div>
                                   <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding-left:0px" >
                                      <div class="row" >
                                        <div class="col-md-12 col-sm-12 col-12 col-xs-12" style="font-size: 11px; font-weight: 700;">
                                        <span>{{file.name}} </span><span class="pull-right">{{file.progress}} %</span>
                                        </div>
                                      </div>
                                      <div class="row">
                                            <div class="col-md-12 col-sm-12 col-12 col-xs-12"  >
                                              <uib-progressbar value="file.progress" type="warning" class="progress-small full" style="padding-bo"></uib-progressbar>
                                            </div>
                                     </div>
                                   </div>                                  
                                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="padding-left:0px" ng-click="showUploadRow.splice($index, 1)" ng-hide="file.progress>96">
                                       <i class="pe-7s-close-circle faFontSize lockWeight"  ></i>
                                  </div>      
                            </div>                          
                          <div class="row" ng-hide="document.versionuploadflag" ng-mouseover="initiateFav(document)" >
                                  <div class="col-lg-1 col-xs-1 col-sm-1 col-md-1 checkbox panelHeaderButtonF">
                                    <!-- <input icheck type="checkbox" ng-model="document.check"   ng-true-value="'true'" ng-false-value="'false'"  ng-change="checkbox(document._id,document.trash)"/> -->
                                    <div ng-hide="checkIfFavDoc()||checkIfSharedDoc()">
                                    <md-checkbox class="md-checkbox-medium" ng-model="document.check" ng-true-value="'true'" ng-false-value="'false'"  ng-change="checkbox(document._id,document.trash)" aria-label="Checkbox 1" style="margin-top: 5px;">
                                    </md-checkbox>
                                    </div>

                                  </div>
                                  <!--Favourite  -->
                                  <!-- ng-init="initiateFav(document)" -->
                                   <div uib-tooltip="{{document.favText}}" class="col-lg-1 col-xs-1 col-sm-1 col-md-1 "   tooltip-placement="top-center" >
                                      <div  ng-show="document.isFavourite.status  && !document.trash"   ng-click="setFavourite(document)">
                                        <i  class="fa fa-star fa-2x faFontSize " style="color: #ffb606;cursor:pointer;" ></i>
                                      </div>
                                      <div  ng-show="!document.isFavourite.status == true && !document.trash">
                                        <i  class="fa fa-star-o fa-2x faFontSize "  style="cursor:pointer;"   ng-click="setFavourite(document)"></i>
                                      </div>
                                  </div>
                                  <!-- folder icon -->
                                  <!-- ng-init="imageUrl(document)" -->
                                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 panelHeaderButtonR "  ng-click="folderClick(document,$event)" style="outline:none" >
                                  
                                  <a ng-show="document.thumbnail_url && checkLockImage(document)"  class="thumbnail"  style="height:32px;width:32px;    margin-top: -4px;">
                                      <img    ng-src="{{document.thumbnail_url}}"  style="height:25px;width:25px ; margin-left: -4px;"/ >
                                          <div class="arrow">
                                              <span>
                                              <img ng-src="{{document.thumbnail_url}}" style="margin-top:-22px"/>
                                              </span>
                                          </div>
                                  </a>
                                      <i class="fa-2x"  ng-show="!document.thumbnail_url" ng-class="findIcon(document)" ></i>  
                                      <i class="fa-2x"  ng-show="document.thumbnail_url && !checkLockImage(document)" ng-class="findIcon(document)" ></i>  
                                  </div>
                                  <!-- Folder Name and Descripetion -->
                                  <!-- <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"  ng-click="folderClick(document,$event)"> -->

                                  <!-- Show bigger file names if version doesn't exist -->
                                  <!-- ng-init="imageUrl(document)" -->
                                   <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"  ng-click="folderClick(document,$event)" ng-hide="getVersion(document)>0"> 


                                  <!-- <a ng-show="checkIfImage(document) && document.imageLocked " ng-init="checkIfImageLocked(document)" style="color: #776C6F; "> -->
                                      <a ng-show="checkIfImage(document) && document.imageLocked "  title="{{document.documentName}}" data-gallery="" style="color: #776C6F; ">
                                      <div class="row documentName">
   
                                            <span>{{ document.documentName | limitTo: 25 }} {{document.documentName.length < 35 ? '' : '...'}} </span>
                                      </div>
                                       <div class="row documentCreated">

                                           <span> Created by : {{document.createdBy.name}}, {{sendTime(document.created)}}</span>  
                                              </div>
                                              </a>
                                      <div class="row documentName" ng-show="checkIfImage(document) && !document.imageLocked ">
   
                                            <span>{{ document.documentName | limitTo: 25 }} {{document.documentName.length < 35 ? '' : '...'}} </span>
                                      </div>
                                       <div class="row documentCreated" ng-show="checkIfImage(document) && !document.imageLocked ">

                                           <span> Created by : {{document.createdBy.name}}, {{sendTime(document.created)}}</span>  
                                              </div>
                                              <!-- for file other than a image -->
                                               <!-- <a ng-href="{{document.url}}" class="embed"> -->
                                  
                                             <!-- For a folder -->
                                            
                                             <div ng-show="!checkIfImage(document) " class="row documentName" >
                                          <span>{{ document.documentName | limitTo: 25 }} {{document.documentName.length < 35 ? '' : '...'}} </span>
                                      </div>
                                       <div ng-show="!checkIfImage(document)" class="row documentCreated">

                                           <span> Created by : {{document.createdBy.name}}, {{sendTime(document.created)}}</span>  
                                              </div>

                                  </div>
                                  <!-- ng-init="imageUrl(document)" -->
                                      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"  ng-click="folderClick(document,$event)" ng-show="getVersion(document)>0">


                                  <!-- <a ng-show="checkIfImage(document) && document.imageLocked " ng-init="checkIfImageLocked(document)" style="color: #776C6F; "> -->
                                      <a ng-show="checkIfImage(document) && document.imageLocked "\ style="color: #776C6F; ">
                                      <div class="row documentName">
   
                                            <span>{{ document.documentName | limitTo: 25 }} {{document.documentName.length < 25 ? '' : '...'}} </span>
                                      </div>
                                       <div class="row documentCreated">

                                           <span> Created by : {{document.createdBy.name}}, {{sendTime(document.created)}}</span>  
                                              </div>
                                              </a>
                                      <div class="row documentName" ng-show="checkIfImage(document) && !document.imageLocked ">
   
                                            <span>{{ document.documentName | limitTo: 25 }} {{document.documentName.length < 25 ? '' : '...'}} </span>
                                      </div>
                                       <div class="row documentCreated" ng-show="checkIfImage(document) && !document.imageLocked ">

                                           <span> Created by : {{document.createdBy.name}}, {{sendTime(document.created)}}</span>  
                                              </div>
                                              <!-- for file other than a image -->
                                               <!-- <a ng-href="{{document.url}}" class="embed"> -->
                                  
                                             <!-- For a folder -->
                                            
                                             <div ng-show="!checkIfImage(document) " class="row documentName" >
                                          <span>{{ document.documentName | limitTo: 25 }} {{document.documentName.length < 25 ? '' : '...'}} </span>
                                      </div>
                                       <div ng-show="!checkIfImage(document)" class="row documentCreated">

                                           <span> Created by : {{document.createdBy.name}}, {{sendTime(document.created)}}</span>  
                                              </div>

                                  </div>
                                  <!-- verions -->
                                     <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" ng-show="getVersion(document)>0">
                                      <span class="badge badge-info" ng-click="openVersion(document)" ng-show="document.versionflag && !document.trash" style="font-size: 9px;border-radius: 0px; color: #6A6C78; border: 0.5px solid #6A6C78; font-weight: 800;background-color: white; ">V{{getVersion(document)}}</span>
                                </div> 
                                  
                                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 sizeRow">
                                      <span class="descriptionSize" ng-hide="document.type=='folder' || document.trash" > {{document.size | bytes}}</span>
                                  </div>
                                   <!-- showing four icons -->
                                     <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 " >
                                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 panelHeaderButtonR" ng-hide="document.trash">
                                      <i ng-show="document.type=='file'" class="pe-7s-share" tooltip-placement="top-right" uib-tooltip="Share"  ng-click="share(document)"></i>


                                      <!-- <i ng-show="document.type=='file' && (document.shareFlag)" class="fa fa-share-alt" aria-hidden="true" tooltip-placement="top-right" uib-tooltip="Share"  ></i>  -->                                    

                                       </div>

                                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 panelHeaderButtonR" ng-hide="document.trash">

                                           <i  ng- show ="document.allowDownload" class=" pe-7s-download fa-2x  faFontSize" ng-show="document.type=='file'" ng-click="download(document)" tooltip-placement="top-right" uib-tooltip="Download"></i>
                                      </div>
                                      
                                       <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 panelHeaderButtonR" ng-hide="document.trash">
                                           <i class="pe-7s-clock fa-2x  faFontSize" ng-click="setTimeline(document)" tooltip-placement="top-right" uib-tooltip="Timeline">
                                               
                                           </i>
                                        </div>

  <!--                                         ng-init="initiateLock(document) " -->
                                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 panelHeaderButtonR" ng-mouseover="checkForWhoLocked(document)" ng-click="findlock(document)" tooltip-placement="top"   ng-hide="document.trash">

                                          <!--displaying icon if its locked  -->
                                          
                                           <i  tooltip-placement="top-right" uib-tooltip="{{document.lockerText}}" ng-show="document.isLocked.status" ng-mouseover="getLockerName(document)" class="fa fa-lock fa-2x   faFontSize lockWeight" ></i>
                                                   <!--displaying icon if its not locked  -->
                                            <i  tooltip-placement="top-right" uib-tooltip="Lock" ng-show="!document.isLocked.status"  class="pe-7s-unlock
                                      fa-2x   faFontSize lockWeight"></i>
                                      </div>
                                       <div class="col-lg-2  col-md-2 col-sm-2 col-xs-2 panelHeaderButtonR" uib-dropdown ng-hide="document.trash">
                                           <i class="pe-7s-angle-down fa-2x  faFontSize" style="font-weight: 600;font-size: 27px;" uib-dropdown-toggle></i>
                                     <!--dropdown menu-->
                    
                                  <ul role="menu" uib-dropdown-menu="" >
                                       <li>
                                   <a ng-click="setFavourite(document)">
                                  <!-- <i class="fa fa-star fa-2x faFontSize" style="padding-right: 8px;" ng-show="document.favImage"></i> -->
                                  
                                  <i   ng-show="document.isFavourite.status" class="fa fa-star fa-2x faFontSize " style="color: #ffb606;padding-right: 3px;"></i>

                                  <label ng-show="document.isFavourite.status" style="font-weight:500;vertical-align: top;cursor:pointer">Favorite</label>

                                  <i  ng-show="!document.isFavourite.status" class="fa fa-star-o fa-2x faFontSize " style="padding-right: 4px;"></i>
                                  <label ng-show="!document.isFavourite.status" style="font-weight:500;vertical-align: top;cursor:pointer">Favorite</label>
                                  </a>
                                  </li>
                                      <li ng-show="!document.isLocked.status"  >
                                   <a ng-click="findlock(document)" > <i  class="pe-7s-lock fa-2x  faFontSize" style="padding-right: 8px;" ></i>
                                   <label style="font-weight:500;vertical-align: top;cursor:pointer"> Lock</label>
                                   </a></li>
                                    <li ng-show="document.isLocked.status"><a ng-click="findlock(document)">
                                   <i  class="pe-7s-unlock fa-2x  faFontSize" style="padding-right: 8px;" ></i><label style="font-weight:500;vertical-align: top;cursor:pointer"> Unlock</label></a></li>
                                      <li>
                                  <a ng-click="setTimeline(document)">
                                  <i  class="pe-7s-clock fa-2x  faFontSize" style="padding-right: 5px;" ></i>
                                   <label style="font-weight:500;vertical-align: top;cursor:pointer"> Timeline</label></a>
                                  </li>
                                
                                       <li ng-hide="checkIfSharedDoc()||checkIfFavDoc()||checkIfSearchDoc()||checkIfClientDoc()"  ng-mouseover="checkForWhoLocked(document)">
                                  <a href="" ng-show="document.type=='file' && allowUpload " ngf-select="addNewVersion($files,document)" 
                           ngf-max-height="1000" ngf-max-size="5000MB">

                                  <i  class="fa fa-upload" style="padding-right: 8px;" ></i>
                                   <label style="font-weight:500;vertical-align: top;cursor:pointer"> Upload Version</label></a>
                                  </li>
                                  <li ng-click="download(document)" ng-show="showDownload(document)">
                                  <a> 
                                  <i  class="pe-7s-download fa-2x  faFontSize" style="padding-right: 8px;" ></i> <label style="font-weight:500;vertical-align: top;cursor:pointer"> Download</label> </a> 
                                  </li>
                                  <li ng-show="allowDelete"><a ng-click="deleteFolder(document,id)"><i class="fa fa-trash-o fa-2x topBarFaIcons" style="padding-right: 8px;"></i><label style="font-weight:500;vertical-align: top;cursor:pointer" >Delete</label></a></li>
                                   <li><a  ng-click="openProperties(document)" ><i class="pe-7s-note2 fa-2x faFontSize" style="padding-right: 8px;"></i><label style="font-weight:500;vertical-align: top;cursor:pointer"> Properties</label></a></li>
                      </ul>     


                                      </div>
                                      <div  class="col-md-5 col-md-offset-4 text-center" style="margin:0px;padding: 0px;" id="thover" ng-class="{strike: document.trash}" ng-show="document.trash">
                                      <span  style=" padding-left: 20px;color: rgba(62, 70, 81, 0.4); font-weight: 800;}">Deleted</span></div>
                                      </div>
                                      
                          </li>   

                          <li class="list-group-item" style="padding-left:10px;padding-right:10px" ng-show=" checkLengthoFdocs() ">
                         <div class="row">
                          <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                            <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-lg-offset-2" style="border: dashed 2px rgba(79, 84, 90, 0.49);padding: 5px;display: inline-block;text-align:center;" ngf-select="uploadFiles($files)" ngf-multiple="true" ngf-max-height="1000" ngf-max-size="5GB"   ng-disabled="checkIfSharedDoc()||checkIfFavDoc()||checkIfSearchDoc()||checkIfClientDoc()||!allowUpload || showTrash==false">
                                <div class="row" >
                                  <i class= "fa fa-file-o fa-2x"></i>
                                </div>
                                <div class="col-md-12" tyle="text-align:center">
                                <span ng-show="allowUpload || showTrash==true" ng-hide="showTrash==false">No files or folders to display. Please drag and drop files or click upload.</span>
                                   <span ng-show="!allowUpload || showTrash==false ">You do not have permission to Upload Files</span>
                                </div>

                            </div>
                          </div>
                          </div>
                          </li> 
                      </ul>
                  </div>
            
                  <div class="panel-footer">
                  <div class="row">
                      <div class="col-sm-4 col-md-4 col-lg-4">
                      Number of items : <span class="badge badge-success">{{checkLengthDoc()}}</span>
                      </div>
                      <div class="col-sm-8 col-md-8 col-lg-8">
                        <div class="btn-group">
                    <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i></button>
                    <button ng-click="setPage($index +1)" class="btn btn-default" ng-repeat="btn in pages" >{{$index +1}}</button>
                    <button type="button" class="btn btn-default"><i class="fa fa-chevron-right" ></i></button>
                </div>
                      </div>
                  </div>
                  </div>
              </div>
                         <!--Div to show list of all versions of file clicked -->
          <div class="hpanel hblue" ng-show="showversion">
              <div class="panel-heading hbuilt">
                  <div class="row">
                  </div>    
              </div>
              <div class="panel-body no-padding">
                  <ul class="list-group">
                      <!-- Repeat this LI -->
                      <li class="list-group-item" style="padding-left:10px;padding-right:10px" ng-repeat=" document in versionarray "  >
                      <div class="row">
                              <!-- folder icon -->
                              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 panelHeaderButtonR " ng-click="folderClick(document,$event,document.versionId)">
                                  
                              <a ng-show="document.thumbnail_url" ng-init="getThumbnailVersion(document)" class="thumbnail"  style="height:32px;width:32px;    margin-top: -4px;">
                                  <img ng-src="{{document.thumbnail_url}}"  style="height:25px;width:25px ;    margin-left: -4px;"/ >
                                   <div class="arrow">
                                   <span>
                                   <img ng-src="{{document.thumbnail_url}}" style="margin-top:-22px" />
                                   </span>
                                   </div>
                              </a>

                                  <i class="fa-2x"  ng-show="!document.thumbnail_url" ng-class="findIcon(document)" ></i>
                              </div>
                              <!-- Folder Name and Descripetion -->
                              <!-- ng-init="imageUrl(document,document.versionId)" -->
                              <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"  ng-click="folderClick(document,$event,document.versionId)">
                                
                                   <div  class="row documentName" >
                                          <span>{{ document.documentName | limitTo: 25 }} {{document.documentName.length < 25 ? '' : '...'}} </span>
                                      </div>
                                      <div  class="row documentCreated">

                                           <span> Created by : {{document.created_by.name}}, {{sendTime(document.created_at)}}</span>  
                                      </div>

                              </div>
                              
                              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 sizeRow" ng-mouseover="checkForWhoLocked(document)">
                                  <a ng-click="makeCurrentVersion(document)" style="border-bottom: 2px dotted #6A6C6F; */
      /* padding: 2px; */
      border-bottom: dashed 2px rgba(79, 84, 90, 0.49);
      /* padding: 5px; */
      display: inline-block;">Make this as current version</a>
                              </div>
                                   <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
                                     <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 panelHeaderButtonR">
                                         <span class="badge badge-info  " ng-show="document.versionflag" style="font-size: 9px;border-radius: 0px;
      color: #6A6C78;
      border: 0.5px solid #6A6C78;
      font-weight: 800;background-color: white; ">V{{document.version}}</span>
                                    </div>   
                                      
                                      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 panelHeaderButtonR" ng-hide="document.trash">
                                      <i class="pe-7s-share" tooltip-placement="top-right" uib-tooltip="Share"   ng-click="share(document,document.versionId)" ></i>

                                      <!-- ng-hide=" (document.shareFlag==true)" -->
                                    <!--   <i  class="fa fa-share-alt" aria-hidden="true" tooltip-placement="top-right" uib-tooltip="Share" ng-show=" (document.shareFlag==true)" ></i> -->

                                       </div>                            
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 panelHeaderButtonR">

                                         <i class="pe-7s-download fa-2x  faFontSize"  ng-click="download(document,document.versionId)"></i>
                                    </div>
                                    </div>                            
                        </div>

                      </li>   
                  </ul>
              </div>

          </div>
          </div>
      <!-- Invite list from here -->

  <div class="col-lg-3 col-md-3 col-xs-6 col-sm-6 " ng-hide="checkCurrentDocument('nothing') || checkIfSharedDoc()||checkIfFavDoc()||checkIfSearchDoc()||showversion" > 
              <div class="hpanel hred">
                  <div class="panel-heading hbuilt" style="height:43px" >
                  <!-- class="pull-right" -->
                  <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6 ">Contributors </div>
                  <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 "></div>
                   <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 " style="bottom: 6px;margin-right: 0px; margin-left: 0px;" ng-show="showInvite">
                       <button class="btn btn-primary1 btn-circle1" ng-click="openModalhelp()" style="    padding-top: 0px;margin-top: 5px;outline: none;" ><i class="fa fa-question" aria-hidden="true" ></i>
<!-- </button> -->
                     </div>
                     <div class=" pull-right">
                   <i ng-show="showInvite" class=" fa fa-user-plus fa-2x pointMe" style="font-size:20px" ng-click="openInviteModal()" ></i>
                     </div>  
                  </div>
  <div class="panel-body no-padding">
  <ul class="list-group" style="max-height: 337px;overflow: auto;">
  <li class="list-group-item" ng-repeat="access in currentAccess">
  <div class="media social-profile clearfix">
  <span ng-click="removePolicy(access)" ng-show="canUserRemoveContrib && access.user_id._id !=loggedIn._id" class="pull-right"><i class="pe-7s-close fa-2x"></i></span>
  <a style="padding-right: 10px;">
  <img ng-show="access.avatarflag" ng-init="checkIfImageExists(access,access.user_id.avatar)" ng-src="{{access.user_id.avatar}}" class="img-circle profileSmall" alt="logo"/> 
  <div ng-hide="access.avatarflag" class="profileSmall">
        <span class="centerLetter">{{access.capital}}</span>
  </div>
  </a>
  <a href="" edit-disabled="true"> {{access.user_id.name}} </a> <br>
  <small style="padding-left: 10px;">{{access.policy_id.policy_name}}</small>
      </div>
  </li>
  <!--mamatha -->
  <li class="list-group-item" ng-repeat="group in allinvitegroups">
  <div class="media social-profile clearfix">
  <span ng-click="removeGroup(group,$index)" class="pull-right" ng-show="canUserRemoveContrib && access.user_id._id !=loggedIn._id"><i class="pe-7s-close fa-2x"></i></span>
  <a style="padding-right: 10px;">
  <div class="groupSmall">
      <span class="centerLetter" >{{Capital_frst(group.Name)}}</span>
    </div>
  </a>
  <a href="" edit-disabled="true"> {{group.Name}} </a> <br>
  <small style="padding-left: 10px;">{{group.policy}}</small>
      </div>
  </li>
  <!--mamatha -->
  <li class="list-group-item" ng-show="currentAccess.length==0 && allinvitegroups.length==0">
  `<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" style="border: dashed 2px rgba(79, 84, 90, 0.49);padding: 5px;display: inline-block;text-align: center;
      margin-bottom: 8%;">
    <i ng-show="showInvite" class=" fa fa-user-plus fa-2x pintMe" style="font-size:20px;" ng-click="openInviteModal()" ></i> <br>
    <span ng-show="showInvite"> Click to add  Contributors </span>
    <span ng-show="!showInvite"> You Do Not have permission to Add Contributors</span>
    </div>
  </li> 
  </ul>
  </div>
      <div class="panel-footer">
          <div class="row">
             <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 "> Users : <span class="badge badge-success">{{currentAccess.length}}</span></div>
            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 "> Groups : <span class="badge badge-success">{{allinvitegroups.length}}</span></div>
          </div>
      </div>
      </div>
  </div>
  </div>
  <div style="min-height:200px">
  </div>

          <!-- Right sidebar -->
          <div id="right-sidebar" ng-include="'views/common/right_sidebar.html'" class="sidebar-open" ng-show="rightSidebar"></div>

          <!-- Footer -->
         
      </div>
    </div>
   

      <style>
      .panelHeaderButtonF{
          margin-top:0px;
          margin-bottom: 0px;
          padding-right: 0px;
          cursor: pointer;

      }
      .panelHeaderButtonR{
          margin-top:0px;
          margin-bottom: 0px;
        
          padding-right: 0px;
          cursor: pointer;
          
      }
      .panelHeaderButtonT
      {
              margin-top: -6%;
      }
      .panelHeaderButtonSearch{
          margin-top:3px;
      }
      .faFontSize{
          font-size: 20px;
      }
      .documentName{
          margin-top: -1%;
          font-size: 12px;
          font-weight: 700;
          cursor: pointer;
      }
      .documentCreated{
          font-size: 10px;
          font-weight: 500;
           cursor: pointer;
      }
      .descriptionSize{
          font-width:700;
          padding-left:22%;
           cursor: pointer;
      }
      .sizeRow{
          font-size: 10px;
          margin-top: 1%;
      }
      .lockWeight{
          font-weight: 500;

      }
      .topBarFaIcons{
          font-size: 20px;
      }

      /*Thumbs*/
      .thumbnail{
      position: relative;
      z-index: 0;
      border:none;
      margin-bottom:0px;
       /*pointer-events: none;*/
      }

      .thumbnail:hover{
      background-color: transparent;
      z-index: 50;
      /*border: 1px solid #91D5FB;
      */
      }




      .thumbnail  span{ /*CSS for enlarged image*/
         
          height: 64px;
          width: 64px;
          position: absolute;
          padding: 2px;
          left: -1000px;
          border-style: solid;
          border-color: transparent transparent transparent #FFFFFF;
          border-width: 7px 0 7px 10px;
          position: absolute;
          top: 69px;
          right: 0px;
          height: 0;
          width: 0;
          z-index: 9999;
          visibility: hidden;
          color: black;
          margin-left:-2px;
          text-decoration: none;

      }

      .thumbnail span img{ /*CSS for enlarged image*/

      padding: 2px;
      background: #EAEAEA;
          margin-top: 0px;
          height: 128px;
          width: 128px;
          margin-left: -62px;
      }

      .thumbnail:hover span{ /*CSS for enlarged image on hover*/
      visibility: visible;
      top: 4px;
      left: 34px; /*position where enlarged image should offset horizontally */
      cursor: none;
      }
      .inputHeight{
          height: 28px;
          color: #62CB31;
          /*font-weight: 600;*/

      }
      .progress-small.full.progress.ng-isolate-scope {
        margin-bottom: 0px
      }
      .progress-small, .progress-small .progress-bar {
          height: 6px;
      }
      .profilePic{
              height: 30px;
      width: 30px;
      border-radius: 25px;
      object-fit: fill;
      }
      .sweet-alert button.cancel {
      background-color: #F44336;
      }

      .pointMe{
       cursor: pointer;
      }
      .sweet-alert button.confirm {
      background-color: #62CB31;
      }
      .showNoPaint{
          font-size:0px;
      }
  .status.status-bottom {
      top: auto;
      left: auto;
      bottom: 0;
      right: 0;
  }

  .status {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: .7em;
      height: .7em;
      border: .15em solid #fff;
      border-radius: 50%;
  }
  .bg-success {
      background-color: #64bd63;
  }
     
  md-checkbox .md-container {
      top: 7px;
  }
  md-checkbox.md-checked .md-icon {
      background-color: rgb(98, 203, 49);
  }
  *:focus {
      outline: none;
  }
  md-checkbox{
      margin-bottom: 0px;
  }
  .btn-circle1{
        width: 20px;
    height: 20px;
    padding: 1px 0;
    border-radius: 16px;
    text-align: center;
    font-size: 14px;
  }
  .btn-primary1{
        background-color: #62cb31;
    border-color: #62cb31;
    color: #FFFFFF;
  }


      </style>