<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>
<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<div id="wrapper" ng-controller="usergroupctrl">
	<!-- heading for the manage users -->
	<div small-header class="normalheader transition" ng-init="ManageGroup()">
		<div class="hpanel" tour-step order="1" title="Page header" content="Place your page title and breadcrumb. Select small or large header or give the user choice to change the size." placement="bottom">
			<div class="panel-body">
				<a ng-click="small()" href="">
					<div class="clip-header">
						<i class="fa fa-arrow-up"></i>
					</div>
				</a>
				<div id="hbreadcrumb" class="pull-right m-t-lg">
					<ol class="hbreadcrumb breadcrumb">
						<li ng-repeat="bread in BreadCrumbs" style="cursor:pointer">{{bread}}</li>
					</ol>
				</div>
				<h2 class="font-light m-b-xs">Manage Groups</h2>
			</div>
		</div> 
	</div>
	<!--End of Heading -->
	<!-- Group List will be here -->
	<div class="content" animate-panel effect="fadeInRight">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<!-- <div class="panel-body"> -->
				<div class="hpanel hblue">
					<div class="panel-heading hbuilt">
						<div class="row">
							<div class="col-lg-9">
								<input type="text" class="form-control input-sm m-b-md digi-search"  ng-keypress="valueSearch()" placeholder="Search" data-ng-model="searchText" >
							</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-hide="responseData">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left: 0px;">
									<button class="btn btn-primary" type="button" ng-click="AddGroup()">
										<i class="fa fa-group"></i> Add Group 
									</button>
								</div>
									<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
								<!-- </div> -->
								<!-- <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" ng-click="DeleteGroup()"> -->
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-left: 0px;padding-right: 0px;">
									<i class="fa fa-trash-o fa-2x" ng-click="DeleteGroup()" style="outline: none;margin-top: 5px;margin-left: 3%;" tooltip-placement="top" uib-tooltip="Delete Groups" data-ng-hide="filtered.length==0" ></i>
								</div>								
							</div>
						</div>
					</div>
					<!--End of Heading with search -->
					<!--Begining of Body-->
					<div class="panel-body no-padding">
						<table id="example1" class="footable table table-stripped toggle-arrow-tiny"  data-page-size="100">	
						<thead>
								<tr>
									<th style="padding-left: 50px;"> Group Name</th>
									<th id="nd"></th>
									<th>Description </th>
									<th>Organization</th>
									<th>Setting</th>
									<th id="nd" data-ng-hide="filtered.length ==0">
									<md-checkbox ng-model="selected" ng-change="checkAll(selected,filtered)" ng-true-value=true ng-false-value=false aria-label="Checkbox 1" style="margin-top: 5px;">
									</md-checkbox>
										<!-- <input icheck type="checkbox" 
										ng-model="selected" ng-true-value="true" ng-false-value="false" ng-change="checkAll(selected,filtered)"> -->
									</th>
								</tr>
							</thead>
							
							<tbody>
								<tr ng-repeat="group in groupslist | filter:searchText as filtered">
									<!-- img or first letter -->
									<td id="table">
										<a style="padding-right: 10px;">
											<div class="groupSmall">
												<span class="centerLetter" >{{Capital_frst(group.Name)}}</span>
											</div>
										</a>
										<a href="" edit-disabled="checkdiableUser(group)" editable-text="group.Name" required e-style="width:100px;" onaftersave="groupUpdate(group)">{{group.Name}}</a> <br>
										<small style="padding-left: 10px;">{{sendTime(group.createdAt)}}</small>
										</td>
									<td id="table">
										<a href="" uib-tooltip="Send mail to group"><i class="fa fa-envelope-o"></i></a>
									</td>
									<td id="table">
										<a href="" edit-disabled="checkdiableUser(group)" editable-text="group.Description" required e-style="width:100px;" onaftersave="groupUpdate(group)">
											<div style="min-width: 278px;max-width: 278px;">{{group.Description || 'empty'}}
											</div>
										</a>
									</td>
									<td id="table" ng-init="checkGroupOrg(group)">{{group.organization || 'empty'}}  </td>
											<td id="table">
												<button ng-click="viewGroup(group)">View/Manage Users</button>
											</td>
											<!--checkbox -->
											<td id="table">

											<md-checkbox ng-model="group.isChecked" ng-true-value=true ng-false-value=false ng-change="addOrRemove(group,$index,group.isChecked,filtered)" aria-label="Checkbox 1" style="margin-top: 5px;">
											</md-checkbox>

												<!-- <input icheck type="checkbox" ng-model="group.isChecked" ng-true-value=true ng-false-value=false ng-change="addOrRemove(group,$index,group.isChecked,filtered)" > -->
											</td>	
										</tr>
										<tfoot ng-show="groupslist.length>=100">
											<tr>
												<td colspan="8">
													<!-- <ul class="pagination pull-right"></ul> -->
													<button ng-click="loadgroupMore()" class="btn btn-primary pull-right">Load More<i class="fa fa-angle-double-down"></i>
                    								</button> 
												</td>
											</tr>
										</tfoot>
									</tbody>
								</table>
							</div>
							<!--End of Panel Body-->
							<div ng-show="groupslist.length==0 || filtered.length==0" style=" text-align: center; height:100px; color: rgba(171, 168, 168, 0.69);background: rgba(206, 202, 202, 0.33);">
							<br>
							<no-items title="Groups"></no-items>
						</div>
							<div class="panel-footer">
	                       		Number of Groups :
		                    <span class="badge badge-success">{{groupslist.length}}</span>
	                    </div>
					</div>
				</div>
			</div>
		</div>
		
		<!--End of Group List -->
	</div>
	  <!-- Right sidebar -->
<div id="right-sidebar" ng-include="'views/common/right_sidebar.html'" class="sidebar-open" ng-show="rightSidebar"></div>
	<style>
		#nd span {
			color: white;
		}
		#table{
			vertical-align: middle;
		}
  
	</style>