<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>
<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>
<!-- Main Wrapper -->
<div id="wrapper" ng-controller="usergroupctrl">
    <!-- heading for the manage users -->
    <div small-header class="normalheader transition" ng-init="ManageGroup()">
        <div class="hpanel" tour-step order="1" title="Page header" content="Place your page title and breadcrumb. Select small or large header or give the user choice to change the size." placement="bottom">
            <div class="panel-body">
                <a ng-click="small()" href="">
                    <div class="clip-header">
                        <i class="fa fa-arrow-up"></i>
                    </div> </a>
                    <div id="hbreadcrumb" class="pull-right m-t-lg">
                       <ol class="hbreadcrumb breadcrumb">
                           <li ng-repeat="bread in BreadCrumbs" style="cursor:pointer">{{bread}}</li>
                       </ol>
                   </div>
                   <h2 class="font-light m-b-xs">Manage Groups</h2>
                   <small>{{$state.current.data.pageDesc}}</small>
               </div>
           </div>
       </div>
       <!-- Group List will be here -->
       <div class="content" animate-panel effect="fadeInRight">
          <div class="row">
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!-- <div class="panel-body"> -->
                <div class="hpanel hblue">
                   <div class="panel-heading hbuilt">
                      <div class="row">
                         <div class="col-lg-9">
                             <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table" data-ng-model="searchLength" style="height: 34px;margin-bottom:0px">
                         </div>
                         <div class="col-lg-2" ng-hide="responseData">
                            <button class="btn btn-primary" type="button" ng-click="AddGroup()">
                               <i class="fa fa-group"></i> Add Group 
                           </button>
                       </div>
                       <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="padding-left: 22px;" >
                        <i class="fa fa-trash-o fa-2x" tooltip-placement="top" uib-tooltip="Delete groups" ng-hide="groupslist.length==0" ng-click="DeleteGroup()"></i>
                    </div>
                </div>
            </div>
            <div class="panel-body no-padding">
              <table id="example1" class="footable table table-stripped toggle-arrow-tiny" data-page-size="8" data-filter=#filter>
                 <thead>
                    <tr>
                       <th id="nd" ></th>
                       <th>Group Name</th>
                       <th id="nd" ></th>
                       <th>Description </th>
                       <th>Organization</th>
                       <th>Setting</th>
                       <th id="nd" ng-hide="searchResults || groupslist.length==0"><input icheck type="checkbox" ng-model="selected" ng-true-value=true ng-false-value=false ng-change="Select_AllGrp(selected)"></th>
                   </tr>
               </thead>
               <tbody>
                <tr ng-repeat="group in groupslist | groupOrg:loggedIn | orderBy : 'Name'" ng-init="setCount(group.status)" >
                    <!-- img or first letter -->
                    <td id="table">
                        <div class="groupSmall" style="margin-top: 0px;">
                            <span class="centerLetter" >{{Capital_frst(group.Name)}}</span>
                            </div>
                    </td>
                    <td id="table">
                        <a href="" edit-disabled="checkdiableUser(group)" editable-text="group.Name" e-required e-style="width:100px;" onaftersave="updateGroup(group)">{{group.Name}}</a>
                    </td>
                    <td id="table">
                        <a href="" uib-tooltip="Send mail to group"><i class="fa fa-envelope-o"></i></a>
                    </td>
                    <td id="table">
                        <a href="" edit-disabled="checkdiableUser(group)" editable-text="group.Description" e-required e-style="width:100px;" onaftersave="updateGroup(group)">
                            <div style="min-width: 278px;max-width: 278px;">{{group.Description || 'empty'}}</div></a></td>
                            <td id="table" ng-init="checkGroupOrg(group)">{{group.organization || 'empty'}}  </td>
                            <td id="table">
                               <button ng-click="AddUserToGroup(group)">View/Manage Users</button>
                           </td>
                           <!--checkbox -->
                           <td id="table">
                            <input icheck type="checkbox" ng-model="group.isChecked2" ng-true-value=true ng-false-value=false ng-change="GrpCheck(group,$index)" >
                        </td>	
                    </tr>
                    <tfoot ng-show="(groupslist | groupLength:loggedIn)>=8">
                        <tr>
                            <td colspan="8">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                    </tfoot>
                </tbody>
            </table>
        </div>
        <div ng-show="(groupslist | groupLength:loggedIn)==0"  style="text-align: center;height:100px; color: rgba(171, 168, 168, 0.69);  background: rgba(206, 202, 202, 0.33);">
          <br>
          <h2>No groups to display, please click on Add Group to add</h2>
      </div>
      <div class="panel-footer">
       Number of Groups :
       <span class="badge badge-success">{{groupslist | groupLength:loggedIn }}</span>
   </div>
</div>
</div>
</div>
</div>
<div style="min-height:200px"></div>
<!-- Right sidebar -->
<div id="right-sidebar" ng-include="'views/common/right_sidebar.html'" class="sidebar-open" ng-show="rightSidebar"></div>
</div>