<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>
<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>
<!-- Main Wrapper -->
<div id="wrapper" ng-controller="usergroupctrl">
  <div small-header class="normalheader transition" ng-init="addUserGroup()">
    <div class="hpanel" tour-step order="1" title="Page header" content="Place your page title and breadcrumb. Select small or large header or give the user choice to change the size." placement="bottom">
      <div class="panel-body">
        <a ng-click="small()" href="">
          <div class="clip-header">
            <i class="fa fa-arrow-up"></i>
          </div>
        </a>
        <div>
          <h2 class="font-light m-b-xs">Manage User </h2>
        </div> 
        <div>
          <ol class="hbreadcrumb breadcrumb pull-right" id="hbreadcrumb">
            <li ng-click="clickOnPage(bread)" ng-repeat="bread in BreadCrumbs" style="cursor:pointer"> {{bread}}</li>
          </ol>
          <ol class="pull-left" style="list-style: none;padding-left: 0px;margin-top: 6px;margin-bottom: 0px;">
            <li>{{currentGroup.Name}}</li>
          </ol>          
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="hpanel hblue">
          <div class="panel-heading hbuilt">
            <div class="row">
              <div class="col-lg-9">
                <input type="text" class="form-control input-sm m-b-md" placeholder="Search" data-ng-model="searchUsers" style="height: 34px;margin-bottom:0px">
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-hide="responseData">
               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-left: 0px;padding-right: 0px;">                 
                <button class="btn btn-primary" type="button" ng-click="addUsersToGroup()">
                  <i class="fa fa-group"></i> Add Users 
                </button>
               </div>               
               <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"> </div>
               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-left: 0px; margin-left: 8%; margin-top: 2%;">
               <i class="fa fa-trash-o fa-2x" style="outline: none;"data-ng-hide="filteredUsers.length==0" tooltip-placement="top" uib-tooltip="Delete Users" ng-click="DeleteUsers()">
                </i>
                </div>                
              </div>
            </div>
           </div>

            <div class="panel-body no-padding"> 
              <table id="example1" class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
               <thead>
                <tr>
                  <th style="padding-left: 50px;">Name</th>
                  <th>Email/Username </th>
                  <th>Status</th>
                  <th>Role</th>
                  <th>Organization</th>
                  <!-- ng-hide="selectUserList.length==0 || filteredUsers.length==0"  -->
                  <th id="nd" data-ng-hide="filteredUsers.length==0">
                  <md-checkbox ng-model="select" ng-change="UserRemoveAll(select ,filteredUsers)" ng-true-value=true ng-false-value=false aria-label="Checkbox 1" style="margin-top: 5px;">
                  </md-checkbox>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="users in users_list | orderBy:sortname:true |filter:searchUsers as filteredUsers">
                  <!-- img or first letter -->
                  <td id="table" ng-init="imageExists(users)">
                    <a style="padding-right: 10px;">
                    <div class="profileSmall" ng-hide="users.avatarflag">
                     <span class="centerLetter">{{Capital_frst(users.name)}}</span>
                   </div>
                   <img ng-show="users.avatarflag" ng-src="{{users.avatar}}" alt="logo" class="img-circle m-b profileSmall" >
                   </a>
                   <a e-ng-readonly="true"> {{ users.name || 'empty' }} </a> <br>
                   <small style="padding-left: 10px;">{{sendTime(users.created)}}</small>
                 </td>
                 <!-- email -->
                 <td id="table"><a e-ng-readonly="true" e-required> {{ users.username || 'empty' }} </a></td>
                 <td id="table" ><a e-ng-readonly="true" e-required> {{ showStatus(users) || 'empty' }} </a></td>
                 <!-- status -->
                 <td id="table" ><a e-ng-readonly="true"> {{ users.role }} </a></td>
                 <!-- organisation -->
                 <td id="table"><a  e-ng-readonly="true" e-required> {{ users.organization || 'empty' }} </a></td>
  <!--checkbox -->  
                      <td id="table">
                        <md-checkbox ng-model="users.isChecked" ng-change="addOrRemoveUser(users,$index,user.isChecked)" ng-true-value=true ng-false-value=false aria-label="Checkbox 1" style="margin-top: 5px;">
                        </md-checkbox>                        
                      </td> 
                </tr>
    <tfoot ng-show="users_list.length>=7">
      <tr>
        <td colspan="7">
          <ul class="pagination pull-right"></ul>
        </td>
      </tr>
    </tfoot>
  </tbody>
</table>
</div>
<div ng-show="filteredUsers.length==0" style="text-align: center;height:100px; color: rgba(171, 168, 168, 0.69);  background: rgba(206, 202, 202, 0.33);">
  <br>
  <no-items title="Users"></no-items>
</div>
</div>
</div>
</div>
</div>
</div>

<div style="min-height:200px"></div>
<!-- Right sidebar -->
<div id="right-sidebar" ng-include="'views/common/right_sidebar.html'" class="sidebar-open" ng-show="rightSidebar"></div>
</div>



<style>
  #table{
    vertical-align: middle;
  }
  #image{
    width: 36px;
    height: 36px;
    margin-top: 10px;
    margin-bottom: 0px;
    /*width: 66px;*/
  }
  #button_s{
    padding-left: 0px;
    padding-right: 0px;

  }
  #nd span {
      color: white;
    }
</style>