<div class="col-sm-4" ng-click="obj.value1='set3'" style="outline: none;">
    <div class="hpanel plan-box hblue" ng-class="{active:obj.value1== 'set3'}"> 
        <div class="panel-heading hbuilt text-center">
            <h4 class="font-bold">Premium plan</h4>
        </div>
        <div class="panel-body text-center">
            <i class="pe pe-7s-refresh-cloud big-icon text-info"></i>
            <h4 class="font-bold">
                $30/month
            </h4>

            <p class="text-muted">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
            </p>
            <a  class="btn btn-info btn-sm">Select premium plan</a>
        </div>
    </div>
</div>