 <div class="col-sm-3" ng-click="obj.value1='set4'" style="outline: none;">
    <div class="hpanel plan-box hred" ng-class="{active:obj.value1== 'set4'}">
        <div class="panel-heading hbuilt text-center">
            <h4 class="font-bold">Prestige plan</h4>
        </div>
<div class="panel-body text-center">
    <i class="pe pe-7s-server big-icon text-danger"></i>
    <h4 class="font-bold">
        $40/month
    </h4>

    <p class="text-muted">
        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
    </p>
    <a  class="btn btn-danger btn-sm">Select prestige plan</a>
</div>
    </div>
</div>