<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>
<div id="wrapper" ng-controller="profilecntrl">
<!-- heading for the manage users -->
    <div small-header class="normalheader transition">
        <div class="hpanel" tour-step order="1" title="Page header" content="Place your page title and breadcrumb. Select small or large header or give the user choice to change the size." placement="bottom">
            <div class="panel-body">
                <a ng-click="small()" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div> </a>

                <div id="hbreadcrumb" class="pull-right m-t-lg">
                    <ol class="hbreadcrumb breadcrumb">
                        <li>
                            <a ui-sref="dashboard">Dashboard</a>
                        </li>
                        <li ng-repeat="state in $state.$current.path" ng-switch="$last || !!state.abstract" ng-class="{active: $last}">
                            <a ng-switch-when="false" href="#{{state.url.format($stateParams)}}">{{state.data.pageTitle}}</a>
                            <span ng-switch-when="true">{{state.data.pageTitle}}</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">Profile </h2>
                <small>{{ $state.current.data.pageDesc }}</small>
            </div>
        </div>
    </div>

    <!--tabel-->
<div class="content" animate-panel effect="fadeInRight">
 <div class="hpanel">
  <div class="panel-body">
  <!-- profile tabs -->
    <div class="text-center m-b-md">
     <a ng-click="profile.show(1)||setFlag('propic') ||setFlag('pro_info')" class="btn" ng-class="{ 'btn-primary': step == 1, 'btn-default': step != 1}"> Profile Info</a>
     <a ng-click="profile.show(2) || setFlag('secure') " class="btn" ng-class="{ 'btn-primary': step == 2, 'btn-default': step != 2}"> Security</a>
     <a ng-click="profile.show(3)||setFlag('notify')" class="btn" ng-class="{ 'btn-primary': step == 3, 'btn-default': step != 3}"> Notifications</a>
    </div>

<div class="row">
<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <div class="col-lg-2 col-sm-2 col-md-2 col-xs-2 text-center" ng-click="setFlag('propic')">
<!-- image or 1st letter -->
        <img ng-show="loggedIn.avatarflag" ng-init="checkIfImageExists(loggedIn)" ng-src="{{loggedIn.avatar}}" class="img-circle m-b m-t-md IfImage" alt="logo">
        <div ng-hide="loggedIn.avatarflag" class="avatarMedium">
            <span class="MediumLetter" >{{loggedIn.capital}}</span>
        </div> 
    <!-- camera icon -->
        <div style="margin-left: 70px;" type="file" ngf-select=" " ng-model="profile_info.avatar" ng-change="uploadAvatar(profile_info.avatar,profile_info._id)" ngf-accept="'image/*'" name="file" >
            <i tooltip-placement="top-right" uib-tooltip="Click To Upload Profile Picture" class="pe-7s-camera"  style="font-weight: 900;font-size: x-large;" ng-hide=" progressPercentage<100"></i>
        </div>
    <!-- progress bar -->
        <div class="row"  ng-show="progressPercentage<=100">
            <div class="col-md-12 col-sm-12 col-12 col-xs-12"  >
            <span>Uploading</span>
          <span>{{progressPercentage}}%</span>
          <uib-progressbar value=" progressPercentage" type="warning" class="progress-small full" style=" height: 6px;"></uib-progressbar>
            </div>
        </div>
    </div>
            
    <div class="col-lg-10 col-md-10 col-xs-10 col-sm-10"> 
        <div  ng-show="step == 1" >
        <div class="row" ng-click="setFlag('pro_info')">
            <form name="signupForm" ng-click="setFlag('pro_info')" ng-submit="submitMydata()" novalidate>
                <div class="form-group col-lg-12 col-md-12 col-xs-12 col-sm-12" >
                <label>First Name<span class="text-danger"> *</span></label>
                <input type="text" name="name" class="form-control" ng-model="profile_info.name" ng-minlength="3" placeholder="Enter first name" required/>
                    <p class="noteFont"> {{getfirstName()}}</p>
                </div>

                <div class="form-group col-lg-6 col-md-6 col-xs-6 col-sm-6">
                <label>Last Name</label>
                <input type="text" name="last_name" class="form-control" placeholder="Enter last name" ng-model="profile_info.last_name">
                </div>

                <div class="form-group col-lg-6 col-md-6 col-xs-6 col-sm-6" >
                <label>Email</label>
                <input type="email" name="username" class="form-control" placeholder="Email Address" ng-model="profile_info.username" ng-readonly="profile_info.username" required/>
                </div>
<!-- {{getMobile()}} -->
                <div class="form-group col-lg-6 col-md-6 col-xs-6 col-sm-6" >
                <label>Contact Number<span class="text-danger"> *</span></label>
                <input type="text" name="cell_number" placeholder="Enter contact number" class="form-control" ng-model="profile_info.cell_number" ng-keypress="checkforPhoneError(profile_info.cell_number)" required/>
                <p class="noteFont">{{getnotePhone()}}</p>
                <p class="text-danger"> {{errorMessagephone}}</p>   
                </div>

                <div class="form-group col-lg-6 col-md-6 col-xs-6 col-sm-6">
                <label>Organization</label>
                <input type="text" class="form-control" name="organization" readonly="" ng-model="profile_info.organisation"  placeholder="{{profile_info.organization}}">
                </div>
            </form>
        </div>
    </div>
<!--security form -->
    <div ng-show="step == 2" >
        <div class="row" ng-click="setFlag('secure')" >
            <form name="signupForm" ng-click="setFlag('secure')"  ng-submit="submitMydata()" novalidate>
            <!-- <div class="row"> -->
            <div class="form-group col-lg-12 col-md-12 col-xs-12 col-sm-12" ng-class="{'has-error':formData.password.$invalid && !formData.password.$pristine}">
                <label>Old Password</label>
                <input type="password" id="old_password" class="form-control" name="old_password" ng-model="formData.old_password" placeholder=" Old password" required />
            </div>
                                        
            <div class="form-group col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <label>Password</label>
                <input type="password" id="password" class="form-control" name="password" ng-model="formData.password" placeholder="Password" ng-keypress="testStrength(formData.password);passStrength()" >
                <p class="noteFont">{{note.NOTE_PW}}</p>
            </div>
           
           <div class="form-group col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <label>Confirm Password</label>
            <input type="password" id="password_c" class="form-control" name="password_c" ng-model="formData.password_c" placeholder="Confirm password"  required />
            <p ng-show="formData.password_c!=formData.password" class="text-danger"> {{errorText.PW_NOMATCH}}</p>
            </div>
            
             <div class="form-group col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <label >Strength: 
            <progress min="0" max="4" optimum="2" value="{{strength}}" type="{{strength.type}}" style="width: 282px;height: 7px;" ></progress>
            </label>
            </div>
       <!--  </div> -->
      </form>
    </div>
</div>
<!--Notification page -->
<div ng-show="step == 3">
    <div class="row" ng-click="setFlag('notify')">
        <table  style="width:100%">
        <thead>
           <tr>
              <th style="width: 40%;"></th>
              <th style="width: 38%;"> Email Alerts </th>
              <th style="width: 36%;"> Mobile Alerts </th>
           </tr>
        </thead>
        <tbody style="text-align: left;">
        <tr>
            <td style="padding-bottom: 5px;" > Reminder </td>
            <td> 
                <div class="checkbox col-lg-12 col-md-12 col-xs-12 col-sm-12">
                 <input icheck type="checkbox"  ng-model="notify.notify.reminder.email">
                </div>
            </td>
            <td>
               <div class="checkbox col-lg-12">
                <input icheck type="checkbox"  ng-model="notify.mobile">
               </div>
            </td>
        </tr>
        <tr style=" background-color: ghostwhite;" >
            <td> File/Folder Level Alerts </td>
            <td><div class="checkbox col-lg-12"></div></td>
            <td><div class="checkbox col-lg-12"></div></td>
        </tr>
        <tr>
            <td> Downloads </td>
           <td><div class="checkbox col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <input icheck type="checkbox" ng-model="notify.download_email">
                </div>
            </td>
            <td>
            <div class="checkbox col-lg-12 col-md-12 col-xs-12 col-sm-12">
              <input icheck type="checkbox" ng-model="notify.download_mobile" >
            </div>
            </td>
        </tr>
        <tr>
           <td> Uploads </td>
           <td><div class="checkbox col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <input icheck type="checkbox" ng-model="notify.upload_email">
               </div>
            </td>
            <td >
            <div class="checkbox col-lg-12 col-md-12 col-xs-12 col-sm-12">
              <input icheck type="checkbox" ng-model="notify.upload_mobile">
            </div>
            </td>
        </tr>
        <tr>
            <td> Version Changes</td>
            <td><div class="checkbox col-lg-12 col-md-12 col-xs-12 col-sm-12">
               <input icheck type="checkbox" ng-model="notify.ver_email">
               </div>
            </td>
            <td>
            <div class="checkbox col-lg-12 col-md-12 col-xs-12 col-sm-12">
               <input icheck type="checkbox"  ng-model="notify.ver_mobile">
            </div>
            </td>
        </tr>
     </tbody>
    </table>
   </div>
</div>
<!--submit and cancel buttons -->
    <div class="text-right m-t-xs">
        <button type="submit" class="btn w-xs btn-success" ng-disabled="tenantForm.$invalid" ng-click="submitMydata(user_profile)">Submit</button>
        <button class="btn w-xs btn-danger" type="button" ng-click="cancelFunc()" > Cancel </button>
    </div>
    </div><!--col-md-10 ends here -->
</div>
</div>
</div>
</div>
</div>
 <!--    </div>
    </div> -->
<div style="min-height:200px"></div>
  <!-- Right sidebar -->
<div id="right-sidebar" ng-include="'views/common/right_sidebar.html'" class="sidebar-open" ng-show="rightSidebar"></div>

</div>

<style>
progress {
    /*background-color: #f3f3f3;*/
    border: 0;
    height: 2.5em;
    width: 100%;
}
progress::-webkit-progress-bar {
    background-color: #e0eaf0;
}
progress::-webkit-progress-value {
    background-color: #4CAF50;
}
progress[value^="1"]::-webkit-progress-value
{
   background-color: #d32F2F;
} 
progress[value^="2"]::-webkit-progress-value,
progress[value^="3"]::-webkit-progress-value{
  background-color: #FFEE58;
}
</style>

