<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper" ng-controller="reditCntrl">
<!-- 
 <body bgcolor="#f7f9fa"> -->

<table class="body-wrap" bgcolor="#f7f9fa">
    <tbody><tr>
        <td></td>
        <td class="container" bgcolor="#FFFFFF">

            <div class="content">
                <table>
                    <tbody><tr>
                        <td>
                            <strong>Welcome in email template</strong>
                            <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                            
                            <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</p>
                            <p><a href="#">Follow @email_template on Twitter</a></p>
                        </td>
                    </tr>
                </tbody></table>
            </div>

        </td>
        <td></td>
    </tr>
</tbody>
</table>

<table class="footer-wrap">
    <tbody><tr>
        <td></td>
        <td class="container">

            <div class="content">
                <table>
                    <tbody><tr>
                        <td align="center">
                            <p>Don't like these annoying emails? <a href="#"><unsubscribe>Unsubscribe</unsubscribe></a>.
                            </p>
                        </td>
                    </tr>
                </tbody></table>
            </div>

        </td>
        <td></td>
    </tr>
</tbody>
</table>



</div>
</div>
</div>

<style>
table.body-wrap {
    padding: 20px;
    width: 100%;
}
table.body-wrap .container {
    border: 1px solid #e4e5e7;
}
.body-wrap .container {
    padding: 40px;
}
  .container {
    clear: both !important;
    display: block !important;
    Margin: 0 auto !important;
    max-width: 600px !important;
}
.content {
    display: block;
    margin: 0 auto;
    max-width: 600px;
}
.content table {
    width: 100%;
}
p, ul, ol {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
}
table.footer-wrap {
    clear: both !important;
    width: 100%;
}

</style>