
<div id="header" ng-include="'views/common/header.html'"></div>
<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- <div class="color-line"></div> -->
<!-- Main Wrapper -->
<div id="wrapper" ng-controller="redirectpageCtrl">
  <!-- <div  > -->
    <!-- <br> -->
       <!-- heading for the manage users -->
    <div small-header class="normalheader transition" ng-init="redirectPage()">
        <div class="hpanel" tour-step order="1" title="Page header" content="Place your page title and breadcrumb. Select small or large header or give the user choice to change the size." placement="bottom">
            <div class="panel-body">
                <a ng-click="small()" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div> 
                </a>
        <div id="hbreadcrumb" class="pull-right m-t-lg">
          <ol class="hbreadcrumb breadcrumb">
            <li ng-repeat="bread in userBreadCrumbs" style="cursor:pointer"> {{bread}}</li>
          </ol>
        </div>
        <h2 class="font-light m-b-xs">Applications</h2>
      </div>
    </div>
  </div>

<div class="content">
    <div class="row">
     <!-- <div class=" col-lg-1 col-md-1 col-sm-1 col-xs-1"></div> -->

     <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6" >
      <div class="hpanel hblue">
        <div class="panel-heading hbuilt">

          <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4" style="height: 18px;width: 127px;">
              <span> Application List</span>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
              <input type="search" class="form-control input-xs" placeholder="Search Documents" ng-model="searchText" ng-minlength="0" style="height:25px;margin-top: -0px;border-radius:5px"/>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2" style=" padding-left: 0px;">
              <button class="btn btn-primary btn-sm" ng-click="addApp()">Add Application</button>
            </div>
          </div>

        </div>
        <div class="panel-body" >
          <div ng-hide="appList.length==0" style="text-align: center;">
            <p ng-show="(appList | filter:searchText).length == 0" style="text-align: center;  font-size: 30px;">No results found</p>
          </div>
          <!-- <div class=" col-lg-12 col-md-7 col-sm-12 col-xs-12 " > -->
          <div class="social-talk" ng-repeat="app in appList | filter:searchText as filtered">
            <div class="media social-profile" >

              <div class="media-body" style="padding-top: 6px;">
                <div class="row" >
                  <div  class="col-md-1 col-lg-1"></div>
                  <div class="col-md-1 col-lg-1">
                    <i class="fa fa-globe" style="font-size: x-large;"></i>
                  </div>
                  <div class="col-md-7 col-lg-7" style=" margin-top: -2%;outline: none;" ng-click="editApp(app)" >
                    <span  style="padding-left: 10px;font-weight: 600;">Application Name:</span>
                    <span class="social-content" style="font-weight: 800;" >
                      {{app.name |  limitTo: 25}}
                    </span>
                    <!-- <div> -->
                    <!-- </div> -->
                    <div style="padding-left: 3%;" >
                      <small style="font-weight: 600;">Created At : {{formateDate(app.createdAt)}}</small>
                    </div>
                  </div>

                  <div class="col-md-3 col-lg-3" >
                    <!-- <button class="btn btn-primary active btn-xs" ng-click="editApp(app)"> -->
                    <!-- <i class="fa fa-pencil"></i> -->
                    <i class="fa fa-pencil" ng-click="editApp(app)" style=" font-size: medium;outline: none;" tooltip-placement="right" uib-tooltip="Edit "></i>
                    <!-- </button> -->
                  </div>
                  <!-- <div class="col-md-1 col-lg-1" ></div> -->
                </div>
                <div class="row">
                  <div  class="col-md-1 col-lg-1"></div>
                  <div class="col-md-1 col-lg-1"></div>
                  <div class="col-md-8 col-lg-8 ">
                    <span  ></span>
                    <p class="social-content" style="font-weight: 500;font-size:12px;    padding-left: 6px;" >
                     {{app.description }} 
                   </p>
                   <!-- p style="margin: 0px 11px;font-size: 11px;">  {{app.description}} </p> -->
                 </div>
                 <div class="col-md-2 col-lg-2" ></div>
               </div>
             </div>
             <div class="hr-line-dashed" style="margin-top: 3px; margin-bottom: 0px;    border-top-width: 1px;"></div>
             <!-- </div> -->
           </div>
           <!-- <div class="hr-line-dashed"></div> -->
         </div>
         <!-- </div> -->
         <div ng-show="appList.length==0"  style="text-align: center;height:100px; color: rgba(171, 168, 168, 0.69);  background: rgba(206, 202, 202, 0.33);">
          <br>
          <h2 style="font-size: 22px;">No Applications to display, please click on Add Application to add</h2>
        </div>
      </div>
      <div class="panel-footer">
       No. of Applications: {{appList.length}}
     </div>
   </div>
 </div>

 <!-- edit application -->
 <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-show="editAppflag ">
  <div class="hpanel hblue"  >
    <div class="panel-heading hbuilt" style="padding-bottom: 22px;">
     Editing  Application : {{editApplication.name}}
   </div>
   <div class="panel-body"   >
    <div class="row"  >
      <div class="form-group">
        <label class="col-sm-4 control-label">ClientID:</label>
        <div class="col-sm-8" >
         <!-- <input type="text" class="form-control" value="{{information._id}}" ng-readonly="true"> -->
         <div class="input-group m-b">
          <input type="text" class="form-control" value="{{appdomain._id}}" ng-readonly="true" id="edit1"> <span class="input-group-addon"><button class="btn" ngclipboard data-clipboard-target="#edit1" style="    padding-top: 0px; padding-bottom: 0px; padding-left: 1px;  padding-right:0px; border-bottom-width: 0px; border-top-width: 0px;height: 20px; width:93%;">
          <img src="images/clippy.svg"style="height:20px" tooltip-placement="bottom" uib-tooltip="Click to Copy">
        </button></span></div>
      </div>
    </div>
    <!-- <div class="hr-line-dashed"></div> -->
    <div class="form-group"><label class="col-sm-4 control-label">Client Secret:</label>
      <div class="col-sm-8">
        <div class="input-group m-b">
          <input type="text" class="form-control" value="{{editApplication.clientSecret}}" ng-readonly="true" id="edit"> <span class="input-group-addon"><button class="btn" ngclipboard data-clipboard-target="#edit" style="    padding-top: 0px; padding-bottom: 0px; padding-left: 1px;  padding-right:0px; border-bottom-width: 0px; border-top-width: 0px;height: 20px;width:93%;" tooltip-placement="bottom" uib-tooltip="Click to copy">

          <img src="images/clippy.svg"style="height:20px" >
        </button></span></div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Redirect Url:</label>
      <div class="col-sm-8 col-md-8"  ng-show="Uri.length!=0">
        <div ng-repeat="Ur in Uri track by $index"  >
         <!-- <span href="" editable-text="Ur" e-form="tableform"   e-ng-model="Ur"  e-required> -->
         <a href="" editable-text="Ur" e-required e-style="width:71%;" onaftersave="updateApp(Ur)" >{{ Ur | limitTo:35 }} {{Ur.length < 35 ? '' : '...'}}</a> 
         <br>
       </div>
     </div>
     <div class="col-sm-8" ng-show="Uri.length==0">
       <input type="text" class="form-control" ng-model="Ur" style="width: 100%;">
     </div>
   </div>
   <!-- <div class="hr-line-dashed" ></div> -->
 </div>
 <div class="form-horizontal col-sm-12" style="top: 11px;">
  <div class=" pull-right">
    <button class="btn btn-danger"  ng-click="clearInfo(edit)">Close</button>
    <!-- <button class="btn btn-success" ng-hide="infoFlag" ng-click="addInfo(data)" >Submit</button> -->
    <button class="btn btn-success" ng-show="editAppflag" ng-click="updateApp(Ur)" >Save</button>
  </div>
</div>
<!-- <div class="hr-line-dashed" ></div> -->
<div>
  <!-- </form> -->
  <!-- form -->
</div><!-- panel body -->
</div><!-- hpanel -->
</div><!-- col-8 -->
</div>

<!-- Add client page -->
<div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-show="addAppflag ">
  <div class="hpanel hblue" ng-hide="infoFlag ">
    <div class="panel-heading hbuilt" style="padding-bottom: 22px;">
      Add Application
    </div>
    <div class="panel-body" >
     <form  class="form-horizontal" role="form" name="dataForm" novalidate="novalidate" >
      <!-- add app page -->
      <div class="row"  >
        <!-- <div class="row"> -->
        <div class="form-group"><label class="col-sm-3 control-label">Application Name</label>
          <div class="col-sm-9" ng-class="{'has-error' : dataForm.name.$error.required   && dataForm.submitted || dataForm.name.$error.pattern }">
           <input type="text" class="form-control" ng-model="data.name" ng-pattern="NamePtrn" name="name" style="width:93%;" required/>
           <p class="noteFont">Minimum 3 alphanumeric characters allowed for  name. </p>
           <span class="help-block" ng-show="dataForm.name.$error.required && dataForm.submitted"><i class="fa fa-exclamation-triangle"></i> This field is Required</span>
           <span class="help-block" ng-show="dataForm.name.$error.pattern"><i class="fa fa-exclamation-triangle"></i> Please enter valid user name</span>
         </div>
       </div>
       <div class="col-sm-1"></div>
       <!-- <div> -->
       <div class="hr-line-dashed"></div>
       <div class="form-group"><label class="col-sm-3 control-label">Description</label>
         <div class="col-sm-9">
          <textarea class="form-control digi-textArea"  ng-model="data.description" name="description" style="width:93%;"></textarea>
        </div>
      </div>
      <div class="hr-line-dashed"></div>
    </div>
    <!-- <div class="hr-line-dashed"></div> -->
    <div class="form-horizontal col-sm-12">
      <div class=" pull-right">
        <button class="btn btn-danger"  ng-click="clearInfo(data)">Cancel</button>
        <button class="btn btn-success" ng-hide="infoFlag " ng-click="addInfo(data)" >Submit</button>
        <!-- <button class="btn btn-success" ng-show="infoFlag || editAppflag" ng-click="updateInfo(data)" >Save</button> -->
      </div>
    </div>
  </form><!-- form -->
</div><!-- panel body -->
</div><!-- hpanel -->
</div><!-- col-8 add client-->
<!-- update form -->
<div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-show="infoFlag ">
  <div class="hpanel hblue">
    <div class="panel-heading hbuilt" style="padding-bottom: 22px;">
      Add Application
    </div>
    <div class="panel-body">
      <form class="form-horizontal" role="form" name="updateForm" novalidate="novalidate">
        <div class="row"  >
         <div class="form-group"><label class="col-sm-4 control-label">ClientID:</label>
          <div class="col-sm-8" >
            <div class="input-group m-b">
              <input type="text" class="form-control" value="{{result}}" ng-readonly="true" id="foo1"> <span class="input-group-addon"><button class="btn" ngclipboard data-clipboard-target="#foo1" style="    padding-top: 0px; padding-bottom: 0px; padding-left: 1px;  padding-right:0px; border-bottom-width: 0px; border-top-width: 0px;height: 20px; width:93%;">
              <img src="images/clippy.svg"style="height:20px" >
            </button></span></div>
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-4 control-label">Client Secret:</label>
          <div class="col-sm-8">
            <div class="input-group m-b">
              <input type="text" class="form-control" value="{{information.clientSecret}}" ng-readonly="true" id="foo"> <span class="input-group-addon"><button class="btn" ngclipboard data-clipboard-target="#foo" style="    padding-top: 0px; padding-bottom: 0px; padding-left: 1px;  padding-right:0px; border-bottom-width: 0px; border-top-width: 0px;height: 20px;width:93%;" >
              <img src="images/clippy.svg"style="height:20px" >
            </button></span></div>
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-4 control-label">Redirect Url:</label>
          <div class="col-sm-8">
           <input type="text" class="form-control" ng-model="data.url" style="width:93%;" required/ >
         </div>
       </div>
       <div class="hr-line-dashed"></div>
     </div>
     <div class="form-horizontal col-sm-12">
      <div class=" pull-right">
        <button class="btn btn-danger"  ng-click="clearInfo(data)">Cancel</button>
        <!-- <button class="btn btn-success" ng-hide="infoFlag " ng-click="addInfo(data)" >Submit</button> -->
        <button class="btn btn-success"  ng-click="updateInfo(data)" >Save</button>
      </div>
    </div>
  </form>
</div>
</div>
</div>
</div><!-- controller -->
<div style="min-height:200px"></div>
<!-- Right sidebar -->
<div id="right-sidebar" ng-include="'views/common/right_sidebar.html'" class="sidebar-open" ng-show="rightSidebar"></div>
</div>

<!-- </div> -->
<!-- wrapper -->
</div>

<!-- </div>