  <!-- Header -->
  <div id="header" ng-include="'views/common/header.html'"></div>

  <!-- Navigation -->
  <aside id="menu" ng-include="'views/common/navigation.html'"></aside>

  <!-- Main Wrapper -->
  <div id="wrapper" ng-controller="reportCntrl">
    <div small-header class="normalheader transition">
      <div class="hpanel" tour-step order="1" title="Page header" content="Place your page title and breadcrumb. Select small or large header or give the user choice to change the size." placement="bottom">
        <div class="panel-body">
          <a ng-click="small()" href="">
            <div class="clip-header">
              <i class="fa fa-arrow-up"></i>
            </div>
          </a>
          <h2 class="font-light m-b-xs">
            <!-- Activitylog Reports -->
            {{reportTitle}}
          </h2>
        </div>
      </div>
    </div>
    <!-- <div ></div> -->
    <!--table page-->
    <!-- Group List will be here -->
    <div class="content" animate-panel effect="fadeInRight">
      <div class="row"  ng-hide="showChart==true" >
          <div class="col-lg-3" ng-click="loginChart(login)" style="outline: none;">
            <div class="hpanel">
                <div class="panel-body text-center h-200">
                    <i class="pe-7s-graph1 fa-4x"></i>

                    <h1 class="m-xs">{{TotalLoginCount}}</h1>

                    <h3 class="font-extra-bold no-margins text-success">
                        Login
                    </h3>
                    <!-- <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.</small> -->
                </div>
                <!-- <div class="panel-footer">
                    This is standard panel footer
                </div> -->
            </div>
        </div>
        <div class="col-lg-3" ng-click="activityChart(Activity)" style="outline: none;">
            <div class="hpanel">
                <div class="panel-body text-center h-200">
                    <i class="pe-7s-graph1 fa-4x"></i>

                    <h1 class="m-xs">{{TotalActivity}}</h1>

                    <h3 class="font-extra-bold no-margins text-success">
                        Activity
                    </h3>
                    <!-- <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.</small> -->
                </div>
                <!-- <div class="panel-footer">
                    This is standard panel footer
                </div> -->
            </div>
        </div>
        <div class="col-lg-3" ng-click="useractivityChart(user)" style="outline: none;">
            <div class="hpanel">
                <div class="panel-body text-center h-200">
                    <i class="pe-7s-graph1 fa-4x"></i>

                    <h1 class="m-xs">{{TotalUserCount}}</h1>

                    <h3 class="font-extra-bold no-margins text-success">
                        Users Activities
                    </h3>
                    <!-- <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.</small> -->
                </div>
                <!-- <div class="panel-footer">
                    This is standard panel footer
                </div> -->
            </div>
        </div>
      </div>  

      <!-- second row -->    
        <div class="row"  ng-if="showChart==true">
            <!-- <div class="col-lg-3 col-md-3"></div> -->
            <div class="col-lg-12 col-md-12">
              <div class="hpanel">
                  <div class="panel-heading">
                    
                      <div class="row">

                      
                   <div class="panel-tools" style="bottom: 11px;right: 5px;">                   
                        <i class="fa fa-times" ng-click="check()"></i>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4" ng-show="isuseractivity"><select class="form-control" ng-model="selectedName" ng-options=" user._id as user.name for user in userList" ng-click="selctedUser(selectedName);setNull();">{{selectedName}}</select></div>
                </div>
                  </div>
                  <div class="panel-body">
                    <div>
                      <nvd3 options='options' data='logindata' ></nvd3> 
                      <!--  <nvd3 options='options' data='logindatas' ></nvd3> --> 
                     <!--  <nvd3 options='options' data='activitydata' ng-if="activityFlag"></nvd3>   
                      <nvd3 options='options' data='userActivitydata' ng-if="userActivityFlag"></nvd3> -->                         
                    </div>                    
                  </div>
              </div>
            </div>
        </div>
        <!-- third row -->
        <div class="content" animate-panel effect="fadeInRight" ng-if="showChart==true">
            <div class="row" >
              <div class="hpanel hblue">
               <div class="panel-heading hbuilt">
                 <div class="row">
                   <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="font-size: 16px;font-weight:800;margin-top: 1%;">
                         {{reportTitle}}
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <input type="text" class="form-control input-sm m-b-md digi-search" id="filter" placeholder="Search in table" >
                    </div>
                 </div>
               </div>
                  <div class="panel-body no-padding">
                    <table id="example1" class="footable table table-stripped toggle-arrow-tiny" data-page-size="100">
                          <thead>
                            <tr>
                                <th >Activity</th>
                                <th>Count</th>
                             </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="data in activity_Data">
                              <td>{{data.label}}</td>
                              <td>{{data.value}}</td>
                            </tr>
                          </tbody>
                      </table>
                  </div>
                </div>
            </div>
        </div>
    </div>
  <!-- /<div style="min-height:200px"></div> -->
  <!-- Right sidebar -->
  <div id="right-sidebar" ng-include="'views/common/right_sidebar.html'" class="sidebar-open" ng-show="rightSidebar"></div>
  </div><!--main wrapper-->

  <style>
    #nd span {
      color: white;
    }
    #table{
      vertical-align: middle;
    }
    .no-sort { 
      pointer-events: none!important; 
      cursor: default!important; 
    }
      #chart svg {
      height: 700px;
      width:90%;
      margin:0 auto;
    }
  </style>