 <div class="col-sm-4"  ng-click="obj.value1='set1'" style="outline: none;">
    <div class="hpanel plan-box hgreen " ng-class="{active:obj.value1== 'set1' || selPlan=='Standard Plan Registration'}" >
        <div class="panel-heading hbuilt text-center">
            <h4 class="font-bold">Standard plan</h4>
        </div>
        <div class="panel-body text-center">
            <i class="pe pe-7s-science big-icon text-success"></i>
            <h4 class="font-bold">
                $20/month
            </h4>

            <p class="text-muted">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
            </p>
            <a  class="btn btn-success btn-sm" ng-click="StandardPlan()">Select standard plan</a>
        </div>
    </div>
</div>