<div class="color-line"></div>

<div id="wrapper" style="margin-left:0px">
    <div ng-controller="redirectpageCtrl" >
        <br>
        <div class="col-md-6 col-lg-6 col-md-offset-4 col-lg-offset-4">
         <div class="hpanel hblue">
            <div class="panel-heading hbuilt">
             2Docstore Application List
             <div></div>
            </div>
            <div class="panel-body">
                 <div class=" col-lg-7 col-md-7 col-sm-7 col-xs-7 " >
                          <div class="social-talk" ng-repeat="app in appList">
                                <div class="media social-profile" >
                                  
                                <div class="media-body" style="padding-top: 6px;"><i class="fa fa-globe" style="font-size: x-large;"></i>
                                    <span class="font-bold" style="padding-left: 10px;">Application Name:</span>
                                     <span class="social-content" >
                                        {{app.name}}
                                    </span>
                                    <div style="padding-left: 9%;" >
                                        <small>Created At:{{formateDate(app.createdAt)}}</small>
                                        </div>
                                </div>
                                <div class="hr-line-dashed" style="margin-top: 3px; margin-bottom: 0px;    border-top-width: 1px;"></div>
                              <!-- </div> -->
                            </div>
                             <!-- <div class="hr-line-dashed"></div> -->
                        </div>

                      </div>
            </div>
            <div class="panel-footer">
                {{appList.length}}
            </div>
        </div>
            </div>
          </div>
        </div>
    
    <style>
footer.footer.ng-scope {
    display: none;
}
</style>