<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper" ng-controller="userManagementCtrl">
    <!-- heading for the manage users -->
    <div small-header class="normalheader transition" ng-init="userManage()">
        <div class="hpanel" tour-step order="1" title="Page header" content="Place your page title and breadcrumb. Select small or large header or give the user choice to change the size." placement="bottom">
            <div class="panel-body">
                <a ng-click="small()" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div> 
                </a>
				<div id="hbreadcrumb" class="pull-right m-t-lg">
					<ol class="hbreadcrumb breadcrumb">
						<li ng-repeat="bread in userBreadCrumbs" style="cursor:pointer"> {{bread}}</li>
					</ol>
				</div>
				<h2 class="font-light m-b-xs">User Management</h2>
				<small>{{ $state.current.data.pageDesc }}</small>
			</div>
		</div>
	</div>
	<!-- user List will be here -->
	<div class="content" animate-panel effect="fadeInRight">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<!-- <div class="panel-body"> -->
				<div class="hpanel hblue">
					<div class="panel-heading hbuilt">
						<div class="row">
							<div class="col-lg-10">
								<input type="text" class="form-control input-sm m-b-md digi-search" id="filter" placeholder="Search in table" >
							</div>
							<div class="col-lg-2">
								<button class="btn btn-primary" type="button" ng-click="AddUser()">
									<i class="fa fa-group"></i> Add Users 
								</button>
								<!-- <button class="btn btn-primary" type="button" ng-click="AddGroup()">
									<i class="pe-7s-users"></i> Add Group
								</button> -->
							</div>
						</div>
					</div>
					<div class="panel-body no-padding">
						<table id="example1" class="footable table table-stripped toggle-arrow-tiny" data-page-size="100" data-filter=#filter>
							<thead>
								<tr>
									<th style="padding-left: 50px;">Name</th>
									<!-- <th>Name</th> -->
									<th id="nd" ></th>
									<th>Email/Username </th>
									<th>Status</th>
									<th>Role</th>
									<th>Organization</th>
								</tr>
							</thead>
							<tbody>
								<!-- <tr ng-repeat="users in getUserlists()" > -->
								<tr ng-repeat="users in getUserlists" >
										<!-- img or first letter -->
											<td id="table" ng-init="imageExists(users,users.avatar)">
											<a style="padding-right: 10px;">
											<div ng-hide="users.avatarflag" class="profileSmall">
											<span class="centerLetter" >{{Capital_frst(users.name)}}</span>
											</div>
											<img ng-show="users.avatarflag" ng-src="{{users.avatar}}" alt="logo" class="img-circle m-b profileSmall">
											</a>
											<a href="" edit-disabled="checkdiableUser(users)" editable-text="users.name" e-required e-style="width:100px;" onaftersave="updateUser(users)"> {{ users.name || 'empty' }} </a> <br>
											<small style="padding-left: 10px;">{{sendTime(users.created)}}</small>
											</td>
										<!-- email icons -->

										<td id="table">
										<div class="row">
											<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" >
												<div class="col-md-3 col-sm-3 col-xs-3 col-lg-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 col-lg-offset-3" >
													<a href="" uib-tooltip="Verified User" tooltip-placement="top-right" ng-show="users.security_check.email_verification==true"><i class="fa fa-check-square-o"></i></a>
													<a href="" uib-tooltip="User Not verified" tooltip-placement="top-right" ng-show="users.security_check.email_verification == false"><i class="fa fa-ban"></i></a>
												</div>
												<div class="col-md-3 col-sm-3 col-xs-3 col-lg-3" ng-show="users.security_check.email_verification == false">
													<a href=""  ng-show="users.security_check.email_verification == false" ng-click="sendVerification(users)"><i uib-tooltip="Click to send Verification" tooltip-placement="top-right" class="fa fa-envelope-o"></i></a>
												</div>
											</div>
										</div>
										</td >
										<!-- email -->
										<td id="table"><a e-ng-readonly="true" edit-disabled="checkdiableUser(users)" e-required> {{ users.username || 'empty' }} </a></td>
											<!-- status -->
										<td id="table" ><a href="" editable-select="users.status" e-style="width:100px;" edit-disabled="checkdiableUser(users)" onaftersave="updateUser(users)" e-ng-options="s.value as s.text for s in userstatus" e-required> {{ showStatus(users) || 'empty'  }} </a></td>
										<!-- Role -->
										<td id="table" ng-show="getCurrentUser().role=='admin'" style="text-transform: capitalize;"><a href="" edit-disabled="checkdiableUser(users)" editable-select="users.role" e-style="width:100px;text-transform: capitalize;" onaftersave="updateUser(users)" e-ng-options="g.text as g.text for g in groups" >{{ showGroup(users) }} </a></td>

										<td id="table" ng-show="getCurrentUser().role=='Client Admin'" style="text-transform: capitalize;"><a href="" edit-disabled="checkdiableUser(users)" editable-select="users.role" e-style="width:100px;text-transform: capitalize;" onaftersave="updateUser(users)" e-ng-options="g.text as g.text for g in groups1"> {{ showGroup(users) }} </a></td>
										
										<!-- Organization -->
										<td id="table" ng-show="!checkRole(users)"><a e-ng-readonly="true" edit-disabled="checkdiableUser(users)" e-required> {{ users.organization || 'empty' }} </a></td>
										<!-- <td id="table" ng-show="checkRole(users)"><a href="" edit-disabled="checkdiableUser(users)" editable-text="users.organization" onaftersave ="updateUser(users)" e-style="width:100px;" e-required > {{ users.organization || 'empty' }} </a></td> -->

										<!--by chaitra-->
										<td id="table" ng-show="checkRole(users)"><a href="" edit-disabled="checkdiableUser(users)" editable-select="users.organization" onaftersave ="updateUser(users)" e-ng-options="client.name as client.name for client in clientOrg" e-style="width:100px;" e-required > {{ users.organization || 'empty' }} </a></td>
									</tr>
						<tfoot ng-show="getUserlists.length>=100">
                  			<tr>
	                     		<td colspan="7">
	                            	<!-- <ul class="pagination pull-right"></ul> -->
	                            	<button ng-click="loaduserMore()" class="btn btn-primary pull-right">Load More<i class="fa fa-angle-double-down"></i>
                    </button> 
	                        	</td>
                    		</tr>
                    	</tfoot>
							</tbody>
						</table>
                	</div>
                	<div ng-show="getUserlists.length==0"  style="text-align: center;height:100px; color: rgba(171, 168, 168, 0.69);  background: rgba(206, 202, 202, 0.33);">
                      <br>
                      <h2>No Users to display, please click on Add Users to add</h2>
                    </div>
                   	<div class="panel-footer">
                       		Number of Users :
	                    <span class="badge badge-success">{{getUserlists.length}}</span>
                    </div>
            </div>
        </div>
    </div>
</div>

<div style="min-height:200px"></div>
  <!-- Right sidebar -->
<div id="right-sidebar" ng-include="'views/common/right_sidebar.html'" class="sidebar-open" ng-show="rightSidebar"></div>

</div>
<style>
    .fa-ban:before {
        content: "\f05e";
        color: red;
    }
    .fa-envelope-o:before {
        content: "\f003";
        color: #62cb31;
    }
	#nd span {
	color: white;
    }
	#table{
 	vertical-align: middle;
	}
</style>