<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>
<!-- Main Wrapper -->
<div id="wrapper" ng-controller="usergroupctrl">
        <div small-header class="normalheader transition" ng-init="addGroup1()">
            <div class="hpanel" tour-step order="1" title="Page header" content="Place your page title and breadcrumb. Select small or large header or give the user choice to change the size." placement="bottom">
                <div class="panel-body">
                    <a ng-click="small()" href="">
                        <div class="clip-header">
                            <i class="fa fa-arrow-up"></i>
                        </div>
                    </a>
                    <div id="hbreadcrumb" class="pull-right m-t-lg">
                        <ol class="hbreadcrumb breadcrumb">
                        <li ng-click="clickOnPage(bread)" ng-repeat="bread in BreadCrumbs" style="cursor:pointer;">{{bread}}</li>
                        </ol>
                    </div>
                    <h2 class="font-light m-b-xs">Create Group</h2>   
                </div>
             </div>     
        </div>
<!-- user will be created here -->
    <div class="content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div class="hpanel">
                    <div class="panel-body no-padding">
                        <form role="form" name="GroupForm"  novalidate>
                            <div class="row" style="margin-top: 15px;">
                                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 spac">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 list-group-item">
                                     <!-- group name -->
                                        <div class=" col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                            <div class="form-group">
                                            <label>Group Name<span class="text-danger"> * </span></label>
                                            <div ng-class="{'has-error':GroupForm.name.$error.required && GroupForm.submitted || GroupForm.name.$error.pattern  }">
                                            <input type="text" placeholder="Enter group name" class="form-control" name="name" ng-model="group.Name" ng-pattern="/^[a-zA-Z0-9 _]{3,25}$/"  required/>
                                            <span class="help-block"  ng-show="GroupForm.name.$error.required && GroupForm.submitted "><i class="fa fa-exclamation-triangle"></i> This field is required </span>

                                            <div class="help-block" ng-show="GroupForm.name.$error.pattern"><i class="fa fa-exclamation-triangle"></i> Please enter valid group name </div>
                                        </div>
                                            <p class="noteFont">{{notegroup()}}</p>
                                           <!--  <p class="text-danger" ng-show="GroupForm.name.$error">{{nameErr()}}</p> -->
                                            <!-- <p class="text-danger" ng-show="GroupForm.name.$error.pattern"> {{requiredErr()}} </p> -->
                                            </div>
                                        </div>
                                     <!-- last name -->
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <label>Discription(Optional)</label>
                                                <textarea placeholder="Purpose of the group" class="form-control" name="description" ng-model="group.Description" ng-pattern="" ng-change="">
                                                </textarea>
                                                <p class="noteFont">{{notegroup1()}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="text-right" style="margin-right:15px;margin-bottom:15px;">
                             <button class="btn btn-danger" type="button" ng-click="cancelGroup(group)"><span class="bold">Cancel</span></button>
                             <button  ng-click="groupAdd(group)"  class="btn btn-success" ><span class="bold">Submit</span></button>
                             <button ng-click="oneMoregroup(group)" ng-disabled="GroupForm.$invalid" class="btn btn-primary">Another Group</button>
                        </div>
                    </form>
                  </div>
            </div>
        </div>
    </div>
</div>
<div style="min-height:200px"></div>

  
</div>
  <!-- Right sidebar -->
<div id="right-sidebar" ng-include="'views/common/right_sidebar.html'" class="sidebar-open" ng-show="rightSidebar"></div>

<style>
.noteFont{
    font-size: 11px;
    color: hsla(200, 18%, 46%, 0.84);
    margin-bottom: 0px;
}
.modal-header {
    padding:15px;
    background: #f7f9fa;
}
.userImage{
    height: 30px;
    width: 30px;
    border-radius: 50px;
}
.userNameInvite{
    font-size: 12px;
    font-weight: 700;
}
.emailIDforInvite{
    font-size: 10px;
    font-weight: 500;
}
body.modal-open {
width: 100%;
}
.FirstLetterM  {
    text-align: center;
    float: left;
    width: 30px;
    height: 30px;
    border: 2px solid rgb(218, 218, 218);
    border-radius: 100%;
    margin-right: 7px;
    background-color: rgb(218, 218, 218);
    }
.listOfUser{
    display: block;
    width: 98%;
    height: 100%;
    font-size: 20px;
    line-height: 1.42857143;
    color: #555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #e4e5e7;
    border-radius: 4px;
    }
   .fileViewR1 {
        border: solid 2px #E4E5E1;
        height: 150px;
        width: 130px;
        float: left;
    }
    .fileViewR2 {
        border: solid 2px #E4E5E1;
        height: 46px;
        width: 16px;
        margin-left: 100%;
        border-left-color: white;
        margin-top: 67%;
        border-radius: 5px;
    }
    .fa-ban:before {
        content: "\f05e";
        color: red;
    }
    .fa-envelope-o:before {
        content: "\f003";
        color: #62cb31;
    }
    .avat a {
        text-align: center;
        float: left;
        width: 36px;
        height: 36px;
        /*border: 1px solid #909090;*/
        border: 2px solid rgb(218, 218, 218);
        border-radius: 100%;
        margin-right: 7px;
    }
    .avat a img {
        line-height: 25px;
        color: #909090;
    }
    .FirstLetter  {
    text-align: center;
    float: left;
    width: 36px;
    height: 36px;
    border: 2px solid rgb(218, 218, 218);
    border-radius: 100%;
    margin-left:15px;
    background-color:  rgb(241, 243, 246);
    }
    .FirstLetter   {
        font-size: 20px;
        /*line-height: 38px;*/
        color: #909090;
    }
    #nd span {
    color: white;
    }
    .pagination{
        margin: 0;
    }
    #image{
    width: 36px;
    height: 36px;
    margin-bottom: 0px;
    margin-left:15px;
    }
    #table{
    vertical-align: middle;
    }
</style>