
                       <!--Div to show list of all versions of file clicked -->
        <div class="hpanel hblue" >
            <div class="panel-heading hbuilt">
           <!-- {{ document.documentName}} -->
                <div class="row">

                </div>    
            </div>
            <div class="panel-body no-padding">
                  <ul class="list-group">
                    <!-- Repeat this LI -->
                    <li class="list-group-item" style="padding-left:10px;padding-right:10px" ng-repeat=" document in versionarray"  >
                    <div class="row">
                            <!-- folder icon -->
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 panelHeaderButtonR " ng-click="folderClick(document,$event,document.versionId)">
                                
                            <a ng-show="document.thumbnail_url" ng-init="getThumbnailVersion(document)" class="thumbnail"  style="height:32px;width:32px;    margin-top: -4px;">
                                <img ng-src="{{document.thumbnail_url}}"  style="height:25px;width:25px ;    margin-left: -4px;"/ >
                                <div class="arrow">
                                    <span><img ng-src="{{document.thumbnail_url}}" style="margin-top:-22px" />
                                    </span>
                                </div>
                            </a>  
                                <i class="fa-2x"  ng-show="!document.thumbnail_url" ng-class="findIcon(document)" ></i>
                            </div>
                            <!-- Folder Name and Descripetion -->
                            <!-- ng-init="imageUrl(document,document.versionId)" -->
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"  ng-click="folderClick(document,$event,document.versionId)">
                                 <div  class="row documentName" >
                                        <span>{{ document.documentName | limitTo: 25 }} {{document.documentName.length < 25 ? '' : '...'}} </span>
                                    </div>
                                    <div  class="row documentCreated">
                                         <span> Created by : {{document.created_by.name}}, {{sendTime(document.created_at)}}</span>  
                                    </div>
                            </div>
                            
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 sizeRow" ng-mouseover="checkForWhoLocked(document)">
                                <a ng-click="makeCurrentVersion(document)" style="border-bottom: 2px dotted #6A6C6F; */ /* padding: 2px; */ border-bottom: dashed 2px rgba(79, 84, 90, 0.49); /* padding: 5px; */ display: inline-block;">Make this as current version</a>
                            </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
                                   <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 panelHeaderButtonR" style="padding-left: 0px;">
                                       <span class="badge badge-info  " ng-show="document.versionflag" style="font-size: 9px;border-radius: 0px;    color: #6A6C78; border: 0.5px solid #6A6C78; font-weight: 800;background-color: white; ">V{{document.version}}</span>
                                  </div>        
                                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 "></div>                         
                                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 panelHeaderButtonR" style="padding-left: 0px;">
                                       <i class="pe-7s-download fa-2x  faFontSize"  ng-click="download(document,document.versionId)"></i>
                                  </div>
                                </div>                            
                      </div>

                    </li>   
                </ul>
            </div>

        </div>

        <style>
        .panelHeaderButtonR{
        margin-top:0px;
        margin-bottom: 0px;
      
        padding-right: 0px;
        cursor: pointer;        
    }
    .Button{
    	padding-left: 25px;
    padding-right: 0px;
    }
    

        </style>