	<div class ="row">
	<div class="col-md-10 text-right">
	<span class="pull-right">
	            <!-- <img src="images/comodo.png">  --> 
	           <img style="max-height: 23px;margin-left: 24%;max-width: 76px;" ng-src="images/motomoney.d763cef6.png"/>
	        </span>
	Powered By Novaders LLP <br/>
	</div>
	</div>
