<div ng-controller="rightNavCtrl">
    <div class="p-m" >
        <button id="sidebar-close"tooltip-placement="right" uib-tooltip="Close Activity Log"  class="sidebar-button btn btn-default m-b-md" ng-click="$root.rightSidebar = false; setActivity()" ><i
            class="pe pe-7s-close"></i>
        </button>
        <div>
           <span class="digi-bold no-margins"> Space usage Information </span>   
       </div>
       <div class="row m-t-sm m-b-sm" ng-init="giveWidth();">
        <!--Here i have changes things. In the name of holy batman  -->
        <div class="col-lg-6">
            <h5 class="font12 no-margins font-extra-bold text-success">{{space | bytes}}</h5>
            <div class="digi-bold">Used <i class="fa fa-level-up text-success"></i></div>
        </div>
        <div class="col-lg-6">
            <h5 class="font12 no-margins font-extra-bold text-success">{{allottedspace | bytes }} </h5>
            <div class="digi-bold ">Alloted <i class="fa fa-level-up text-success"></i></div>
        </div>
    </div>
    <div class="progress m-t-xs full progress-small" >
        <div  style="width:{{width}}% " aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" role="progressbar"
        class=" progress-bar progress-bar-success">
            <span class="sr-only">35% Complete (success)</span>
        </div>
    </div>
</div>
<div class="p-m bg-light border-bottom border-top">
    <div class="row digi-center">
        <span class="digi-bold no-margins digi-sm-heading"> Activity Logs </span>
    </div>
    <div class="m-t-md" >
        <div class="social-talk" ng-repeat="activity in activityLog track by activity._id ">
            <div class="media social-profile clearfix" ng-init="locationString(activity)">
                <a class="pull-left" >
                    <img ng-show="activity.who.avatarflag" ng-init="checkIfImageExists(activity.who,activity.who.user_avatar)" class="img-circle " ng-src="{{activity.who.user_avatar}}" alt="logo">
                    <div ng-show="activity.who.avatarflag" ng-class="checkIfloggedIn(activity)"style=" height: 10px;width: 10px;border-radius: 50px;margin-left: 65%;margin-top: -33%; position: relative;border: 2px solid white;">
                    </div>
                    <div ng-hide="activity.who.avatarflag" class="profileSmall">
                        <span class="centerLetter">{{activity.who.capital}}</span>
                    </div>
                    <div ng-hide="activity.who.avatarflag" ng-class="checkIfloggedIn(activity)" style="   height: 10px;width: 10px;border-radius: 50px; margin-left: 65%;margin-top: 65%;  position: relative;border: 2px solid white;">
                     </div>
                </a>
                
                <div class="media-body" style="word-break: break-all;">
                    <span class="digi-bold ">{{activity.who.user_name}}</span>
                    <small class="text-muted">{{getTime(activity.when)}}</small>
                    <div class="social-content" ng-bind-html="getActivitytype(activity)" >
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="activityLog.length>=10"   style="text-align:right;">
            <button ng-click="loadMore()" ng-hide="activityLog.length>=50" class="btn btn-primary active btn-xs">Click to View More <i class="fa fa-angle-double-down"></i></button>
        </div>
        <div ng-show="activityLog.length>=50" style="text-align:right;">
            <button ng-click="$root.rightSidebar = false;reportPage()" class="btn btn-primary active btn-xs">Reports</button>
        </div>
    </div>
</div>
</div>


